html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none
}

@font-face {
    font-family: "Proxima Nova";
    src: url("ProximaNova-Bold.eot");
    src: url("ProximaNova-Bold.eot?#iefix") format("embedded-opentype"),
        url("ProximaNova-Bold.woff2") format("woff2"),
        url("ProximaNova-Bold.woff") format("woff"),
        url("ProximaNova-Bold.ttf") format("truetype"),
        url("ProximaNova-Bold.svg#ProximaNova-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("ProximaNova-Regular.eot");
    src: url("ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),
        url("ProximaNova-Regular.woff2") format("woff2"),
        url("ProximaNova-Regular.woff") format("woff"),
        url("ProximaNova-Regular.ttf") format("truetype"),
        url("ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("ProximaNova-Semibold.eot");
    src: url("ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"),
        url("ProximaNova-Semibold.woff2") format("woff2"),
        url("ProximaNova-Semibold.woff") format("woff"),
        url("ProximaNova-Semibold.ttf") format("truetype"),
        url("ProximaNova-Semibold.svg#ProximaNova-Semibold") format("svg");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
  

:root {
    --box-width: 300px;
    --gutter-x: 2rem;
    --gutter-s-x: 1rem;
    --gutter-xs-x: .7rem;
    --green: #35b729;
    --bg-primary: #0d1117;
    --bg-secondary: #161b22;
    --border-primary: #30363d;
    --dark: #212529;
    --light: #ccc;
    --white: #ffffff;
    --grey: #424242;
    --radius-io: .5rem;
    --shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 20px 2px rgb(0 0 0 / 25%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
    --shadow-sm: box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
    --transition: all .3s ease-in-out
}

@media (min-width:576px) {
    :root {
        --box-width: 200px
    }
}

@media (min-width:992px) {
    :root {
        --box-width: 230px
    }
}

body {
    background-color: var(--bg-primary);
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
}

* {
    font-family: "Proxima Nova", sans-serif;
    scroll-behavior: smooth;
    color: var(--white)
}

*,
::after,
::before {
    box-sizing: border-box
}

a {
    color: var(--green)
}

img {
    max-width: 100%;
    height: auto;
    display: block
}

h1 {
    font-size: calc(1.5rem + .6vw);
    color: var(--green);
    line-height: 1.1
}

.h2,
h2 {
    font-size: calc(1.2rem + .5vw);
    font-weight: 600
}

.h3,
h3 {
    font-size: calc(1.1rem + .25vw);
    font-weight: 600
}

.h4,
h4 {
    font-size: calc(1rem + .25vw);
    font-weight: 600
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1rem 0 .6rem 0
}

p {
    margin-bottom: 1rem;
    margin-top: 0
}

.p,
p {
    font-size: .95rem
}

div,
p {
    line-height: 1.5
}

.fw_600 {
    font-weight: 600
}

figure {
    margin: 0
}

button {
    cursor: pointer
}

button:focus:not(:focus-visible) {
    outline: 0
}

.small-text {
    font-size: .8rem;
    color: var(--light);
    line-height: 1.2;
    display: block
}

.main-content section h2 {
    padding: 4rem 0 1rem .2rem
}

.next {
    width: 48px;
    display: block;
    margin: 0 auto;
    animation: fadeInDown 1.5s linear 0s infinite both;
    -webkit-animation: fadeInDown 1.5s linear 0s infinite both
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.container {
    width: 100%;
    padding-right: var(--gutter-xs-x);
    padding-left: var(--gutter-xs-x);
    margin-right: auto;
    margin-left: auto
}

@media (min-width:768px) {
    .container {
        max-width: 760px;
        padding-right: 0;
        padding-left: 0
    }
}

@media (min-width:992px) {
    .container {
        max-width: 950px
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1160px
    }
}

.btn {
    display: inline-block;
    line-height: 1;
    color: var(--dark);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background: var(--green);
    border: 1px solid transparent;
    padding: .8rem .9rem .8rem .9rem;
    font-size: 1rem;
    border-radius: var(--radius-io);
    transition: var(--transition);
    font-weight: 700
}

.btn:focus {
    box-shadow: 0 0 0 .25rem rgb(53 183 41 / 25%);
    outline: 0
}

.btn-shadow,
.btn:active,
.btn:hover {
    box-shadow: var(--shadow)
}

.btn:hover {
    transition: var(--transition);
    background-color: transparent;
    border-color: var(--green);
    color: var(--green);
}

.site-nav {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    background-color: var(--bg-secondary);
}

.site-header {
    display: grid;
    align-items: center;
    padding-top: .4rem;
    padding-bottom: .4rem
}

.site-header .logo {
    grid-area: 1 / 1;
}

.site-header .logo a {
    display: inline-block;
}

.site-header .hamburg {
    grid-area: 1 / 2 / 1 / 4;
    background-color: transparent;
    border: none;
    color: transparent;
    text-align: -webkit-right;
    margin-left: auto;
}

.site-header .hamburg:after {
    background-image: url(../images/menu-outline.svg);
    background-size: 26px;
    width: 26px;
    height: 26px;
    content: "";
    display: block;
    transition: var(--transition);
}

.site-header .hamburg.active:after {
    background-image: url(../images/cross.svg) !important;
    transform: rotate(45deg);
}

.site-header .navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

.site-header .navbar ul li {
    padding: 1rem 0
}

.site-header .navbar ul li a, .site-header .navbar ul li span {
    padding: 0 .5rem;
    color: var(--white);
    text-decoration: none;
    font-weight: 600;
    z-index: 1;
    cursor: pointer;
}

.site-header .navbar ul li a:hover {
    color: var(--green)
}

.box-type {
    background-color: var(--bg-secondary);
    border-radius: var(--radius-io);
    padding: 1rem .8rem;
    position: relative;
    box-shadow: var(--shadow)
}

.box-type-simple {
    border: solid 1px var(--border-primary);
    border-radius: var(--radius-io)
}

.list-page-header {
    background-color: var(--bg-secondary);
    padding: 1.4rem 0;
    margin-bottom: 4rem
}

@media (max-width:785px) {
    .site-header .navbar {
        max-height: 0;
        overflow: hidden;
        transition: max-height .35s ease-in-out;
        border-top: none;

    }
}

@media (min-width:786px) {
    .site-header .hamburg {
        display: none
    }
    .site-header .navbar {
        text-align: right;
        grid-area: 1 / 2 / 1 / 4;
    }
    .site-header .navbar ul {
        display: block
    }
    .site-header .navbar ul>li:not(.site-header .navbar ul li ul li) {
        display: inline-block;
        padding: 0 .6rem;
    }
    .list-page-header {
        padding: 3rem 2rem;
        margin-bottom: 4rem
    }
}

.site-header .has-submenu {
    position: relative;
}

.site-header .has-submenu .submenu {
    z-index: 2;
    background-color: var(--bg-primary);
    margin-top: 1.1rem;
    transition: var(--transition);
}

.has-submenu button {
    background-color: transparent;
    border: 0;
    font-weight: 600;
    display: grid;
    grid-template-columns: auto auto;
}

.site-header .has-submenu button:after {
    background-image: url(../images/down-flat.svg);
    content:"";
    background-size: 24px;
    height: 24px;
    width: 24px;
    transition: var(--transition);
    background-position-y: -2px;
}

.has-submenu button:hover, .has-submenu button:active, .has-submenu button:focus {
    color: var(--green);
}

.has-submenu  .dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .35s ease-in-out;
    border-top: none;
    position: absolute;
}

.site-header .navbar ul .submenu li {
    display: block;
    text-align: left;
    padding: 0;
}

.site-header .navbar ul .submenu li a {
    padding: .4rem 2.8rem .4rem .8rem;
    display: block;
    border-bottom: solid 1px var(--border-primary);
    transition: var(--transition);
    line-height: 1.8;
}

.site-header .navbar ul .submenu li:last-child  a {
    border-bottom: 0;
}

.site-header .navbar ul .submenu li a:hover {
    background-color: var(--green);
    color: var(--bg-primary);
}

.profile-main-grid {
    display: grid;
    grid-gap: var(--gutter-s-x);
    width: 100%;
    grid-template-columns: 240px auto;
    padding-top: 2rem
}

.profile-image {
    grid-row: 1;
    grid-column: 1/6
}

.profile-header {
    grid-row: 2;
    grid-column: 1/6
}

.profile-content {
    grid-column: 1/6;
    display: grid;
    grid-row-gap: 1.4rem;
}

@media (min-width:576px) {
    .profile-image {
        grid-column: auto
    }
    .profile-header {
        grid-row: 1;
        grid-column: 2/6
    }
    .profile-main-grid {
        grid-gap: var(--gutter-x);
        padding-top: 4rem
    }
}

@media (min-width:1200px) {
    .profile-content {
        grid-column: 2/6
    }
}

.profile-header dl, .profile-header dl div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.profile-header dl div, .profile-header dl div dt, .profile-header dl div dd {
    flex: 0 0 auto;
}

.profile-header dl div {
    border-bottom: solid 1px var(--border-primary);
    padding: .8rem 0 .4rem 0;
}

.profile-header dl div dt {
    width: 40%;
}

.profile-header dl div dd {
    width: 60%;
    margin-left: auto;
}

.profile-header dl div.game dd {
    display: list-item;
}

@media (min-width: 786px) {
    .profile-header dl div {
        width: 50%;
    }    
}

.social img {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: .4rem;
    margin-top: 1rem
}

.profile-image {
    text-align: center;
    text-align: -webkit-center;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0;
    align-self: baseline
}

.profile-image picture {
    display: block;
    padding-top: 1.4rem;
    line-height: 0
}

.profile-image img {
    border-radius: 50%;
    width: 220px;
    height: 220px;
    margin: 0 auto;
}

.profile-image figcaption {
    padding: 1rem 0
}

@media (min-width:576px) {
    .profile-image picture {
        padding-top: 0
    }
    .profile-image img {
        width: 240px;
        height: 240px;
        border-radius: 0;
        border-top-left-radius: var(--radius-io);
        border-top-right-radius: var(--radius-io)
    }
}

.profile-content .inner-section h2 {
    margin: .6rem 0 1.3rem .2rem;
    font-size: calc(1.2rem + .2vw);
}

.profile-table .specs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--gutter-xs-x)
}

.profile-table .specs section {
    border: solid 1px var(--border-primary);
    box-shadow: inset 0 0 50px 10px rgb(0 0 0 / 8%);
    text-align: center;
    padding: .6rem .4rem;
}

.profile-table .specs section:hover {
    background-color: var(--bg-primary);
    border-color: var(--green)
}

.profile-table .specs section .p {
    color: var(--green);
    margin-bottom: 0;
}

.profile-table .specs section:hover .p {
    text-decoration: underline
}

.profile-table .specs section .h4 {
    text-transform: uppercase;
    letter-spacing: .05rem;
    margin-top: 0;
}

.profile-table .specs img {
    width: 130px;
    height: 130px;
    margin: 0 auto;
}

@media (min-width:576px) {
    .profile-table .specs {
        grid-template-columns: repeat(2, 1fr)
    }
    .profile-table .specs img {
        width: 150px;
        height: 150px;
    }
}

@media (min-width:992px) {
    .profile-table .specs {
        grid-template-columns: repeat(3, 1fr)
    }
}

@media (min-width:1200px) {
    .profile-table .specs {
        grid-template-columns: repeat(3, 1fr)
    }
    .profile-image {
        position: sticky;
        top: 0
    }
}

.toggles .accordion-wrapper:not(.accordion-wrapper:last-child) {
    margin-bottom: 1rem
}

.accordion,
.accordion-wrapper {
    border: solid 1px var(--border-primary);
    border-radius: var(--radius-io);
    background-color: var(--bg-secondary)
}

.accordion {
    border: 0;
    margin: 0;
    padding: 1rem;
    transition: var(--transition);
    font-size: calc(1rem + .2vw);
    color: var(--light);
    line-height: 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion:after {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    content: "";
    background-image: url(../svg/down-arrow-flat.svg);
    background-repeat: no-repeat;
    background-size: 1rem;
    transition: transform .2s ease-in-out;
}

.accordion.active:after {
    transform: rotate(-180deg)
}

.accordion.active,
.accordion:hover {
    background-color: var(--bg-primary);
}

.accordion button {
    background-color: inherit;
    border: 0;
    color: inherit;
    padding: 0;
    text-align: left;
    line-height: 1.4;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .35s ease-in-out;
    border-top: none;
}

.accordion-content .accordion-content-inner {
    padding: 1rem;
    margin: 0;
    line-height: 1.3
}

.profile-content .accordion-section {
    padding: 0;
}

.profile-content .accordion-section h2 {
    margin: 0;
    grid-row: 1;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 5px;
}

.table td,
.table th {
    border-bottom: solid 1px var(--border-primary);
    padding: .8rem 0 .5rem;
    text-align: left
}

.table tbody th,
.table tfoot th {
    font-weight: 600
}

.table .table-head th {
    padding-top: 1.8rem;
    padding-bottom: .8rem;
    font-weight: 700
}

.table thead .table-head th {
    padding-top: .8rem
}

.wiki {
    padding: 0 .3rem
}

.icon-head {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.gaming:after {
    content: "\1F3AE";
}

.thinking:after {
    content: "\1F4AD";
}

.list-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--gutter-s-x);
    text-align: center;
    position: relative
}

.list-grid .box-type {
    padding: 0;
    border: solid 1px var(--border-primary)
}

.list-grid h3 {
    margin: .6rem 0;
    transition: var(--transition)
}

@media (min-width:586px) {
    .list-grid {
        grid-template-columns: repeat(3, 1fr)
    }
}

@media (min-width:786px) {
    .list-grid {
        grid-template-columns: repeat(4, 1fr)
    }
}

@media (min-width:992px) {
    .list-grid {
        grid-template-columns: repeat(5, 1fr)
    }
}

.pagination {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem
}

.pagination span.step-links {
    background-color: var(--bg-secondary);
    display: inline-grid;
    border: solid 1px var(--border-primary);
    border-radius: var(--radius-io);
    grid-auto-flow: column
}

.pagination span.step-links a,
.pagination span.step-links span {
    text-decoration: none;
    border-right: solid 1px var(--border-primary);
    padding: .5rem .75rem;
    text-transform: capitalize
}

.pagination span.step-links a:last-child {
    border-right: 0;
    border-top-right-radius: var(--radius-io);
    border-bottom-right-radius: var(--radius-io)
}

.pagination span.step-links a:first-child {
    border-top-left-radius: var(--radius-io);
    border-bottom-left-radius: var(--radius-io)
}

.pagination span.step-links a:hover {
    background-color: var(--border-primary)
}

.home-hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--gutter-x);
    padding: 1.4rem 0;
    align-items: center
}

.home-hero .left h1 {
    color: var(--white);
}

.left form,
.searched form {
    width: 100%;
    position: relative
}

input {
    padding: .5rem .375rem .5rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    line-height: 1.5;
    border-radius: var(--radius-io);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border: solid 1px var(--border-primary);
    background-color: var(--bg-primary);
    color: var(--white)
}

input:hover {
    border-color: var(--green)
}

input:focus {
    box-shadow: 0 0 0 .25rem rgb(53 183 41 / 35%);
    border-color: var(--green);
    outline: 0
}

.left button,
.searched button {
    position: absolute;
    top: 0;
    right: 0;
    padding: .75rem .8rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.btn-group {
    margin-top: 1.4rem
}

.btn-group p {
    color: #ccc
}

.btn-group .btn {
    padding: .8rem .5rem;
    background: transparent;
    border-bottom-color: var(--green);
    color: var(--green);
    border-radius: 0;
    font-size: .85rem;
    line-height: 0;
    margin-right: .3rem
}

.right img {
    width: 338px;
    height: 190px;
}

@media (min-width:786px) {
    .home-hero {
        grid-template-columns: 1fr 1fr;
        padding: 4rem 0
    }
    .left form,
    .searched form {
        width: 80%
    }
    .right img {
        width: 564px;
        height: 318px;
    }
}

.news .list-grid {
    text-align: left;
    grid-gap: var(--gutter-xs-x)
}

.news .list-grid h3 {
    margin: 0 0 .4rem;
    line-height: 1.3;
    font-size: 1.1rem
}

.news .box-type-simple {
    padding: 1rem
}

@media (max-width:480px) {
    .news .list-grid {
        grid-template-columns: repeat(1, 1fr)
    }
}

@media (min-width:786px) {
    .news .list-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: var(--gutter-s-x)
    }
}

@media (min-width:1200px) {
    .news .list-grid {
        grid-template-columns: repeat(4, 1fr)
    }
}

.new-single {
    padding: 2rem 0
}

.news-description img {
    width: 600px;
    height: auto;
    display: block
}

@media (min-width:586px) {
    .new-single {
        max-width: 800px;
        margin-right: auto
    }
}

.section-button {
    margin-top: 2.6rem;
    text-align: center;
}

.site-footer {
    border-top: solid 1px var(--border-primary);
    padding-top: 3rem;
    padding-bottom: 2rem;
    display: grid;
    grid-gap: var(--gutter-x);
    margin-top: 3rem
}

.site-footer ul {
    margin-top: 0;
    padding-left: .2rem;
    list-style: none;
    line-height: 2
}

.site-footer a {
    color: var(--light);
    text-decoration: none
}

.site-footer a:hover {
    color: var(--green)
}

.footer-logo {
    display: block;
}

.site-footer>div>h3 {
    margin-bottom: 1rem
}

.footer-icons {
    border: solid 1px var(--border-primary);
    line-height: 0;
    display: inline-block;
    margin-top: 1.6rem;
    border-radius: var(--radius-io);
    transition: var(--transition);
}

.footer-icons .social {
    border-right: solid 1px var(--border-primary);
    display: inline-block;
    line-height: 0;
    padding: .6rem;
}

.footer-icons .social:hover {
    background-color: var(--bg-secondary);
}

.footer-icons .social:first-child {
    border-bottom-left-radius: var(--radius-io);
    border-top-left-radius: var(--radius-io);
}

.footer-icons .social:last-child {
    border-right: 0;
    border-bottom-right-radius: var(--radius-io);
    border-top-right-radius: var(--radius-io);
}

.footer-icons .social img {
    margin: 0;
}

.hidden {
    clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px
}

.disclosure {
    padding-top: 1rem;
    padding-bottom: 1rem
}

@media (min-width:786px) {
    .site-footer {
        grid-template-columns: repeat(3, 1fr)
    }
}

.link-box {
    transition: var(--transition);
    position: relative
}

.link-box .link-text {
    color: var(--green);
    transition: var(--transition)
}

.link-box a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    height: -webkit-fill-available;
    height: 100%;
    transition: var(--transition);
}

.link-box:hover {
    border-color: var(--green)
}

.link-box:hover .link-text-hover {
    color: var(--green);
    transition: var(--transition)
}

.link-box img {
    border-top-left-radius: var(--radius-io);
    border-top-right-radius: var(--radius-io)
}

.wiki table {
    width: 100% !important;
    border-collapse: collapse;
    text-align: left
}

.wiki td,
.wiki th {
    border: solid 1px var(--border-primary);
    padding: .4rem .6rem
}

.searched {
    max-width: 800px;
        margin-right: auto;
    margin-top: 60px
}

.searched-list {
    padding-top: 4rem
}

@media (max-width:500px) {
    .main-content .ps-home h2 {
        padding-top: 2rem
    }
    .searched {
        margin-top: 25px
    }
}

span.table-game {
    display: block;
}

span.faq-game:after {
    content: ",";
}

span.faq-game:last-child:after {
    content: ".";
}