html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  display: block;
}


hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; 
  font-size: 100%; 
  line-height: 1.15; 
  margin: 0;
}


button,
input {
  overflow: visible;
}


button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}


fieldset {
  padding: 0.35em 0.75em 0.625em;
}


legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}


progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}


summary {
  display: list-item;
}

template {
  display: none;
}


[hidden] {
  display: none;
}

:root {
  --primary: #4be16a;
  --primary-on-light: #005318;
  --primary-on: #00390e;
  --secondary: #35b729;
  --primary-surface: #17181a;
  --secondary-surface: #111;
  --grey: #484848;
  --grey-trans: rgb(72 72 72 / 52%);
  --white: #e2e2e6;
  --white-dull: #9d9d9d;
  --space-s: .5rem;
  --transition: all .3s ease-in-out;
  --radius: 9px;
  --shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 20px 2px rgb(0 0 0 / 25%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

/* #e2e2e6; */

.primary-color {
  color: var(--primary);
}

*, *:before, *:after {
  box-sizing: inherit;
}

ul {
  list-style: disc outside;
}

dd, ol, ul {
  margin: 0;
  padding-left: 40px;
}

li, li p, p, .intro {
  margin: 12px 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
}

.calm-list li {
  margin: 8px 0;
  font-size: 15px;
}

.links a {
  background-image: linear-gradient(to right, var(--primary) 33%, #000000 0%);
  background-position: bottom;
  background-size: 3px 1px;
  background-repeat: repeat-x;
  transition: var(--transition);
}

.links a:hover {
  color: var(--primary);
  background-image: linear-gradient(to right, var(--primary) 33%, var(--primary) 0%); 
}

body {
  background-color: var(--primary-surface);
}

#breadcrumb {
  padding: 0;
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

#breadcrumb li {
  font-size: 10px;
  margin: 0;
  line-height: 1;
}

#breadcrumb li::after {
  content: ">>";
  display: inline-block;
  margin: 0 5px;
}

#breadcrumb li:last-child:after {
  content: "";
}

.primary-surface {
  background-color: var(--primary-surface);
}

.secondary-surface {
  background-color: var(--secondary-surface);
}

.border {
  border: solid 1px var(--grey-trans);
}

.border-radius {
  border-radius: var(--radius)
}

.border-primary-hover:hover {
  border-color: var(--primary)
}

.flow-col {
  flex-flow: column;
}

.p-0 {
  padding: 0 !important;
}

.no-border {
  border: 0 !important;
}

.no-border-radius-bottom img, .no-border-radius-bottom picture {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

button {
  cursor: pointer;
}

* {
  color: var(--white);
  text-decoration: none;
  font-family: 'GS-Font', sans-serif;
}

img {
  width: 100%;
  height: auto;
}

picture {
  display: block;
}


.p {
  margin: 0 0 10px;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 400;
}

.p-secondary {
  font-size: 14px;
  line-height: 1.5;
  margin: 0 0 10px;
  font-weight: 400;
}

.m-0 {
  margin: 0;
}

.round {
  border-radius: 50%;
}

.btn {
  background-color: transparent;
  padding: 12px 14px 8px;
  display: inline-block;
  border-radius: var(--radius);
  font-weight: 500;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border: solid 1px transparent;
  font-size: 15px;
}

.btn:focus, .btn:active, .btn:checked {
  box-shadow: 0 0 0 0.25rem rgb(53 183 41 / 25%) !important;
}

.btn-filled {
  background-color: var(--primary);
  color: var(--primary-surface);
}

.btn-filled:hover {
  background-color: var(--secondary);
}

.btn-outline {
  color: var(--primary);
  border-color: var(--primary);
}

.btn-outline:hover {
  background-color: var(--primary-on);
}

.btn-text {
  color: var(--primary);
  border-bottom: dotted 1px var(--primary-on);
  transition: var(--transition);
  display: inline-block;
}

.btn-text:hover {
  border-bottom: solid 1px var(--primary);
}

.btn-text-light {
  color: #fff;
  border-bottom: dotted 1px #fff;
  font-weight: 500;
}

.btn-text-light:hover {
  color: var(--primary);
  border-color: var(--transition);
}

.btn-small {
  font-size: 12px;
  background-color: var(--primary-surface);
  color: var(--white);
  border: solid 1px var(--white);
  text-transform: lowercase;
  padding: 4px 6px;
  border-radius: var(--radius);
}

.small-cta {
  font-size: 12px;
  font-weight: 600;
  background-image: linear-gradient(to right, var(--primary) 33%, #000000 0%);
  background-position: bottom;
  background-size: 3px 1px;
  background-repeat: repeat-x;
  display: inline;
}

.container {
  padding-left: 12px;
  padding-right:  12px;
  margin: 0 auto;
}

@media (min-width: 564px) {
  .container {
    max-width: 520px;
  }
  .p {
    font-size: 17px;
  }
  .p-secondary {
    font-size: 16px;
  }
}

@media (min-width: 786px) {
  .container {
    max-width: 720px;
  }  
}

@media (min-width: 992px) {
  .container {
    max-width: 940px;
  }  
}

@media (min-width: 1200px) {
  .container {
    max-width: 1150px;
  }  
}

@media (min-width: 1400px) {
  .container {
    max-width: 1360px;
  }  
}

.navbar {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-s);
  padding-bottom: 0;
  border-bottom: solid 1px var(--grey);
  background-color: var(--secondary-surface);
}

.top-nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: solid 1px var(--grey);
  margin-top: 6px;
}

.top-nav ul li {
  margin: 0;
}

.top-nav ul li a, .top-nav ul li span, .top-nav ul li ul.sub-menu li a  {
  padding: .7rem 1rem;
  transition: var(--transition);
  border-radius: 0;
  display: block;
  border-bottom: solid 1px var(--grey-trans);
  cursor: pointer;
}

.top-nav ul li ul.sub-menu li:last-child a {
  border-bottom: 0;
}

.close {
  font-size: 11px;
  display: flex !important;
  align-items: center;
  color: red;
}

.close::before {
  content: "X";
    display: inline-grid;
    margin-right: 6px;
    background-color: #111;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    justify-items: center;
    border: solid 1px var(--white);
    font-size: 8px;
    align-items: center;
}

.top-nav ul li a:hover, .top-nav ul li span:hover, .top-nav ul li span.active {
  background-color: var(--grey-trans);
  color: var(--primary)
}

.top-nav ul li ul.sub-menu li a:hover {
  background-color: var(--secondary-surface);
}

.hamburg {
  background-color: transparent;
  border: 0;
}

.top-nav ul li ul.sub-menu {
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: max-height .35s ease-in-out;
  margin: 0;
  position: absolute;
  border-top: 0;
  right: 0;
  background-color: #222;
  box-shadow: var(--shadow);
  width: max-content;
  top: 48px;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  z-index: 3;
}

@media (max-width: 785px) {
  .top-nav {
    max-height: 0;
    overflow: hidden;
    transition: max-height .35s ease-in-out;
    border-top: none;
    grid-column: 1 / 3;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  .top-nav ul li ul.sub-menu {
    top: 150px;
  }
}

@media (min-width: 786px) {
  .navbar {
    padding-bottom: var(--space-s);
  }
  .top-nav ul {
    flex-direction: row;
    border: 0;
  }
  .hamburg {
    display: none;
  }
  .top-nav ul li:not(.top-nav ul li:last-child, .top-nav ul li ul.sub-menu li) {
    margin-right: 20px;
  }
  .top-nav ul li a, .top-nav ul li span {
    display: inline-block;
    padding: .5rem .55rem;
    border-radius: var(--radius);
    border-bottom: 0;
    cursor: pointer;
  }
  .has-sub {
    position: relative;
  }
}

.page-header {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
}


.inline-form {
  position: relative;
}

.inline-form input, .inline-form button {
  padding: 12px;
  border: solid 1px var(--grey);
  background-color: var(--primary-surface);
  border-radius: var(--radius);
  transition: var(--transition);
}

.inline-form input {
  width: 100%;
}

.inline-form button {
  background-color: var(--primary);
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

@media (min-width: 586px) {
  .inline-form input, .inline-form button {
    padding: 14px 18px;
  }
}

.section-spacing {
  padding-top: 25px;
  padding-bottom: 25px;
}

@media (min-width: 586px) {
  .section-spacing {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.section-spacing-top {
  padding-top: 50px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.text-center {
  text-align: center;
}

.featured-section {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-gap: 30px;
  align-items: start;
}

.card-design {
  border-radius: var( --radius);
  display: flex;
  background-color: var( --secondary-surface);
  padding: 10px;
  grid-gap: 20px;
  position: relative;
  transition: var(--transition);
}

.card-image {
  border-radius: var(--radius);
  background-color: #b5b5b5;
  transition: var(--transition);
}

.card-title a {
  font-size: 20px;
}

.card-image, .team-card .card-image {
  width: 156px;
  height: 156px;
}

.team-card picture {
  padding: 10px;
}

.game-item:hover .card-title .abs-link>span, .team-card:hover .card-title .abs-link>span {
  color: var(--primary)
}

.full-name {
  display: block;
  font-weight: 400;
  padding-bottom: 5px;
}

.game-item .card-image {
  height: 208px;
}

.game-item .abs-link>span {
  max-width: 160px;
  display: inline-block;
}

.hidden {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.fimg {
  border: solid 1px;
}

.featured-grid img {
  width: 215px;
}

.list-grid {
  display: flex;
  flex-flow: column;
  grid-row-gap: 20px;
  justify-content: space-between;
}

.card-players p:not(.small-cta) {
  font-size: 14px;
  margin-bottom: 6px;
}

.abs-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.abs-link:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (min-width: 470px) {
  .list-grid {
    flex-flow: unset;
    flex-wrap: wrap;
  }
  .card-content {
    padding: 0;
  }
  .card-design {
    padding: 0;
    flex-flow: column;
    grid-gap: 10px;
  }
  .person-rel {
    justify-content: center;
    margin-bottom: 10px;
  }
  .card-design picture {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-image {
    width: 200px;
    height: 200px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .game-item .card-image {
    height: 277px;
    width: 208px;
  }
  .game-item .card-title, .team-card .card-title {
    text-align: center;
  }
  .hide-desk, .full-name, .name-aka {
    clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .card-players .card-content {
    width: 180px;
    margin: 0 auto;
    padding-bottom: 20px;
  }
}

.heading-para {
  margin-bottom: 30px;
}

.heading-para .heading {
  margin-bottom: 10px;
}

.heading-para .para {
  margin: 0;
  font-size: 15px;
}

@media (min-width: 586px) {
  .heading-para .para {
    font-size: 17px;
  }
}


.team-players-list header img, .team-player img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.team-players-list-section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
}

@media (min-width: 786px) {
  .team-players-list-section {
    grid-template-columns: repeat(3, 1fr);
  }
}

.team-players-list header, .team-player {
  display: flex;
  align-items: center;
  padding: 6px 10px;
  border-bottom: solid 1px var(--grey-trans);
}

.team-player:last-child {
  border-bottom: 0;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.team-player {
  padding: 10px;
  position: relative;
}

.team-player:hover>div * {
  color: var(--primary)
}

.news article {
  position: relative;
}

.news .cats {
  position: absolute;
  top: 8px;
  right: 4px;
  z-index: 2;
}

.cat-head {
  padding-top: 70px;
  padding-bottom: 70px;
}

.cat-head h1 {
  text-align: left;
}

.pc-specs {
  padding-top: 16px;
  padding-bottom: 50px;
}

.profile-w {
  margin: 0 auto;
  padding-right: 12px;
  padding-left: 12px;
  max-width: 502px;
}

.list-4 {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 15px;
}

h1, h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong, h2, h3, h4, h5, h6 {
  font-weight: 500;
  padding-top: 5px;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 16px;
}



.pc-head {
  display: grid;
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
}

.pc-head img, .team-player img {
  border-radius: 50%;
  background-color: var(--white-dull);
}

.pc-head-content span {
  font-size: 12px;
  display: inline-block;
  margin: 8px 0;
}

.pc-tab {
  margin-top: 20px;
  padding: 12px;
  border-radius: var(--radius);
}

figure {
  margin: 0;
  text-align: center;
}

.specs-item {
  flex-flow: column;
  flex: 0 0 auto;
  width: 145px;
  border: solid 1px var(--grey-trans);
  align-items: center;
  padding: 10px 0;
}

.specs-item img {
  width: 134px;
  height: 134px;
  background-color: transparent;
}

.specs-item a {
  font-size: 14px;
  transition: var(--transition);
  display: inline-block;
  width: 140px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.2;
}

.specs-item:hover a {
  color: var(--primary);
}

.external:after {
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-bottom: 1px;
  margin-left: 4px;
  background-color: var(--primary);
  -webkit-mask-image: url(/static/images/external.svg);
  mask-image: url(/static/images/external.svg);
  -webkit-mask-size: cover;
  mask-size: cover;
  content: "";
}

.pc-cost-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.pc-cost-table thead th, .total td, .body-header th {
  color: var(--primary);
  font-weight: 700;
}

.pc-cost-table td, .pc-cost-table th {
  font-size: 14px;
  padding: 12px 8px;
  text-align: left;
  border: solid 1px var(--grey-trans);
}

.pc-cost-table thead th, .body-header th {
  font-size: 16px;
  text-transform: uppercase;
}

.tab-head {
  padding-bottom: 8px;
  margin-bottom: 20px;
  border-bottom: solid 1px var(--grey-trans);
}

.tab-heading, .card-title {
  margin: 0 0 10px;
}

.tab-head-icon {
  display: flex;
}

.tab-head-icon img, .tab-head-icon svg {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.mute {
  font-size: calc(100% - 25%);
  opacity: .8;
  font-weight: 600;
}

.specs .list-grid, .rel-grid {
  grid-gap: 15px;
  justify-content: flex-start;
}

@media (max-width: 500px) {
  .specs .list-grid {
    overflow: scroll;
    flex-flow: row;
    grid-column-gap: 15px;
  }
}

@media (min-width: 786px) {
  .pc-specs {
    padding-top: 30px;
  }
  .profile-w {
    max-width: 702px;
  }
  .pc-tab {
    padding: 18px;
  }
  .pc-head {
    grid-template-columns: 1fr 3fr;
  }
  .specs-item {
    width: 185px;
  }
  .specs-item img {
    width: 180px;
    height: 180px;
  }
}

@media (min-width: 992px) {
  .profile-w {
    max-width: 842px;
  }
}

@media (min-width: 1200px) {
  .profile-w {
    max-width: 1060px;
  }
}


/* || TOC */

.toc {
  padding: 0;
  border: solid 1px var(--grey-trans);
}

.toc .dropdown {
  margin: 0;
  font-size: 17px;
  border-radius: var(--radius);
  display: flex;
  align-items: center;
}

.toc .dropdown:after {
  content: "";
  width: 22px;
  height: 22px;
  background-size: 22px;
  display: inline-block;
  background-image: url(/static/images/down-arrow-flat.svg);
  margin-right: 12px;
  transition: var(--transition);
}

.toc .dropdown.active:after {
  transform: rotate(180deg);
}

.toc .dropdown button {
  background-color: transparent;
  border: 0;
  text-transform: uppercase;
  font-weight: 500;
  width: 100%;
  text-align: left;
  padding: 14px 0 15px 14px;
}

.toc>ol, .sub-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height .35s ease-in-out;
  margin: 0;
}

.toc ol {
  list-style: none;
  padding-left: 0;
}

.toc ol li ol li a:before {
  content: "- ";
}

.toc a {
  display: block;
  border-bottom: solid 1px var(--grey);
  padding: 14px 20px;
  transition: var(--transition);
}

.toc ol li {
  margin: 0;
}

.toc>ol>li:last-child a {
  border-bottom: 0;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.toc a:hover, .toc a:focus, .toc a:active {
  background-color: var(--primary-on-light);
}

/* || Comment Section */

.comment textarea, input {
  padding: 10px 16px;
  border-radius: var(--radius);
  border: solid 1px var(--grey);
  background-color: transparent;
  width: 100%;
  margin-top: 8px;
}

.comment textarea {
  width: 100%;
}

.input-control {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

option {
  background-color: var(--primary-surface);
}

#contactForm textarea {
  margin-bottom: 20px;
}

.selectField select {
  padding: 10px 16px;
  border-radius: var(--radius);
  border: solid 1px var(--grey);
  background-color: transparent;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 20px;
}

.discussion header {
  margin-bottom: 10px;
}

.discussion header img {
  width: 40px;
  height: 40px;
}

.discussion .discussion-meta h3 {
  margin-bottom: 4px;
  font-size: 18px;
}

.discussion-meta span {
  font-size: 12px;
  display: block;
}

.discussion .content p {
  font-size: 15px;
}

.comment .checkbox {
  display: block;
  margin-bottom: 20px;
}

@media (min-width: 786px) {
  .input-control {
    grid-template-columns: auto auto;
  }
}

/* || News Article */

.article-page {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  grid-column-gap: 20px;
}

.article {
  padding: 10px;
}

.article-page h1 {
  margin: 10px 0;
}

.article-header img {
  margin-top: 20px;
}

.article .article-body {
  font-size: 18px;
  margin-top: 16px;
  line-height: 1.4;
  border-bottom: solid 1px var(--grey-trans);
  padding-bottom: 25px;
}

.article-body h2, .article-body h3, .article-body h4, .article-body h5, .article-body h6 {
  margin: 16px 0 10px 0;
}

.article .content a, .article .article-meta_content a  {
  background-image: linear-gradient(to right, var(--primary) 33%, #000000 0%);
  background-position: bottom;
  background-size: 3px 1px;
  background-repeat: repeat-x;
}

.article .content a, .article .article-meta_content a:hover {
  color: var(--primary)
}

.article-meta, .more-news {
  padding: 15px 0;
  border-bottom: solid 1px var(--grey-trans);
}

.article-meta header {
  display: flex;
  align-items: center;
}

.article-meta header h2 {
  text-decoration: underline;
}

.article-meta_date {
  margin-bottom: 8px;
  display: inline-block;
}

.article-meta_date .article-date svg {
  margin-top: 3px;
}

.article-meta_date .article-date {
  align-items: flex-start;
}

.article-meta_date .article-date span, .article-meta_date .article-date time, .article-meta_notice, .article-meta_author {
  font-size: 14px;
  line-height: 20px;
}

.article-meta_section-tag {
  display: inline-block;
  margin-top: 10px;
}

.article-meta_section-tag-i {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  grid-gap: 10px;
}

.article-meta_section-tag-i li {
  margin: 0;
  font-size: 14px;
  border-bottom: solid 1px var(--primary-on);
}


.article-meta_content {
  padding-top: 12px;
}

.article-meta_notice {
  padding-top: 10px;
  display: block;
}

.related-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 16px;
  padding-top: 10px;
}

.related-list article h3 {
  font-size: 16px;
  margin: 0;
}

.sidebar-setup {
  background-color: var(--secondary-surface);
  margin-top: 12px;
  padding: 8px;
  border-radius: var(--radius);
}

.sidebar-setup article {
  position: relative;
  transition: var(--transition);
}

.sidebar-setup article:hover, .sidebar-setup article:hover h3 a {
  background-color: var(--primary-on);
  color: var(--primary)
}

.sidebar-setup h2 {
  font-size: 20px;
  padding: 10px 5px;
  text-decoration: underline;
}

.sidebar-setup article img {
  width: 40px;
  border-radius: var(--radius);
}

.sidebar-setup article h3 {
  font-size: 16px;
  padding-bottom: 5px;
}

.sidebar-setup article h3 a {
  transition: var(--transition);
}

.sidebar-setup article {
  display: grid;
  align-items: center;
  grid-template-columns: 46px 1fr;
  padding: 5px;
  border: solid 1px var(--grey-trans);
  border-radius: var(--radius);
  margin-top: 6px;
}

@media (min-width: 786px) {
  .article-page {
    max-width: 100%;
    grid-template-columns: 4fr 1fr;
  }
  .sidebar1, .sidebar2  {
    grid-column: 2;
    grid-row: auto;
  }
  .article {
    grid-column: 1;
    grid-row: 1 / 4;
    border-right: solid 1px var(--grey-trans);
    border-left: solid 1px var(--grey-trans);
  }

  .related-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .article-page {
    grid-template-columns: 1fr 600px 1fr;
  }
  .sidebar1, .sidebar2, .article {
    grid-row: 1;
  }
  .article {
    grid-column: 2;
  }
  .sidebar1 {
    grid-column: 1;
  }
  .sidebar2 {
    grid-column: 3;
  }
}

@media (min-width: 1200px) {
  .article-page {
    max-width: 1150px;
    grid-template-columns: 193px 700px 193px;
  }
}

@media (min-width: 1400px) {
  .article-page {
    max-width: 1360px;
    grid-template-columns: 198px 900px 198px;
  }
}


/* || archive-btn */

.list-page-header {
  padding-top: 30px;
}

.archive-btn {
  text-align: center;
  margin-top: 26px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.archive-btn-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.archive-btn-icons img {
  width: 40px;
  height: 40px;
  background-color: var(--secondary-surface);
  border: solid 1px var(--primary);
  border-radius: 50%;
  padding: 4px;
}

.archive-btn p {
  text-align: left;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600
}

.stick-top {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--primary-surface);
  border-bottom: solid 1px var(--grey-trans);
}

.archive-aside li {
  padding-bottom: 10px;
}

@media (max-width: 786px) {
  .list-page-header {
    padding-top: 20px;
  }
  .archive-btn-icons {
    overflow: scroll;
    margin-right: 5px;
  }
  .archive-btn-icons img {
    margin-right: 10px;
  }
}

/* || Pagination */

.pagination {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem
}

.pagination span.step-links {
  background-color: var(--secondary-surface);
  display: inline-grid;
  border: solid 1px var(--grey);
  border-radius: var(--radius);
  grid-auto-flow: column
}

.pagination span.step-links a,
.pagination span.step-links span {
  text-decoration: none;
  border-right: solid 1px var(--grey);
  padding: .5rem .75rem;
  text-transform: capitalize;
  font-size: 12px;
}

.pagination span.step-links a:last-child {
  border-right: 0;
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius)
}

.pagination span.step-links a:first-child {
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius)
}

.pagination span.step-links a:hover {
  background-color: var(--grey)
}

/* || Homepage */
.homepage .list-page-header {
  display: grid;
  align-items: center;
  grid-gap: 0;
  justify-items: center;
}

.homepage .list-page-header {
  padding-bottom: 30px;
}

.homepage .list-page-header div img {
  display: none;
}

.grid {
  display: grid;
  grid-gap: 20px;
}

.grid-50 {
  grid-template-columns: auto;
}

.about-us article {
  margin: 0;
}

.upper-heads {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  border-bottom: solid 1px var(--grey);
  display: inline-block;
}

.share-this {
  margin-top: 20px;
  display: flex;
  grid-gap: 10px;
  align-items: center;
}

.share-this #pageLink {
  position: absolute;
  left: -99999px;
}

.share-this a, .share-this button {
  background-color: var(--primary-surface); 
  box-shadow: inset 0 0 7px 0px rgb(72 72 72 / 52%); 
  transition: var(--transition);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-this a:hover, .share-this button:hover {
  transform: scale(1.2);
  background-color: #000000;
}

@media (min-width: 992px) {
  .homepage .list-page-header {
    grid-template-columns: auto auto;
    grid-gap: 40px;
  }
  .homepage .list-page-header div img {
    width: 540px;
    height: 304px;
    display: block;
  }
  .grid-50 {
    grid-template-columns: auto auto;
  }
}

.notice-green {
  background-color: var(--primary-on);
  color: var(--primary);
  position: fixed;
  z-index: 5;
  bottom: 20px;
  left: 0;
  right: 0;
  width: 100%;
  padding: 14px;
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notice button {
  background: transparent;
  border: 0;
  transform: rotate(45deg);
}

.faq_card {
  border-bottom: solid 1px var(--grey-trans);
}

.archive-header {
  display: flex;
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: var(--radius);
  margin-top: 20px;
}

.archive-main .list-grid {
  justify-content: flex-start;
  grid-gap: 20px;
}

.team img {
  border-radius: var(--radius);
}

@media (max-width: 786px) {
  .archive-header {
    flex-wrap: wrap;
  }

  .card-title a, .card-title {
    font-size: 18px;
  }

  .card-players p:not(.small-cta) {
    line-height: 1.3;
}
}

/* || Article Category */

.featured-article {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
}


.featured-article img {
  filter: brightness(0.5);
  transition: var(--transition);
}

.featured-article article:hover img {
  filter: brightness(1);
}

.normal-article {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 20px;
  margin-top: 30px;
  align-items: start;
}

.featured-article article, .article-list article {
  position: relative;
}

.featured-article .article-content {
  position: absolute;
  bottom: 0;
  padding: 16px;
}

.article-heading {
  font-size: 24px;
  margin: 0;
}

.article-intro > p {
  font-size: 16px;
}

.article-tag {
  display: flex;
  grid-gap: 6px;
  list-style: none;
  padding: 0;
  margin: 14px 0 0;
}

.article-date, .article-date * {
  font-size: 12px;
}

.article-date, .article-meta_author, .article-meta_section-tag {
  display: grid;
  align-items: center;
  grid-gap: 5px;
  grid-template-columns: 20px 1fr;
}

.featured-article .article-tag li {
  background-color: var(--primary-on);
  border: solid 1px var(--primary-on-light);
  color: var(--primary);
  padding: 4px 8px;
  border-radius: var(--radius);
  font-size: 12px;
  display: inline-block;
}

.trending-article {
  background-color: var(--secondary-surface);
  padding: 14px;
  border-radius: var(--radius);
}

.trending-article .article-heading {
  font-size: 15px;
  margin-top: 4px;
}

.trending-article article {
  position: relative;
  border-bottom: solid 1px var(--grey-trans);
  margin-bottom: 15px;
}

.trending-article .article-date {
  position: absolute;
  top: 1px;
  left: 5px;
}

.trending-article .article-date .updated {
  font-size: 11px;
}

.article-list .article-heading {
  margin-bottom: 0;
}

.article-list .article-tag {
  position: absolute;
  left: 0;
  top: 0;
  margin: 6px 0 0 6px;
  grid-gap: 10px;
}

.article-list article {
  display: grid;
  margin-bottom: 20px;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  border-bottom: solid 1px var(--grey-trans);
  padding-bottom: 20px;
}

.article-list .article-tag a {
  font-size: 12px;
  background-color: var(--primary-on);
  padding: 2px 4px;
  border-radius: 4px;
  border: solid 1px var(--grey);
  color: var(--primary);
  display: inline-block;
}

@media (max-width: 1200px) {
  .article-list .article-heading {
    font-size: 18px;
  }
  .article-intro > p {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  .news-archive .cat-head {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .featured-article {
    grid-template-columns: 1fr;
  }
  .article-intro, .article-tag {
    clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .article-heading {
    font-size: 20px;
  }
  .normal-article {
    grid-template-columns: 1fr;
  }
  .trending-article {
    grid-area: 1 / 1;
    display: flex;
    overflow: scroll;
    grid-gap: 14px;
  }

  .trending-article article {
    flex: 0 0 auto;
    width: 190px;
  }

  .article-list article {
    grid-template-columns: 1fr 2fr;
  }
}

@media (max-width: 500px) {
  .article-list article {
    grid-gap: 10px;
    grid-template-columns: 2fr 3fr;
  }
  .article-list .article-heading {
    font-size: 16px;
  }
  .article-list .article-tag {
    clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

.site-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.footer-social .footer-logo, .footer-icons {
  margin-bottom: 20px;
  display: inline-block;
}

.footer-icons {
  display: flex;
  grid-gap: 10px;
}

.footer-icons>a {
  border: solid 1px rgb(53 183 41 / 25%);
  border-radius: var(--radius);
  background-color: var(--grey-trans);
  height: 34px;
  width: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  .site-footer {
    grid-template-columns: 1fr;
    padding: 0;
  }
  .site-footer>div {
    border-bottom: solid 1px var(--grey-trans);
    padding: 20px;
  }
  .site-footer>div:last-child {
    border: 0;
  }
}

.flex {
  display: flex;
  grid-gap: 10px;
  justify-content: center;
}