{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags cache %}
{% block body_class %}template-homepage bg-primary text-gray-200{% endblock %}
{% block content %}
<main class="max-w-7xl mx-auto ">
    <header class="py-12 border-b border-gray-800 p-2">
        <h1 class="text-3xl md:text-4xl font-bold mb-2">{{ page.seo_title }}</h1>
        <div class="text-lg">{{ page.intro|safe }}</div>
    </header>
    <!-- || News -->
    <article class="py-12 border-b border-gray-800 p-2">
        <h2 class="text-xl md:text-2xl font-semibold mb-1">Esports and Gaming News</h2>
        <div class="mt-6 grid sm:grid-cols-2 md:grid-cols-3 gap-4">
            {% for post in news_posts %}
            {% cache 300000000 post post.id %}
            <article
                class="transition relative ring-2 ring-gray-800 rounded-lg overflow-hidden group hover:ring-2 hover:ring-blue-600 drop-shadow-2xl">
                {% image post.featured_image fill-416x234 format-webp as post_image %}
                <img title="{{ post.title }}" src="{{ post_image.url }}" alt="{{ post_image.alt }}"
                    width="{{ post_image.width }}" height="{{ post_image.height }}">
                <div class="text-sm pt-3 pb-2 px-3 flex flex-wrap gap-1">
                    <span class="sr-only">Last updated</span>
                    <time datetime="{{ post.specific.last_published_at|date:'c' }}"
                        pubdate>{{ post.specific.last_published_at|date:'Y/m/d' }}</time>
                    <address class="author"> by <span rel="author">{{ post.specific.owner }}</span></address>
                </div>
                <h3 class="text-lg md:text-xl font-medium pb-3 px-3">
                    <a class="transition group-hover:text-blue-600" title="{{ post.title }} PC Specs and Settings"
                        href="{{ post.url }}">{{ post.title }}
                        <span class="absolute inset-0"></span>
                    </a>
                </h3>
            </article>
            {% endcache %}
            {% endfor %}
        </div>
        <button class="mt-10">
            <a class="font-semibold tracking-wider ring-2 hover:text-blue-500 rounded-lg px-4 py-2 transition hover:bg-gray-900 hover:ring-blue-600 focus:ring-blue-700 focus:ring-4"
                href="/news/">MORE NEWS</a>
        </button>
    </article>
    <!-- || Games -->
    <section class="py-12 border-b border-gray-800 p-2">
        <h2 class="text-xl md:text-2xl font-semibold mb-1">Covered Games</h2>
        <div class="mt-6 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4">
            {% for post in games %}
            {% cache 300000000 post post.id %}
            <article
                class="transition relative ring-2 ring-gray-800 rounded-lg overflow-hidden group hover:ring-2 hover:ring-blue-600 drop-shadow-2xl ">
                {% if post.avatar %}
                {% image post.avatar fill-250x250 format-webp as game_image %}
                <img class="bg-gradient-to-b from-gray-800 group-hover:bg-gradient-to-t" title="{{ game_image.alt }}"
                    src="{{ game_image.url }}" alt="Image of {{ post.game.title }} player {{ post.full_name }}"
                    width="{{ game_image.width }}" height="{{ game_image.height }}">
                {% endif %}
                <h3 class="text-lg md:text-xl font-medium p-3 text-center">
                    <a class="transition group-hover:text-blue-600" title="{{ post.title }} PC Specs and Settings"
                        href="{{ post.url }}">{{ post.title }}
                        <span class="absolute inset-0"></span>
                    </a>
                </h3>
            </article>
            {% endcache %}
            {% endfor %}
        </div>
    </section>
    <!-- || Player -->
    <section class="py-12 p-2">
        <h2 class="text-xl md:text-2xl font-semibold mb-1">Esports Teams</h2>
        <div class="mt-6 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4">
            {% for post in players %}
            {% cache 300000000 post post.id %}
            <article
                class="transition relative ring-2 ring-gray-800 rounded-lg overflow-hidden group hover:ring-2 hover:ring-blue-600 drop-shadow-2xl ">
                {% if post.avatar %}
                {% image post.avatar fill-250x250 format-webp as game_image %}
                <img class="bg-gradient-to-b from-gray-800 group-hover:bg-gradient-to-t" title="{{ game_image.alt }}"
                    src="{{ game_image.url }}" alt="Image of {{ post.game.title }} player {{ post.full_name }}"
                    width="{{ game_image.width }}" height="{{ game_image.height }}">
                {% endif %}
                <h3 class="text-lg md:text-xl font-medium p-3 text-center">
                    <a class="transition group-hover:text-blue-600" title="{{ post.title }} PC Specs and Settings"
                        href="{{ post.url }}">{{ post.title }}
                        <span class="absolute inset-0"></span>
                    </a>
                </h3>
            </article>
            {% endcache %}
            {% endfor %}
        </div>
        <button class="mt-10">
            <a class="font-semibold tracking-wider ring-2 hover:text-blue-500 rounded-lg px-4 py-2 transition hover:bg-gray-900 hover:ring-blue-600 focus:ring-blue-700 focus:ring-4"
                href="/setup/">ALL PLAYERS</a>
        </button>
    </section>
</main>
{% endblock %}