{% extends "base.html" %}
{% load wagtailcore_tags %} {% load wagtailimages_tags %} {% load humanize %}
{% block body_class %}template-playerprofile bg-primary text-gray-200{% endblock %}

{% block content %}
<main class="">
    <header class="relative">
        {% image page.cover width-550 format-webp as webp_image %}
        {% image page.cover width-1280 format-webp as webp_image_1280 %}
        {% image page.cover width-1280 format-jpeg as jpeg_image_1280 %}
        <picture>
            <source media="(min-width: 587px)" srcset="{{ webp_image_1280.url }}">
            <source media="(max-width: 586px)" srcset="{{ webp_image.url }}">
            <img src="{{ jpeg_image_1280.url }}" width="{{ webp_image_1280.width }}"
                height="{{ webp_image_1280.height }}" alt="{{ webp_image.alt }}"
                class="h-96 object-center object-cover w-full" />
        </picture>
        <div class="h-96 w-full absolute inset-0 bg-gradient-to-t from-primary"></div>
        <div class="absolute top-1/4 text-center w-full">
            <h1 class="text-4xl md:text-5xl font-bold mb-5">{{ page.title }}</h1>
            <figure class="bg-slate-100 bg-opacity-30 w-64 rounded-lg mx-auto">
                {% image page.avatar width-400 format-webp-lossless webpquality-50 %}
                <figcaption class="sr-only">{player.avatar.data.attributes.caption}</figcaption>
            </figure>
        </div>
    </header>
    <section class="text-center pt-12 px-2 max-w-5xl mx-auto">
        <h2 class="text-xl md:text-2xl font-semibold mb-1">{{ page.full_name }}</h2>
        <div class="text-sm md:text-base">{{ page.intro|safe }}</div>
        <table class="table-auto text-left text-sm md:text-base w-full md:mt-3">
            <tbody
                class="my-4 p-2 md:p-4 gap-1 md:gap-3 grid bg-secondary border border-primary rounded-lg grid-cols-12">
                <tr class="flex flex-col col-span-6 md:col-span-3">
                    <th class="font-light">Birth Date</th>
                    <td class="font-bold">{{ page.birth_date }}</td>
                </tr>
                <tr class="flex flex-col col-span-6 md:col-span-3">
                    <th class="font-light">Birth Place</th>
                    <td class="font-bold">{{ page.hometown }}</td>
                </tr>
                <tr class="flex flex-col col-span-6 md:col-span-3">
                    <th class="font-light">Country</th>
                    <td class="flex gap-1 items-center font-bold">
                        <span>{{ page.player_country.title }}</span>
                        {% image page.player_country.flag width-22 format-webp-lossless %}
                    </td>
                </tr>
                <tr class="flex flex-col col-span-6 md:col-span-3">
                    <th class="font-light">Game</th>
                    <td class="font-bold">{{ page.game.title }}</td>
                </tr>
                <tr class="flex flex-col col-span-6 md:col-span-3">
                    <th class="font-light">Team</th>
                    <td class="flex gap-1 items-center font-bold">
                        <span>{{ page.team.title }}</span>
                        {% image page.team.avatar width-22 format-webp-lossless %}
                    </td>
                </tr>
                <tr class="flex flex-col col-span-6 md:col-span-3">
                    <th class="font-light">Role</th>
                    <td class="font-bold">{{ page.player_role }}</td>
                </tr>
                <tr class="flex flex-col col-span-6 md:col-span-3">
                    <th class="font-light">Rank</th>
                    <td class="font-bold">{{ page.player_rank }}</td>
                </tr>
                <tr class="flex flex-col col-span-6 md:col-span-3">
                    <th class="font-light">Earnings</th>
                    <td class="font-bold">${{ page.earnings|intcomma }}</td>
                </tr>
                <tr class="flex flex-col col-span-6">
                    <th class="font-light">Native Name</th>
                    <td class="flex gap-1 items-center font-bold">{{ page.native_name }}</td>
                </tr>
                <tr class="flex flex-col col-span-12">
                    <th class="font-light">Social</th>
                    <td class="flex gap-4 items-center mt-2 ">
                        {% for social in page.player_social.all %}
                        <a href="{{ social.url }}" target="_blank" title="{{ social.title }}"
                            class="grayscale hover:grayscale-0">
                            {% image social.icon width-24 format-webp-lossless %}
                        </a>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    <section class="px-2 max-w-5xl mx-auto">
        <h2 class="text-xl md:text-2xl font-semibold md:px-2">{{ page.title }} PC Specs</h2>
        <div class="md:grid md:grid-cols-2  lg:grid-cols-3 md:gap-5 my-5">
            {% for spec in page.player_specs.all %}
            <div
                class="group relative overflow-hidden bg-secondary border border-primary rounded-lg grid grid-cols-7 grid-flow-col my-4 md:my-0 items-center gap-4">
                <figure
                    class="bg-gradient-to-b from-gray-700 to-transparent group-hover:bg-gradient-to-t col-span-3 h-full flex items-center justify-center">
                    {% image spec.product_image width-200 format-webp as webp_image %}
                    {% image spec.product_image width-200 format-png as png_image %}
                    <picture>
                        <source srcset="{{ webp_image.url }}" type="image/webp" />
                        <source srcset="{{ png_image.url }}" type="image/png" />
                        <img src="{{ png_image.url }}" alt="{{ spec.product_name }}" width="140" height="140" />
                    </picture>
                    <figcaption class="sr-only">{{ page.title }} uses a {{ spec.product_name }}
                        {{ spec.get_product_type_display }}
                    </figcaption>
                </figure>
                <div class="py-2 col-span-4">
                    <h3 class="text-xs text-lime-500 uppercase tracking-wide">{{ spec.get_product_type_display }}</h3>
                    <p class="text-sm">{{ spec.product_name }}</p>
                    <a class="external-link text-xs underline link-over group-hover:text-lime-500 z-10"
                        title="View {{ spec.product_name }} on Amazon" href="{{ spec.amazon_url }}" target="_blank"
                        rel="nofollow">Check Price</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <section class="px-2 max-w-5xl mx-auto">
        <h2 class="text-xl md:text-2xl font-semibold md:px-2">{{ page.title }} {{ page.game.title }} Settings</h2>
        {% for block in page.player_settings.all %}
        <div class="border border-primary rounded-lg bg-secondary my-4 p-2">
            <h3 class="text-lg font-medium mb-1 border-b border-gray-800 pb-1">{{ block.title }} Settings</h3>
            {% for i in block.profile_settings %}
            <table class="text-left text-sm w-full">
                {% if i.value.sub_heading %}
                <thead>
                    <tr>
                        <th colspan="2" class="text-gray-300 font-normal border-b border-gray-800 inline-block">
                            {{ i.value.sub_heading }} Settings
                        </th>
                    </tr>
                </thead>
                {% endif %}
                <tbody class="gap-2 grid grid-cols-12 my-2">
                    {% for z in i.value.section_details %}
                    <tr class="flex flex-col {% if i.value.sub_heading %}col-span-6{% else %}col-span-4{% endif %}">
                        <th class="font-light text-gray-300">{{ z.key_name }}</th>
                        <td class="font-medium">{{ z.value_name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endfor %}
        </div>
        {% endfor %}
    </section>
    <section class="px-2 pb-6 max-w-5xl mx-auto">
        <h2 class="text-xl md:text-2xl font-semibold md:px-2"> {{ page.title }} Teammates</h2>
        <div class="border border-primary rounded-lg bg-secondary my-4 p-2 text-base md:p-4">
            <div
                class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 items-center gap-4 justify-items-start text-center">
                {% for profile in page.related_profiles.all %}
                <div
                    class="relative group hover:border-gray-500 bg-gradient-to-b from-gray-700 to-transparent p-2 border border-gray-800 rounded-lg">
                    {% image profile.avatar width-150 format-webp-lossless %}
                    <h3 class="text-lg font-medium mt-2"><a class="link-over group-hover:text-lime-500"
                            title="View {{ profile.title }}'s Profile" href="{{ profile.url }}">{{ profile.title }}</a>
                    </h3>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="px-2 pb-6 max-w-5xl mx-auto">
        <h2 class="text-xl md:text-2xl font-semibold md:px-2">About {{ page.title }}</h2>
        <div class="border border-primary rounded-lg bg-secondary my-4 p-2 text-base md:p-4">
            {% for block in page.text %}
            {% if block.block_type == 'table' %}
            <div class="table-wrap mt-5 border rounded-lg overflow-hidden border-gray-800 prose text-sm">
                {% include_block block %}
            </div>
            {% elif block.block_type == 'paragraph' %}
            <h3 class="text-xl mb-3 font-semibold">{{ page.title }} Biography</h3>
            <div class="prose">
                {% include_block block %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </section>
</main>
{% comment %}
<p><a href="{{ page.get_parent.url }}">Return to blog</a></p>
{% endcomment %}
{% endblock %}

{% block extra_js %}
{% image page.avatar width-500 as player_avatar %}
<script type="application/ld+json">
    {
        "@context" : "http://schema.org",
        "@type" : "ProfilePage",
        "mainEntity" : {
            "@type" : "Person",
            "name" : "{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}",
            {% if page.is_pro %}
            "jobTitle" : "Professional {{ page.game.title }} Player",
            {% else %}
            "jobTitle" : "{{ page.game.title }} Streamer",
            {% endif %}
            "image" : "httsp://gamerstats.net{{ player_avatar.url }}",
            "url" : "httsp://gamerstats.net{{ page.url }}",
            "worksFor": {
                "@type": "Organization",
                {% if page.team %}
                "name": "{{ page.team.title }}",
                "url": "httsp://gamerstats.net{{ page.team.url }}"
                {% else %}
                "name": "Self-Employed",
                "url": "httsp://gamerstats.net{{ page.url }}"
                {% endif %}
            },
            "gender": "male",
            "award": [
                "______",
                "______"
            ],
            "sameAs": [
                {% for social in page.player_social.all %}
                "{{ social.url }}" {% if forloop.counter != page.player_social.all|length %},{% endif %}
                {% endfor %}
            ]
        }
    }
    </script>
{% endblock %}