{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags static %}
{% block body_class %}template-profileindex bg-primary{% endblock %}
{% block content %}
<main class="text-gray-200">
    <header class="py-20 text-center border-b border-gray-600">
        <h1 class="text-4xl md:text-5xl font-bold">{{ page.title }}</h1>
        <nav class="flex lg:col-span-7 lg:mb-0 justify-center mt-8" aria-label="Breadcrumb">
            <ol role="list" class="flex items-center space-x-2 md:space-x-4 px-2 overflow-hidden">
                {% for p in self.get_ancestors %}
                {% if p.is_root == False %}
                {% if forloop.counter == 2 %}
                <li>
                    <div>
                        <a href="/" class="text-gray-400 hover:text-gray-500">
                            <!-- Heroicon name: solid/home -->
                            <svg class="flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                fill="currentColor" aria-hidden="true">
                                <path
                                    d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
                            </svg>
                            <span class="sr-only">Home</span>
                        </a>
                    </div>
                </li>
                {% else %}
                <li>
                    <div class="flex items-center">
                        <!-- Heroicon name: solid/chevron-right -->
                        <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                clip-rule="evenodd" />
                        </svg>
                        <a href="{{ p.url }}"
                            class="truncate ml-2 md:ml-4 text-sm font-medium text-gray-400 hover:text-gray-700">{{ p.title }}</a>
                    </div>
                </li>
                {% endif %}
                {% endif %}
                {% endfor %}
                <li>
                    <div class="flex items-center">
                        <!-- Heroicon name: solid/chevron-right -->
                        <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                clip-rule="evenodd" />
                        </svg>
                        <a href="{{ self.url }}"
                            class="truncate ml-2 md:ml-4 text-sm font-medium text-gray-400 hover:text-gray-700"
                            aria-current="page">{{ self.title }}</a>
                    </div>
                </li>
            </ol>
        </nav>
    </header>
    <section
        class="my-8 max-w-7xl mx-auto grid gap-3 grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 justify-items-start p-2">
        {% for profile in profilepages %}
        <div
            class="transition relative ring-2 ring-gray-800 rounded-lg overflow-hidden group hover:ring-2 hover:ring-blue-600 drop-shadow-2xl">
            {% image profile.specific.avatar width-250 format-webp-lossless webpquality-50 as webp_image %}
            {% image profile.specific.avatar width-500 format-webp-lossless webpquality-50 as webp_image_2x %}
            {% image profile.specific.avatar width-250 as png_250 %}
            {% if profile.specific.avatar %}
            <picture>
                <source media="(min-width: 587px)" srcset="{{ webp_image.url }}">
                <source media="(max-width: 586px)" srcset="{{ webp_image.url }}, {{ webp_image_2x.url }} 2x">
                <img src="{{ png_250.url }}" width="{{ png_250.width }}" height="{{ png_250.height }}"
                    alt="{{ png_250.alt }}" class="bg-gradient-to-b from-gray-800 group-hover:bg-gradient-to-t" />
            </picture>
            {% else %}
            <img src="{% static 'img/blank.jpg' fill-250x250 %}" width="{{ png_250.width }}"
                height="{{ png_250.height }}" alt="{{ profile.title }}">
            {% endif %}
            <h2
                class="text-base font-semibold absolute bottom-0 from-gray-900 bg-gray-900 bg-opacity-70 bg-gradient-to-b text-white px-2 rounded">
                {{ profile.title }}</h2>
            <a class="absolute inset-0" href="{% pageurl profile %}">
                <span class="sr-only">View {{ profile.title }} PC Specs and Settings</span>
            </a>
        </div>
        {% endfor %}
    </section>
</main>
{% endblock %}

{% block extra_js %}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Gamer Stats",
        "item": "https://gamerstats.net"
        },{
        "@type": "ListItem",
        "position": 2,
        "name": "{{ page.title }}"
        }]
    }
</script>
{% endblock %}