{% extends "base.html" %}
{% load wagtailcore_tags %} {% load wagtailimages_tags %} {% load humanize cache %}
{% block body_class %}template-playerprofile bg-primary text-gray-200{% endblock %}

{% block content %}

<main class="">
    <!-- || header -->
    <header class="relative">
        {% cache 300000000 page.cover %}
        {% image page.cover width-550 format-webp as webp_image %}
        {% image page.cover width-1280 format-webp as webp_image_1280 %}
        {% image page.cover width-1280 format-jpeg as jpeg_image_1280 %}
        <picture>
            <source media="(min-width: 587px)" srcset="{{ webp_image_1280.url }}">
            <source media="(max-width: 586px)" srcset="{{ webp_image.url }}">
            <img src="{{ jpeg_image_1280.url }}" width="{{ webp_image_1280.width }}"
                height="{{ webp_image_1280.height }}" alt="{{ webp_image.alt }}"
                class="h-96 object-center object-cover w-full" />
        </picture>
        {% endcache %}
        <div class="h-96 w-full absolute inset-0 bg-gradient-to-t from-primary"></div>
        <div class="absolute top-1/4 text-center w-full">

            <nav class="flex lg:col-span-7 lg:mb-0 justify-center" aria-label="Breadcrumb">
                <ol role="list" class="flex items-center space-x-2 md:space-x-4 px-2 overflow-hidden">
                    {% for p in self.get_ancestors %}
                    {% cache 300000000 p p.id %}
                    {% if p.is_root == False %}
                    {% if forloop.counter == 2 %}
                    <li>
                        <div>
                            <a href="/" class="text-gray-400 hover:text-gray-500">
                                <!-- Heroicon name: solid/home -->
                                <svg class="flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path
                                        d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
                                </svg>
                                <span class="sr-only">Home</span>
                            </a>
                        </div>
                    </li>
                    {% else %}
                    <li>
                        <div class="flex items-center">
                            <!-- Heroicon name: solid/chevron-right -->
                            <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd" />
                            </svg>
                            <a href="{{ p.url }}"
                                class="truncate ml-2 md:ml-4 text-sm font-medium text-gray-400 hover:text-gray-700">{{ p.title }}</a>
                        </div>
                    </li>
                    {% endif %}
                    {% endif %}
                    {% endcache %}
                    {% endfor %}
                    <li>
                        <div class="flex items-center">
                            <!-- Heroicon name: solid/chevron-right -->
                            <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd" />
                            </svg>
                            <a href="{{ self.url }}"
                                class="truncate ml-2 md:ml-4 text-sm font-medium text-gray-400 hover:text-gray-700"
                                aria-current="page">{{ self.title }}</a>
                        </div>
                    </li>
                </ol>
            </nav>
            <h1 class="text-4xl md:text-5xl font-bold mb-5">{{ page.title }}</h1>
            <figure class="bg-gradient-to-b from-gray-800 w-64 rounded-lg mx-auto" style="border-radius: 50%;">
                {% image page.avatar width-400 format-webp-lossless as img %}
                <img src="{{ img.url }}" alt="{{ page.title }} {{ page.game.title }} Settings and PC Specs"
                    width="{{ img.width }}" height="{{ img.height }}" style="border-radius: 50%;">
                <figcaption class="sr-only">Image of {{ page.game.title }} pro
                    {% if page.native_name %}{{ page.native_name }}{% elif page.full_name %}{{ page.full_name }} aka
                    {{ page.title }}{% else %}{{ page.title }}{% endif %}</figcaption>
            </figure>

        </div>
    </header>
    <!-- || intro -->
    <section class="text-center pt-20 px-2 max-w-5xl mx-auto">
        <h2 class="text-xl md:text-2xl font-semibold mb-1">{{ page.full_name }}</h2>
        <div class="text-sm md:text-base">{{ page.intro|safe }}</div>
        <table class="table-auto text-left text-sm md:text-base w-full md:mt-3">
            <tbody
                class="my-4 p-2 md:p-4 gap-1 md:gap-3 grid bg-secondary border border-primary rounded-lg grid-cols-12">
                {% cache 300000000 page.birth_date page.id %}
                {% if page.birth_date %}
                <tr class="flex flex-col col-span-6 md:col-span-3">
                    <th class="font-light">Birth Date</th>
                    <td class="font-bold">{{ page.birth_date }}</td>
                </tr>
                {% endif %}
                {% endcache %}
                {% cache 300000000 page.hometown page.id %}
                {% if page.hometown %}
                <tr class="flex flex-col col-span-6 md:col-span-3">
                    <th class="font-light">Birth Place</th>
                    <td class="font-bold">{{ page.hometown }}</td>
                </tr>
                {% endif %}
                {% endcache %}
                {% cache 300000000 page.player_country page.id %}
                {% if page.player_country %}
                <tr class="flex flex-col col-span-6 md:col-span-3">
                    <th class="font-light">Country</th>
                    <td class="flex gap-1 items-center font-bold">
                        <span>{{ page.player_country.title }}</span>
                        {% image page.player_country.flag width-22 format-webp-lossless %}
                    </td>
                </tr>
                {% endif %}
                {% endcache %}
                {% cache 300000000 page.game page.id %}
                {% if page.game %}
                <tr class="flex flex-col col-span-6 md:col-span-3">
                    <th class="font-light">Game</th>
                    <td class="font-bold"><a href="{{ page.game.url }}">{{ page.game.title }}</a></td>
                </tr>
                {% endif %}
                {% endcache %}
                {% cache 300000000 page.team page.id %}
                {% if page.team %}
                <tr class="flex flex-col col-span-6 md:col-span-3">
                    <th class="font-light">Team</th>
                    <td class="flex gap-1 items-center font-bold">
                        <a href="{{ page.team.url }}">
                            <span>{{ page.team.title }}</span>
                            {% image page.team.avatar width-22 format-webp-lossless %}
                        </a>
                    </td>
                </tr>
                {% endif %}
                {% endcache %}
                {% cache 300000000 page.start_date page.id %}
                {% if page.start_date %}
                <tr class="flex flex-col col-span-6 md:col-span-3">
                    <th class="font-light">Start Date</th>
                    <td class="flex gap-1 items-center font-bold">
                        {{ page.start_date }}
                    </td>
                </tr>
                <tr class="flex flex-col col-span-6 md:col-span-3">
                    <th class="font-light">End Date</th>
                    <td class="flex gap-1 items-center font-bold">
                        {% if page.end_date %}{{ page.end_date }}{% else %}Currently Playing{% endif %}
                    </td>
                </tr>
                {% endif %}
                {% endcache %}
                {% cache 300000000 page.player_role page.id %}
                {% if page.player_role %}
                <tr class="flex flex-col col-span-6 md:col-span-3">
                    <th class="font-light">Role</th>
                    <td class="font-bold">{{ page.player_role }}</td>
                </tr>
                {% endif %}
                {% endcache %}
                {% cache 300000000 page.player_rank page.id %}
                {% if page.player_rank %}
                <tr class="flex flex-col col-span-6 md:col-span-3">
                    <th class="font-light">Rank</th>
                    <td class="font-bold">{{ page.player_rank }}</td>
                </tr>
                {% endif %}
                {% endcache %}
                {% cache 300000000 page.earnings page.id %}
                {% if page.earnings %}
                <tr class="flex flex-col col-span-6 md:col-span-3">
                    <th class="font-light">Earnings</th>
                    <td class="font-bold">${{ page.earnings|intcomma }}</td>
                </tr>
                {% endif %}
                {% endcache %}
                {% cache 300000000 page.native_name page.id %}
                {% if page.native_name %}
                <tr class="flex flex-col col-span-6">
                    <th class="font-light">Name</th>
                    <td class="flex gap-1 items-center font-bold">{{ page.native_name }}</td>
                </tr>
                {% endif %}
                {% endcache %}

                {% if page.player_social.all %}
                <tr class="flex flex-col col-span-12">
                    <th class="font-light">Social</th>
                    <td class="flex gap-4 items-center mt-2 ">
                        {% for social in page.player_social.all %}
                        {% cache 3000000 social social.id %}
                        <a href="{{ social.url }}" target="_blank" title="{{ social.title }}"
                            class="grayscale hover:grayscale-0">
                            {% image social.icon width-24 format-webp-lossless %}
                        </a>
                        {% endcache %}
                        {% endfor %}
                    </td>
                </tr>
                {% endif %}

            </tbody>
        </table>
    </section>
    <!-- || specs -->

    {% if page.player_specs.all %}

    <section class="px-2 max-w-5xl mx-auto">
        <h2 class="text-xl md:text-2xl font-semibold md:px-2" id="PC-Specs">{{ page.title }} PC Specs</h2>
        <div class="md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-5 my-5">
            {% for spec in page.player_specs.all %}
            {% cache 3000000 spec spec.id %}
            <div
                class="group relative overflow-hidden bg-secondary border border-primary rounded-lg grid {% if spec.product_image %}grid-cols-7{% endif %} my-4 md:my-0 items-center gap-4">
                {% if spec.product_image %}
                <figure
                    class="bg-gradient-to-b from-gray-700 to-transparent group-hover:bg-gradient-to-t col-span-3 h-full flex items-center justify-center">
                    {% image spec.product_image width-200 format-webp as webp_image %}
                    {% image spec.product_image width-200 format-png as png_image %}
                    <picture>
                        <source srcset="{{ webp_image.url }}" type="image/webp" />
                        <source srcset="{{ png_image.url }}" type="image/png" />
                        <img src="{{ png_image.url }}" alt="{{ spec.product_name }}" width="140" height="140" />
                    </picture>
                    <figcaption class="sr-only">{{ page.title }} uses a {{ spec.product_name }}
                        {{ spec.get_product_type_display }}
                    </figcaption>
                </figure>
                {% endif %}
                <div class="p-2 col-span-4">
                    <h3 class="text-xs text-lime-500 uppercase tracking-wide">{{ spec.get_product_type_display }}</h3>
                    <p class="text-sm">{{ spec.product_name }}</p>
                    <a class="external-link text-xs underline link-over group-hover:text-lime-500 z-10"
                        title="View {{ spec.product_name }} on Amazon" href="{{ spec.amazon_url }}" target="_blank"
                        rel="nofollow">Check Price</a>
                </div>
            </div>
            {% endcache %}
            {% endfor %}
        </div>
    </section>
    {% endif %}

    <!-- || settings -->
    {% if page.player_settings %}
    <section class="px-2 max-w-5xl mx-auto">
        <h2 class="text-xl md:text-2xl font-semibold md:px-2" id="{{ page.game.title }}-Settings">{{ page.title }}
            {{ page.game.title }} Settings</h2>
        {% for block in page.settings %}
        <div class="border border-primary rounded-lg bg-secondary my-4 p-2 prose table-wrap">
            {% include_block block %}
        </div>
        {% endfor %}
    </section>
    {% endif %}


    <!-- || related profiles -->
    {% if page.related_profiles.all %}
    <section class="px-2 pb-6 max-w-5xl mx-auto">
        <h2 class="text-xl md:text-2xl font-semibold md:px-2"
            id="{% if page.is_pro %}Teammates{% else %}Related{% endif %}"> {{ page.title }} Teammates</h2>
        <div class="border border-primary rounded-lg bg-secondary my-4 p-2 text-base md:p-4">
            <div
                class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 items-center gap-4 justify-items-start text-center">
                {% for profile in page.related_profiles.all %}
                {% cache 3000000 profile profile.id %}
                <div
                    class="relative group hover:border-gray-500 bg-gradient-to-b from-gray-700 to-transparent p-2 border border-gray-800 rounded-lg">
                    {% image profile.avatar width-150 format-webp-lossless %}
                    <h3 class="text-lg font-medium mt-2"><a class="link-over group-hover:text-lime-500"
                            title="View {{ profile.title }}'s Profile" href="{{ profile.url }}">{{ profile.title }}</a>
                    </h3>
                </div>
                {% endcache %}
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}
    <!-- || bio -->
    {% if page.text %}
    <section class="px-2 pb-6 max-w-5xl mx-auto">
        <h2 class="text-xl md:text-2xl font-semibold md:px-2" id="About-{{ page.title }}">About {{ page.title }}</h2>
        <div class="border border-primary rounded-lg bg-secondary my-4 p-2 text-base md:p-4">
            {% for block in page.text %}
            {% if block.block_type == 'table' %}
            <div class="table-wrap mt-5 border rounded-lg overflow-hidden border-gray-800 prose text-sm">
                {% include_block block %}
            </div>
            {% elif block.block_type == 'paragraph' %}
            <h3 class="text-xl mb-3 font-semibold">{{ page.title }} Biography</h3>
            <div class="prose">
                {% include_block block %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </section>
    {% endif %}
</main>
{% endblock %}

{% block extra_js %}
{% image page.avatar width-500 as player_avatar %}
<script type="application/ld+json">
    {
        "@context" : "http://schema.org",
        "@type" : "ProfilePage",
        "mainEntity" : {
            "@type" : "Person",
            "name" : "{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}",
            {% if page.is_pro %}
            "jobTitle" : "Professional {{ page.game.title }} Player",
            {% else %}
            "jobTitle" : "{{ page.game.title }} Streamer",
            {% endif %}
            "image" : "httsp://gamerstats.net{{ player_avatar.url }}",
            "url" : "httsp://gamerstats.net{{ page.url }}",
            "worksFor": {
                "@type": "Organization",
                {% if page.team %}
                "name": "{{ page.team.title }}",
                "url": "httsp://gamerstats.net{{ page.team.url }}"
                {% else %}
                "name": "Self-Employed",
                "url": "httsp://gamerstats.net{{ page.url }}"
                {% endif %}
            },
            "sameAs": [
                
                {% for social in page.player_social.all %}
                {% cache 300000000 social social.id %}
                "{{ social.url }}" {% if forloop.counter != page.player_social.all|length %},{% endif %}
                {% endcache %}
                {% endfor %}
                
            ]
        }
    }
</script>
{% image page.avatar fill-500x500 as wide_1_1 %}
{% image page.avatar fill-960x720 as wide_4_3 %}
{% image page.avatar fill-1280x720 as wide_1280 %}
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "headline": "{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}",
      "image": [
        "{{ wide_1_1.url }}",
        "{{ wide_4_3.url }}",
        "{{ wide_1280.url }}"
       ],
      "datePublished": "{{ page.first_published_at|date:'c' }}",
      "dateModified": "{{ page.last_published_at|date:'c' }}",
      "author": [{
          "@type": "Person",
          "name": "{{ page.owner.first_name }} {{ page.owner.last_name }}",
          "url": "https://twitter.com/thegamerstats"
        }]
    }
    </script>
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Gamer Stats",
        "item": "https://gamerstats.net"
        },{
        "@type": "ListItem",
        "position": 2,
        {% cache 3000000 page.get_parent %}
        "name": "{{ page.get_parent }}",
        "item": "https://gamerstats.net{{ page.get_parent.url }}"
        {% endcache %}
        },{
        "@type": "ListItem",
        "position": 3,
        "name": "{{ page.title }}"
        }]
    }
</script>


{% endblock %}