{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}
{% block body_class %}template-newspage bg-primary{% endblock %}
{% block content %}
<main class="text-gray-200 max-w-7xl mx-auto my-12 grid gap-3 md:gap-6 grid-cols-7 lg:grid-cols-5">
    <aside class="max-w-2xl bg-secondary border border-primary rounded-lg p-3 col-span-7 md:col-span-2 lg:col-span-1">
        <h2>sfhjkdshfjksh jdhfjkdshfjkhdsjkhf djkhdjkshfjds f dhfjkhdsjkfhdjksh jkfhjkdshf jkdsjkf</h2>
    </aside>
    <article
        class="max-w-3xl bg-secondary border border-primary rounded-lg p-3 col-span-7 md:col-span-5 lg:col-span-3 row-start-1 md:row-start-auto">
        <header class="my-2">
            <h1 class="text-2xl md:text-4xl font-bold mb-4">{{ page.title }}</h1>
            <div class="text-sm flex flex-wrap gap-1 mb-4">
                <span class="sr-only">Last updated</span>
                <time datetime="{{ page.last_published_at|date:'c' }}"
                    pubdate>{{ page.last_published_at|date:'Y/m/d' }}</time>
                <address class="author"> by <span rel="author">{{ page.owner }}</span></address>
            </div>
            <p class="mb-4 font-medium text-lg italic">{{ page.intro }}</p>
            {% image page.featured_image width-512 format-webp as webp_image %}
            {% image page.featured_image width-720 format-webp as webp_image_2x %}
            {% image page.featured_image width-720 format-jpeg as jpeg_image %}
            <picture>
                <source media="(min-width: 587px)" srcset="{{ webp_image_2x.url }}">
                <source media="(max-width: 586px)" srcset="{{ webp_image.url }}, {{ webp_image_2x.url }} 2x">
                <img src="{{ jpeg_image.url }}" width="{{ jpeg_image.width }}" height="{{ jpeg_image.height }}"
                    alt="{{ jpeg_image.alt }}" class="object-center object-cover rounded-lg" />
            </picture>
        </header>
        <section class="mt-6 text-base prose">
            {{ page.body|richtext }}
        </section>

        <section class="border-t border-gray-700 mt-6 mb-2">
            <div class="mt-5 flex gap-4 flex-wrap">
                {% for tag in page.tags.all %}
                <a class="inline-block ring-2 ring-indigo-600 rounded-lg px-2 hover:text-white focus:ring-4"
                    href="{{ self.get_parent.url }}?tag={{ tag.slug }}">{{ tag }}</a>
                {% endfor %}
            </div>
        </section>
    </article>
    <aside class="lg:max-w-2xl p-3 col-span-7 lg:col-span-1">
        <h2 class="text-xl font-semibold mb-4">Related</h2>
        <article class="bg-secondary border border-primary rounded-lg">

        </article>
    </aside>
</main>
{% endblock %}