{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}
{% block body_class %}template-news-archive bg-primary{% endblock %}
{% block content %}
<main class="text-gray-200">
    <header class="py-20 text-center border-b border-gray-600">
        <h1 class="text-4xl md:text-5xl font-bold">{{ page.title }}</h1>
    </header>
    <article class="my-8 max-w-7xl mx-auto grid gap-3 grid-cols-2 md:grid-cols-3 justify-items-start p-2 md:p-0">
        {% for news in newpages %}
        <article class="group">
            <div
                class="bg-secondary rounded-lg overflow-hidden ring-2 ring-gray-800 group-hover:ring-indigo-600 transition-all delay-75">
                {% image news.specific.featured_image width-420 format-webp-lossless webpquality-50 as webp_image %}
                {% image news.specific.featured_image width-840 format-webp-lossless webpquality-50 as webp_image_2x %}
                {% image news.specific.featured_image width-420 as png_420 %}
                {% if news.specific.featured_image %}
                <a href="{% pageurl news %}">
                    <picture>
                        <source media="(min-width: 587px)" srcset="{{ webp_image.url }}">
                        <source media="(max-width: 586px)" srcset="{{ webp_image.url }}, {{ webp_image_2x.url }} 2x">
                        <img src="{{ png_420.url }}" width="{{ png_420.width }}" height="{{ png_420.height }}"
                            alt="{{ png_420.alt }}" />
                    </picture>
                </a>
                {% endif %}
                <div class="text-sm py-2 px-3 flex flex-wrap gap-1">
                    <span class="sr-only">Last updated</span>
                    <time datetime="{{ news.specific.last_published_at|date:'c' }}"
                        pubdate>{{ news.specific.last_published_at|date:'Y/m/d' }}</time>
                    <address class="author"> by <span rel="author">{{ news.specific.owner }}</span></address>
                </div>
                <h2 class="text-lg font-medium pb-4 px-3">
                    <a class="group-hover:underline" href="{% pageurl news %}">{{ news.title }}</a>
                </h2>
            </div>
        </article>
        {% endfor %}
    </article>
</main>
{% endblock %}