{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags cache %}
{% block body_class %}template-news-archive bg-primary{% endblock %}
{% block content %}
<main class="text-gray-200">
    <header class="py-20 text-center border-b border-gray-600">
        <h1 class="text-4xl md:text-5xl font-bold">{{ page.title }}</h1>
        <nav class="flex lg:col-span-7 lg:mb-0 justify-center mt-8" aria-label="Breadcrumb">
            <ol role="list" class="flex items-center space-x-2 md:space-x-4 px-2 overflow-hidden">
                {% for p in self.get_ancestors %}
                {% if p.is_root == False %}
                {% if forloop.counter == 2 %}
                <li>
                    <div>
                        <a href="/" class="text-gray-400 hover:text-gray-500">
                            <!-- Heroicon name: solid/home -->
                            <svg class="flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                fill="currentColor" aria-hidden="true">
                                <path
                                    d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
                            </svg>
                            <span class="sr-only">Home</span>
                        </a>
                    </div>
                </li>
                {% else %}
                <li>
                    <div class="flex items-center">
                        <!-- Heroicon name: solid/chevron-right -->
                        <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                clip-rule="evenodd" />
                        </svg>
                        <a href="{{ p.url }}"
                            class="truncate ml-2 md:ml-4 text-sm font-medium text-gray-400 hover:text-gray-700">{{ p.title }}</a>
                    </div>
                </li>
                {% endif %}
                {% endif %}
                {% endfor %}
                <li>
                    <div class="flex items-center">
                        <!-- Heroicon name: solid/chevron-right -->
                        <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                clip-rule="evenodd" />
                        </svg>
                        <a href="{{ self.url }}"
                            class="truncate ml-2 md:ml-4 text-sm font-medium text-gray-400 hover:text-gray-700"
                            aria-current="page">{{ self.title }}</a>
                    </div>
                </li>
            </ol>
        </nav>
    </header>
    <article class="my-8 max-w-7xl mx-auto grid gap-3 grid-cols-2 md:grid-cols-3 justify-items-start p-2">
        {% for post in newpages %}
        {% cache 300000000 post post.id %}
        <article
            class="transition relative ring-2 ring-gray-800 rounded-lg overflow-hidden group hover:ring-2 hover:ring-blue-600 drop-shadow-2xl">
            {% if post.specific.featured_image %}
            {% image post.specific.featured_image fill-416x234 as post_image %}
            <img title="{{ post.title }}" src="{{ post_image.url }}" alt="{{ post_image.alt }}"
                width="{{ post_image.width }}" height="{{ post_image.height }}">
            {% endif %}
            <div class="text-sm pt-3 pb-2 px-3 flex flex-wrap gap-1">
                <span class="sr-only">Last updated</span>
                <time datetime="{{ post.specific.last_published_at|date:'c' }}"
                    pubdate>{{ post.specific.last_published_at|date:'Y/m/d' }}</time>
                <address class="author"> by <span rel="author">{{ post.specific.owner }}</span></address>
            </div>
            <h2 class="text-lg md:text-xl font-medium pb-3 px-3">
                <a class="transition group-hover:text-blue-600" title="{{ post.title }} PC Specs and Settings"
                    href="{{ post.url }}">{{ post.title }}
                    <span class="absolute inset-0"></span>
                </a>
            </h2>
        </article>
        {% endcache %}
        {% endfor %}
    </article>
</main>
{% endblock %}

{% block extra_js %}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Gamer Stats",
        "item": "https://gamerstats.net"
        },{
        "@type": "ListItem",
        "position": 2,
        "name": "{{ page.title }}"
        }]
    }
</script>
{% endblock %}