<script>
    const showNotice = () => {
        document.getElementsByClassName("copied")[0].classList.remove("hidden");
    }

    const hideNotice = () => {
        document.getElementsByClassName("copied")[0].classList.add("hidden");
    }

    const noticeClose = () => {
        document.getElementsByClassName("copied")[0].classList.add("hidden");
    }

    function copy() {
        let pageLink = document.querySelector("#pageLink");
        pageLink.select();
        document.execCommand("copy");
        showNotice();
        setTimeout(hideNotice, 2000)
    }

    document.querySelector("#copyLink").addEventListener("click", copy);


    function shareMe() {
        window.open('https://google.com', 'popup', 'width=600,height=600');
        return false;
    }
</script>