{% load static %}
<style>
    /* @font-face {
        font-family: "GS-Font";
        src: url("{% static 'css/fBlack.eot' %}") format("embedded-opentype"),
        url("{% static 'css/fBlack.woff2' %}") format("woff2"),
        url("{% static 'css/fBlack.woff' %}") format("woff"),
        url("{% static 'css/fBlack.ttf' %}") format("truetype"),
        url("{% static 'css/fBlack.svg' %}") format("svg");
        font-weight: 900;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "GS-Font";
        src: url("fBold.eot") format("embedded-opentype"),
            url("fBold.woff2") format("woff2"),
            url("fBold.woff") format("woff"),
            url("fBold.ttf") format("truetype"),
            url("fBold.svg") format("svg");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    } */

    @font-face {
        font-family: "GS-Font";
        src: url("{% static 'css/fMed.eot' %}") format("embedded-opentype"),
        url("{% static 'css/fMed.woff2' %}") format("woff2"),
        url("{% static 'css/fMed.woff' %}") format("woff"),
        url("{% static 'css/fMed.ttf' %}") format("truetype"),
        url("{% static 'css/fMed.svg' %}") format("svg");
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "GS-Font";
        src: url("{% static 'css/fReg.eot' %}") format("embedded-opentype"),
        url("{% static 'css/fReg.woff2' %}") format("woff2"),
        url("{% static 'css/fReg.woff' %}") format("woff"),
        url("{% static 'css/fReg.ttf' %}") format("truetype"),
        url("{% static 'css/fReg.svg' %}") format("svg");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }
</style>