{% load urls_build %}
<section class="pc-tab secondary-surface">
    {% if p.team.title == "Blank" %}
    <header class="tab-head tab-head-icon">
        <img src="{{ p.main_game.image.url }}" alt="{{ p.main_game.title }} Streamers">
        <h2 id="related" class="m-0">
            <strong>{{ p.main_game.nickname }} -
                <span class="mute">Related Streamer's Setup</span></strong>
        </h2>
    </header>
    {% else %}
    <header class="tab-head tab-head-icon">
        <img src="{{ p.team.image.url }}" alt="{{ p.team }} Player Roster">
        <h2 id="related" class="m-0">
            <strong>{{ p.team }} ({{ p.main_game.nickname }}) -
                <span class="mute">Player Roster's Setup</span></strong>
        </h2>
    </header>
    {% endif %}
    <div class="list-grid rel-grid">
        {% for i in related %}
        <article class="card-design card-players border border-primary-hover">
            {{ i.image.url|img_url|safe }}
            <div class="card-content">
                <h3 class="card-title">
                    <span class="full-name">{{ i.full_name }}</span>
                    <a class="abs-link" href="{{ i.slug|pcspecs }}">
                        <span class="name-aka">aka</span>
                        <span class="name-alias">{{ i.title }}</span>
                    </a>
                </h3>
                <p class="small-cta">{{ i.title }}'s PC Setup</p>
            </div>
        </article>
        {% endfor %}
    </div>
</section>