{% load urls_build %}
<section class="specs">
    <div class="pc-tab secondary-surface">
        <h2 id="{{ p }}-Equipment" class="tab-heading">
            {% if p.setup_intro_title %}
            <strong>{{ p.setup_intro_title }}</strong>
            {% else %}
            <strong>{{ p }}'s Streaming Setup, Gaming Setup and PC Specs</strong>
            {% endif %}
        </h2>
        <div>{{ p.setup_intro_text|safe }}</div>
    </div>
    <section class="pc-tab secondary-surface">
        <h3 id="Gaming-Gear" class="tab-head tab-heading"><strong>{{ p.title }} Gaming Gear</strong></h3>
        <div class="list-grid">
            {% for i in p.specs.all %}
            {% if i.section == "GG" %}
            <div class="specs-item card-design border-primary-hover">
                <h4 class="m-0 p">{{ i.get_type_display }}</h4>
                {{ i.image.url|img_specs_url|safe }}
                <a class="external abs-link" href="{{ i.amazon_url }}" target="_blank" rel="nofollow">
                    {{ i.title }}</a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </section>
    <section class="pc-tab secondary-surface">
        <h3 id="Gaming-PC-Setup" class="tab-head tab-heading"><strong>{{ p.title }} PC Setup</strong></h3>
        <div class="list-grid">
            {% for i in p.specs.all %}
            {% if i.section == "GPS" %}
            <div class="specs-item card-design border-primary-hover">
                <h4 class="m-0 p">{{ i.get_type_display }}</h4>
                {{ i.image.url|img_specs_url|safe }}
                <a class="external abs-link" href="{{ i.amazon_url }}" target="_blank" rel="nofollow">
                    {{ i.title }}</a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </section>
    <section class="pc-tab secondary-surface">
        <h3 id="Streaming-Setup" class="tab-head tab-heading"><strong>{{ p.title }} Streaming Setup</strong></h3>
        <div class="list-grid">
            {% for i in p.specs.all %}
            {% if i.section == "SPS" %}
            <div class="specs-item card-design border-primary-hover">
                <h4 class="m-0 p">{{ i.get_type_display }}</h4>
                {{ i.image.url|img_specs_url|safe }}
                <a class="external abs-link" href="{{ i.amazon_url }}" target="_blank" rel="nofollow">
                    {{ i.title }}</a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </section>
</section>