{% if p.wiki %}
<section class="pc-tab secondary-surface">
    <div class="tab-head tab-head-icon">
        <img class="border-radius" src="{{ p.image.url }}" alt="{{ p.full_name }}">
        <h2 class="m-0"> <strong>More About {{ p.title }}</strong></h2>
    </div>
    {% comment %}
    <div class="tab-head tab-head-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" stroke="var(--primary)">
            <title>{{ p.title }}'s PC Specs - Frequently Asked Questions</title>
            <path
                d="M160 164s1.44-33 33.54-59.46C212.6 88.83 235.49 84.28 256 84c18.73-.23 35.47 2.94 45.48 7.82C318.59 100.2 352 120.6 352 164c0 45.67-29.18 66.37-62.35 89.18S248 298.36 248 324"
                stroke-linecap="round" stroke-miterlimit="10" stroke-width="40" />
            <circle fill="var(--primary)" cx="248" cy="399.99" r="32" />
        </svg>
        <h2 class="m-0"> <strong>{{ p.title }}'s PC Specs - Frequently Asked Questions</strong></h2>
    </div>
    <div class="grid grid-50">
        <section class="faq_card">
            <h3 class="tab-heading">How do I fill a content gap?</h3>
            <p>You can fill a content gap by uploading new content, adding text or media to your existing page, changing
                your approach to finding keywords, and incorporating new marketing strategies from your competitors.
            </p>
        </section>
        <section class="faq_card">
            <h3 class="tab-heading">How do I fill a content gap?</h3>
            <p>You can fill a content gap by uploading new content, adding text or media to your existing page, changing
                your approach to finding keywords, and incorporating new marketing strategies from your competitors.
            </p>
        </section>
        <section class="faq_card">
            <h3 class="tab-heading">How do I fill a content gap?</h3>
            <p>You can fill a content gap by uploading new content, adding text or media to your existing page, changing
                your approach to finding keywords, and incorporating new marketing strategies from your competitors.
            </p>
        </section>
        <section class="faq_card">
            <h3 class="tab-heading">How do I fill a content gap?</h3>
            <p>You can fill a content gap by uploading new content, adding text or media to your existing page, changing
                your approach to finding keywords, and incorporating new marketing strategies from your competitors.
            </p>
        </section>
    </div>
    {% endcomment %}
    <div>
        {{ p.wiki|safe }}
    </div>
</section>
{% endif %}