{% load age %} {% load urls_build %}
<section class="pc-tab secondary-surface">
    <h2 id="{{ p }}-PC-Cost" class="tab-heading"><strong>{{ p }}'s Setup and PC Cost/Price</strong></h2>
    <table class="pc-cost-table">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Brand & Model</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr class="body-header">
                <th colspan="3">Gaming Gear Cost</th>
            </tr>
            {% for i in p.specs.all %}
            {% if i.section == "GG" %}
            <tr>
                <th scope="row">{{ i.get_type_display }}</th>
                <td>{{ i.title }}</td>
                <td>{{ i.price|calcprice }}</td>
            </tr>
            {% endif %}
            {% endfor %}
            <tr class="body-header">
                <th colspan="3">Gaming PC Setup Cost</th>
            </tr>
            {% for i in p.specs.all %}
            {% if i.section == "GPS" %}
            <tr>
                <th scope="row">{{ i.get_type_display }}</th>
                <td>{{ i.title }}</td>
                <td>{{ i.price|calcprice }}</td>
            </tr>
            {% endif %}
            {% endfor %}
            <tr class="body-header">
                <th colspan="3">Streaming Equipment Cost</th>
            </tr>
            {% for i in p.specs.all %}
            {% if i.section == "SPS" %}
            <tr>
                <th scope="row">{{ i.get_type_display }}</th>
                <td>{{ i.title }}</td>
                <td>{{ i.price|calcprice }}</td>
            </tr>
            {% endif %}
            {% endfor %}
            <tr class="total">
                <th colspan="2" scope="row">Total Cost of PC and Gaming Equipment</th>
                <td>{{ p|get_total }}</td>
            </tr>
        </tbody>
    </table>
</section>