{% load urls_build %} {% load age %}
<header>
    <div class="pc-tab pc-head secondary-surface">
        <figure>
            {{ p.image.url|img_url|safe }}
            <figcaption class="text-center">{{ p.full_name }}</figcaption>
        </figure>
        <div class="pc-head-content">
            <ol id="breadcrumb">
                <li><a href="{% url 'ps' %}">PC Specs</a></li>
                <li>{{ p }} Setup 2022</li>
            </ol>
            <h1 class="m-0 mainHeadline">{{ p }} Setup: Gaming Gear, PC Specs & Cost</h1>
            <span>Last updated
                <time datetime="{{ p.updated_at|date:'Y-m-d' }}T{{ p.updated_at|date:'H:iO' }}">
                    {{ p.updated_at|article_age }}
                </time></span>
            <div class="intro links">
                {{ p.description|safe|linebreaks }}
            </div>
        </div>
    </div>
    <nav class="pc-tab toc secondary-surface">
        <h2 class="dropdown"><button>On This Page</button></h2>
        <ol>
            <li>
                <a href="#{{ p }}-Equipment">{{ p }} PC Setup, Gaming Gear, and Streaming Setup</a>
                <ol>
                    <li><a href="#Gaming-Gear">Gaming Gear</a></li>
                    <li><a href="#Gaming-PC-Setup">Gaming PC Setup</a></li>
                    <li><a href="#Streaming-Setup">Streaming Setup</a></li>
                </ol>
            </li>
            <li>
                <a href="#{{ p }}-PC-Cost">{{ p }} PC Cost</a>
            </li>
            <li>
                {% if p.type == "C" %}
                <a href="#related">{{ p }} -
                    {{ p.main_game.nickname }} Related Streamers PC Setup</a>
                {% else %}
                <a href="#related">{{ p.team }} ({{ p.main_game.nickname }}) -
                    Player Roster's PC Specs</a>
                {% endif %}
            </li>
            <li>
                <a href="#About-This-Page">About This Page</a>
            </li>
            <li>
                <a href="#Comments">Comments</a>
            </li>
        </ol>
    </nav>
</header>