{% extends 'core/base.html' %} {% load static %} {% load age %} {% load urls_build %}

<!-- Title -->
{% block title %}{{ p }} Setup 2022: Gaming Gear, PC Specs, Streaming PC &amp; Cost{% endblock %}
<!-- Description -->
{% block description %}{{ p.title }}'s setup: streaming pc, gaming setup, and pc specs including keyboard, mouse, monitor, graphics card in 2022. {% if p.type == 'E' %} {{ p.title }} is a {{ p.main_game }} pro player for {{ p.team }}. {% else %} {{ p.full_name }} {% if p.team.title != 'Blank' %} is full-time content creator for {{ p.team }} {% else %} is full-time streamer and can been seen playing {{ p.main_game }} frequently.{% endif %}{% endif %}{% endblock %}
<!-- META DATA -->
{% block meta %}{% include 'core/components/ps_profile/profile__meta.html' %}{% endblock %}

{% block script %}

{% include 'core/components/styles/flags.html' %}

<script type="application/ld+json">
{% include 'core/components/ps_profile/profile__schema.html' %}
</script>
{% endblock %}

{% block main %}
<main class="pc-specs">
    <article class="profile-w">
        <!-- Header -->
        {% include 'core/components/ps_profile/profile__header.html' %}
        <div id="articleBody">
            <!-- Specs -->
            {% include 'core/components/ps_profile/profile__specs.html' %}

            <!-- Price Section -->
            {% include 'core/components/ps_profile/profile__specs_price.html' %}

            <!-- Price Section -->
            {% include 'core/components/ps_profile/profile__faq.html' %}

            <!-- Related Streamers -->
            {% include 'core/components/ps_profile/profile__related.html' %}
        </div>
        <!-- About This Page -->
        {% include 'core/components/ps_profile/profile__about_this_page.html' %}
    </article>
    <!-- Comments -->
    {% include 'core/components/ps_profile/profile__comments.html' %}

</main>
{% endblock %}