@font-face {
    font-family: "GS-Font";
    src: url("fBlack.eot") format("embedded-opentype"),
      url("fBlack.woff2") format("woff2"),
      url("fBlack.woff") format("woff"),
      url("fBlack.ttf") format("truetype"),
      url("fBlack.svg") format("svg");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  
  @font-face {
    font-family: "GS-Font";
    src: url("fBold.eot") format("embedded-opentype"),
      url("fBold.woff2") format("woff2"),
      url("fBold.woff") format("woff"),
      url("fBold.ttf") format("truetype"),
      url("fBold.svg") format("svg");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "GS-Font";
    src: url("fMed.eot") format("embedded-opentype"),
      url("fMed.woff2") format("woff2"),
      url("fMed.woff") format("woff"),
      url("fMed.ttf") format("truetype"),
      url("fMed.svg") format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }


  @font-face {
    font-family: "GS-Font";
    src: url("fReg.eot") format("embedded-opentype"),
      url("fReg.woff2") format("woff2"),
      url("fReg.woff") format("woff"),
      url("fReg.ttf") format("truetype"),
      url("fReg.svg") format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }