{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="{% static 'js/navbar.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>

<body class="bg-primary">
    <nav class="navbar bg-primary from-gray-800 bg-gradient-to-t is-dark" role="navigation"
        aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="{% static 'imgs/logo-dark.gamerstats-svg.png' %}" width="" height="">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    Home
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Gamers
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            CS:GO
                        </a>
                        <a class="navbar-item">
                            VALORANT
                        </a>
                        <a class="navbar-item">
                            LOL
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            More Games
                        </a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        PC Specs
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            Clix
                        </a>
                        <a class="navbar-item">
                            s1mple
                        </a>
                        <a class="navbar-item">
                            Bugha
                        </a>
                        <a class="navbar-item">
                            Stable Ronaldo
                        </a>
                        <a class="navbar-item">
                            Nickmerce
                        </a>
                        <a class="navbar-item">
                            Ninja
                        </a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Teams
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            CS:GO
                        </a>
                        <a class="navbar-item">
                            VALORANT
                        </a>
                        <a class="navbar-item">
                            LOL
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            More Games
                        </a>
                    </div>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Games
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            Minecraft
                        </a>
                        <a class="navbar-item">
                            Genshin Impact
                        </a>
                        <a class="navbar-item">
                            League of Legends
                        </a>
                        <a class="navbar-item">
                            Overwatch
                        </a>
                        <a class="navbar-item">
                            Fortnite
                        </a>
                        <a class="navbar-item">
                            Rocket League
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons" style="gap: 1em;">
                        <a class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="hsl(0, 0%, 96%)" viewBox="0 0 512 512">
                                <title>Twitter</title>
                                <path
                                    d="M496 109.5a201.8 201.8 0 01-56.55 15.3 97.51 97.51 0 0043.33-53.6 197.74 197.74 0 01-62.56 23.5A99.14 99.14 0 00348.31 64c-54.42 0-98.46 43.4-98.46 96.9a93.21 93.21 0 002.54 22.1 280.7 280.7 0 01-203-101.3A95.69 95.69 0 0036 130.4c0 33.6 17.53 63.3 44 80.7A97.5 97.5 0 0135.22 199v1.2c0 47 34 86.1 79 95a100.76 100.76 0 01-25.94 3.4 94.38 94.38 0 01-18.51-1.8c12.51 38.5 48.92 66.5 92.05 67.3A199.59 199.59 0 0139.5 405.6a203 203 0 01-23.5-1.4A278.68 278.68 0 00166.74 448c181.36 0 280.44-147.7 280.44-275.8 0-4.2-.11-8.4-.31-12.5A198.48 198.48 0 00496 109.5z" />
                            </svg>
                        </a>
                        <a class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="hsl(0, 0%, 96%)" viewBox="0 0 512 512">
                                <title>Twitter</title>
                                <path
                                    d="M496 109.5a201.8 201.8 0 01-56.55 15.3 97.51 97.51 0 0043.33-53.6 197.74 197.74 0 01-62.56 23.5A99.14 99.14 0 00348.31 64c-54.42 0-98.46 43.4-98.46 96.9a93.21 93.21 0 002.54 22.1 280.7 280.7 0 01-203-101.3A95.69 95.69 0 0036 130.4c0 33.6 17.53 63.3 44 80.7A97.5 97.5 0 0135.22 199v1.2c0 47 34 86.1 79 95a100.76 100.76 0 01-25.94 3.4 94.38 94.38 0 01-18.51-1.8c12.51 38.5 48.92 66.5 92.05 67.3A199.59 199.59 0 0139.5 405.6a203 203 0 01-23.5-1.4A278.68 278.68 0 00166.74 448c181.36 0 280.44-147.7 280.44-275.8 0-4.2-.11-8.4-.31-12.5A198.48 198.48 0 00496 109.5z" />
                            </svg>
                        </a>
                        <a class="button is-link">
                            <strong>Newsletter</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>


    {% block main %}{% endblock %}

</body>

</html>