{% extends 'core/base.html' %} {% load urls_build %}

{% block description %}
Find your favorite Twitch streamer and esports professional player's PC Specs in 2022 including gaming gear and
streaming setup from NAVI's Player Roster to G2 Esports' and VALORANT professional to CS:GO professionals.
{% endblock %}


{% block title %}Streamers & Esports Professional's Setup, Gear & PC Specs - GamerStats.net{% endblock %}

{% block meta %}
<link rel="canonical" href="https://gamerstats.net{% url 'ps' %}">

<!--Open Graph Metadata-->
<meta property="og:type" content="article" />
<meta property="og:title" content="Streamers & Esports Professional's Setup, Gear & PC Specs - GamerStats.net" />
<meta property="og:description"
    content="Find your favorite Twitch streamer and esports professional player's PC Specs in 2022 including gaming gear and streaming setup from NAVI's Player Roster to G2 Esports' and VALORANT professional to CS:GO professionals." />
<meta property="og:image" content="https://gamerstats.net/static/images/setup.png" />
<meta property=" og:image:width" content="1920">
<meta property="og:image:height" content="1080">
<meta property="og:image:alt" content="Streamers & Esports Professional's Setup, Gear & PC Specs" />
<meta property="og:site_name" content="Gamer Stats" />
<meta property="og:url" content="https://gamerstats.net{% url 'ps' %}" />
<!--Twitter Card Metadata-->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@TheGamerStats" />
<meta name="twitter:creator" content="@TheGamerStats">
<meta name="twitter:title" content="Streamers & Esports Professional's Setup, Gear & PC Specs - GamerStats.net" />
<meta name="twitter:description"
    content="Find your favorite Twitch streamer and esports professional player's PC Specs in 2022 including gaming gear and streaming setup from NAVI's Player Roster to G2 Esports' and VALORANT professional to CS:GO professionals." />
<meta name="twitter:image" content="https://gamerstats.net/static/images/setup.png" />
<meta name="twitter:image:alt" content="Streamers & Esports Professional's Setup, Gear & PC Specs" />
<meta name="twitter:url" content="https://gamerstats.net{% url 'ps' %}" />
{% endblock %}

{% block main %}
<main>
    <header class="secondary-surface cat-head">
        <div class="container">
            <h1>Esports Players and Streamers PC Specs and Equipments</h1>
            <p>Search for your favorite streamer and professional esports player gaming PC specification, setup, and
                career information!</p>
        </div>
    </header>
    <section class="container section-spacing">
        <header class="heading-para">
            <h2 class="heading">Latest Streamers Setup, Gaming Gear and PC Cost</h2>
        </header>
        <div class="list-grid">
            {% for i in psc %}
            <article class="card-design card-players ">
                {{ i.image.url|img_url|safe }}
                <div class="card-content">
                    <h3 class="card-title">
                        <span class="full-name">{{ i.full_name }}</span>
                        <a class="abs-link" href="{{ i.slug|pcspecs }}">
                            <span class="name-aka">aka</span>
                            <span class="name-alias">{{ i.title }}</span>
                        </a>
                    </h3>
                    {% comment %}
                    <div class="person-rel">
                        <img src="{{ i.main_game.image.url }}" alt="{{ i.main_game }} Logo">
                        <p>{{ i.main_game.nickname }}</p>
                    </div>
                    {% endcomment %}
                    <p>Twitch streamer and content creator{% if i.team.title != "Blank" %} for
                        {{ i.team }}{% endif %}. Actively streams {{ i.main_game.nickname }}</p>
                    <p class="small-cta">{{ i.title }}'s PC SPECS</p>
                </div>
            </article>
            {% endfor %}
        </div>
        <div class="text-center pt-30">
            <a class="btn btn-outline" href="{% url 'ps_streamers' %}">All Streamers List</a>
        </div>
    </section>
    <section class="container section-spacing">
        <header class="heading-para">
            <h2 class="heading">Esports Players Setup, Gaming Gear and PC Cost</h2>
        </header>
        <div class="list-grid">
            {% for i in ep %}
            <article class="card-design card-players ">
                {{ i.image.url|img_url|safe }}
                <div class="card-content">
                    <h3 class="card-title">
                        <span class="full-name">{{ i.full_name }}</span>
                        <a class="abs-link" href="{{ i.slug|pcspecs }}">
                            <span class="name-aka">aka</span>
                            <span class="name-alias">{{ i.title }}</span>
                        </a>
                    </h3>
                    {% comment %}
                    <div class="person-rel">
                        <img src="{{ i.main_game.image.url }}" alt="{{ i.main_game }} Logo">
                        <p>{{ i.main_game.nickname }}</p>
                    </div>
                    {% endcomment %}
                    <p>Professional {{ i.main_game.nickname }} player roster for {{ i.team }}</p>
                    <p class="small-cta">{{ i.title }}'s PC SPECS</p>
                </div>
            </article>
            {% endfor %}
        </div>
        <div class="text-center pt-30">
            <a class="btn btn-outline" href="{% url 'ps_esports_players' %}">All Esports Professionals List</a>
        </div>
    </section>
    <section class="container section-spacing">
        <header class="heading-para">
            <h2 class="heading">Filter Streamer and Players By Teams</h2>
        </header>
        <div class="list-grid">
            {% for i in tm %}
            <article class="card-design team-card">
                {{ i.main_image.url|team_img_url|safe }}
                <div class="card-content">
                    <h3 class="card-title">
                        <a class="abs-link" href="{{ i.slug|team_url }}">
                            <span>{{ i }} </span>
                        </a>
                    </h3>
                    <p class="hide-desk">Checkout PC Specs of {{ i.title }} players and streamers</p>
                </div>
            </article>
            {% endfor %}
        </div>
        <div class="text-center pt-30">
            <a class="btn btn-outline" href="{% url 'ps_teams' %}">All Teams List</a>
        </div>
    </section>
    <section class="container section-spacing">
        <header class="heading-para">
            <h2 class="heading">View Creators and Professional Players By Games</h2>
        </header>
        <div class="list-grid">
            {% for i in gm %}
            <article class="card-design game-item">
                {{ i.main_image.url|game_img_url|safe }}
                <div class="card-content">
                    <h3 class="card-title">
                        <a class="abs-link" href="{{ i.slug|game_url }}">
                            <span>{{ i }} </span>
                        </a>
                    </h3>
                    <p class="hide-desk">Checkout streamers of this games!</p>
                </div>
            </article>
            {% endfor %}
        </div>
        <div class="text-center pt-30">
            <a class="btn btn-outline" href="{% url 'ps_games' %}">View All Games List</a>
        </div>
    </section>
</main>


{% endblock %}