{% extends 'core/base.html' %} {% load urls_build %}

{% block description %}
Find your favorite esports player roster, twitch streamers, and YouTuber's PC Specs, streaming pc setup, and gaming gear
by Teams. From T1 content creators to team liquid's professional players.
{% endblock %}


{% block title %}Esports Players & Streamers PC Specs, Gaming Gear & Streaming Setup By Teams - GamerStats.net
{% endblock %}

{% block meta %}
<link rel="canonical" href="https://gamerstats.net{% url 'ps_teams' %}">

<!--Open Graph Metadata-->
<meta property="og:type" content="article" />
<meta property="og:title"
    content="Esports Players & Streamers PC Specs, Gaming Gear & Streaming Setup By Teams - GamerStats.net" />
<meta property="og:description"
    content="Find your favorite esports player roster, twitch streamers, and YouTuber's PC Specs, streaming pc setup, and gaming gear by Teams. From T1 content creators to team liquid's professional players." />
<meta property="og:image" content="https://gamerstats.net/static/images/setup.png" />
<meta property=" og:image:width" content="1920">
<meta property="og:image:height" content="1080">
<meta property="og:image:alt" content="Esports Players & Streamers PC Specs, Gaming Gear & Streaming Setup By Teams" />
<meta property="og:site_name" content="Gamer Stats" />
<meta property="og:url" content="https://gamerstats.net{% url 'ps_teams' %}" />
<!--Twitter Card Metadata-->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@TheGamerStats" />
<meta name="twitter:creator" content="@TheGamerStats">
<meta name="twitter:title"
    content="Esports Players & Streamers PC Specs, Gaming Gear & Streaming Setup By Teams - GamerStats.net" />
<meta name="twitter:description"
    content="Find your favorite esports player roster, twitch streamers, and YouTuber's PC Specs, streaming pc setup, and gaming gear by Teams. From T1 content creators to team liquid's professional players." />
<meta name="twitter:image" content="https://gamerstats.net/static/images/setup.png" />
<meta name="twitter:image:alt" content="Esports Players & Streamers PC Specs, Gaming Gear & Streaming Setup By Teams" />
<meta name="twitter:url" content="https://gamerstats.net{% url 'ps_teams' %}" />
{% endblock %}

{% block main %}

<main class="container-fluid">
    <!-- Header 1. -->
    <header class="list-page-header dotted-links">
        <div class="container">
            <h1>Esports Teams PC Specs and Equipments</h1>
            <p>This page covers esports and content creators teams. You can find your favorite esports player or Twitch
                streamers and content creators equipments and pc specs by selecting a particular team.</p>
            <p>Filter your favorite roster player or streamer with the following pages:</p>
            <div class="links">
                <ul class="calm-list">
                    <li><a href="{% url 'ps' %}">PC Specs - Main Page</a></li>
                    <li><a href="{% url 'ps_games' %}">View Streamers and Professionals By Games</a></li>
                    <li><a href="{% url 'ps_esports_players' %}">View All Esports Players</a></li>
                    <li><a href="{% url 'ps_streamers' %}">View All Streamers and Content Creators</a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- / Header 1. -->

    <!-- Section 2. PC SPECS PROFILES -->
    <section class="container section-spacing">
        <header class="heading-para">
            <h2 class="heading">Recently Updated Players In Teams</h2>
        </header>
        <div class="list-grid">
            {% for i in teams %}
            <article class="card-design team-card">
                {{ i.main_image.url|team_img_url|safe }}
                <div class="card-content">
                    <h3 class="card-title">
                        <a class="abs-link" href="{{ i.slug|team_url }}">
                            <span>{{ i }} </span>
                        </a>
                    </h3>
                    <p class="hide-desk">Checkout PC Specs of {{ i.title }} players and streamers</p>
                </div>
            </article>
            {% endfor %}
        </div>
    </section>

    <!-- / Section 2. PC SPECS PROFILES -->

    <!-- 3. Pagination -->

    <div class="pagination container">
        <span class="step-links">
            {% if teams.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ teams.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ teams.number }} of {{ teams.paginator.num_pages }}.
            </span>

            {% if teams.has_next %}
            <a href="?page={{ teams.next_page_number }}">next</a>
            <a href="?page={{ teams.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

    <!-- / 3. Pagination -->

    <!-- 5. Aside - Related Links -->

    <aside class="archive-aside">
        <section class="container">
            <h2>Find More Related:</h2>
            <ul class="dotted-links">
                <li><a href="{% url 'ps' %}">PC Specs Main Page</a></li>
                <li><a href="{% url 'ps_games' %}">Find streamers and pro players by games</a></li>
            </ul>
        </section>
    </aside>
    <!-- / 5. Aside - Related Links -->
</main>

{% endblock %}