{% extends 'base.html' %}
<!-- Titles -->
{% block title %}{{ obj.meta_title }}{% endblock %}
{% block og_title %}{{ obj.meta_title }}{% endblock %}
{% block tw_title %}{{ obj.meta_title }}{% endblock %}
<!-- descriptions -->
{% block description %}{{ obj.meta_description }}{% endblock %}
{% block og_description %}{{ obj.meta_description }}{% endblock %}
{% block tw_description %}{{ obj.meta_description }}{% endblock %}
<!-- meta urls -->
{% block tw_url %}{{ request.build_absolute_uri }}{% endblock %}
{% block og_url %}{{ request.build_absolute_uri }}{% endblock %}
{% block can_url %}{{ request.build_absolute_uri }}{% endblock %}
<!-- loading required assets  -->
{% load static %} {% load age %}
<!-- main page html -->
{% block content %}
<div class="container-fluid">
    <nav aria-label="breadcrumb" class="row border-bottom bg--dark">
        <ol class="breadcrumb mb-0 p-2 px-4 d-flex">
            <li class="breadcrumb-item">
                <a class="text-12px text--light" href="{% url 'index' %}" title="Home - Gamer Stats">Home</a>
            </li>
            <li class="breadcrumb-item active text-12px align-self-end text--light" aria-current="page">
                {{ obj.meta_title }}
            </li>
        </ol>
    </nav>
    <main class="row">
        <div class="col-lg-10 mx-auto section-boxes">
            <header class="d-flex flex-md-row flex-column align-items-center gap-4">
                <img class="img-sq__md rounded-4" src="{{ obj.avatar.image.url }}" alt="{{ obj.avatar.alt }}"
                    title="{{ obj.avatar.caption }}">
                <div>
                    <h1 class="fs-3 fw-bold">{{ obj.game.title }}</h1>
                    {{ obj.game.overview|safe }}
                    <a class="link-btn" target="_blank" href="{% url 'wiki_single' obj.game.slug %}">
                        {{ obj.game.title }} Wiki
                    </a>
                </div>
            </header>
            <section class="esports-teams-section">
                <h2 class="fs-4 fw-bold mb-3">CS:GO Esports Teams</h2>
                <div class="esports-teams gap-3">
                    {% for i in teams %}
                    <div class="team rounded">
                        <figure class="team-logo">
                            <img class="img-sq__sm" src="{{ i.avatar.image.url }}" alt="{{ i }}">
                            <figcaption class="visually-hidden">{{ i }}</figcaption>
                        </figure>
                        <h3 class="fs-6 fw-bold">{{ i.title }}</h3>
                        <div class="team-links">
                            <a class="team-links__roster link-btn" href="{% url 'team' obj.slug i.slug %}">
                                <span class="visually-hidden">{{ i }} CS:GO </span>Roster
                            </a>
                            <a class="team-links__wiki link-btn" href="{% url 'wiki_single' i.team_wiki.slug %}">
                                <span class="visually-hidden">{{ i }} </span>Wiki
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>


            <section class="">
                <h2 class="fs-4 fw-bold mb-3">Top CS:GO Esports Players</h2>
                <div class="table-responsive text-14px">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Player</th>
                                <th>Team</th>
                                <th>Maps</th>
                                <th>Rounds</th>
                                <th>Kills</th>
                                <th>Deaths</th>
                                <th>K/D</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in players %}
                            <tr>
                                <th scope="row">#</th>
                                <td>FLAG {{ i }}</td>
                                <td>{{ i.team.title }}</td>
                                <td>22222</td>
                                <td>5555555</td>
                                <td>1212122</td>
                                <td>4141414</td>
                                <td>1.5</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </main>
</div>

{% endblock %}