<!-- NEWS -->

<!-- <div class="row border-bottom pt-3 pb-5 py-md-5">
            <h1 class="fs-4 fw-bold mb-3">Gamer Stats - Latest Esports News</h1>
            <div class="d-flex flex-column flex-md-row flex-md-wrap" style="gap: 12px;">
                {% for i in news %}
                <article
                    class="bg-light overflow-hidden position-relative border rounded news-article flex-wrap d-flex d-md-block">
                    <picture>
                        <source media="(min-width: 768px)" srcset="{{ i.avatar.image.url }}-304.webp">
                        <source media="(max-width: 767px)" srcset="{{ i.avatar.image.url }}-128.webp">
                        <img src="{{ i.avatar.image.url }}" alt="{{ i.title }}" title="{{ i.title }}">
                    </picture>
                    <div class="col rounded p-2">
                        <span class="text-12px text-muted text-uppercase">
                            <span class="visually-hidden">Last updated</span>
                            <time pubdate datetime="{{ obj.updated_at|date:'c' }}">
                                {{ i.updated_at|article_age }}
                            </time>
                            <address class="author"> by <span rel="author">{{ i.writer.username }}</span></address>
                        </span>
                        <h2 class="mb-0 mt-1 fs-6 fw-semibold">
                            <a class="stretched-link txt-link border-0" href="{% url 'news_single' i.slug %}">
                                {{ i.title }}
                            </a>
                        </h2>
                    </div>
                </article>
                {% endfor %}
            </div>
            <span>
                <a class=" link-btn mt-4" href="{% url 'news' %}">View all news</a>
            </span>
        </div> -->

<!-- <article class="col-lg-9">
    <div class="card text-white hover-element__main shadow-sm">
        {% for i in news %}
        {% if forloop.counter == 1 %}
        <img src="{{ i.avatar.image.url }}" alt="{{ i.title }}" width="{{ i.avatar.image.width }} / 2"
            height="100%">
        <div class="position-absolute bottom-0 p-2 rounded bg-black bg-gradient bg-opacity-75">
            <time class="card-text text-12px text-uppercase"
                datetime="{{ i.created_at|date:'Y-m-d' }}T{{ i.created_at|date:'H:iO' }}">
                {{ i.updated_at|article_age }}</time>
            <h2 class="mt-1 fs-4 heading-18px mb-0 hover-element__border">{{ i.title }}</h2>
        </div>
        <a class="stretched-link" href="{% url 'news_single' i.slug %}"><span
                class="visually-hidden">Continue
                reading {{ i.title }}</span></a>
        {% endif %}
        {% endfor %}
    </div>
</article> -->