{% extends 'base.html' %}
{% load static %}{% load age %}

{% block title %}{% block og_title %}{% block tw_title %}{% block tw_img_alt %}{% block og_img_alt %}Esports News, Live
Updates, Pro Settings and Setup{% endblock %}{% endblock %}{% endblock %}{% endblock %}{% endblock %}

{% block description %}{% block og_description %}{% block tw_description %}Gamer Stats covers streamers and pro esports
player's setup, PC specs, and gaming gear as well as esports news, game leaks, and streamers rumors and gossips of all
Twitch streamers and YouTubers...{% endblock %}{% endblock %}{% endblock %}

{% block content %}

<div class=" bg-white">
    <main class="container">
        <div class="row border-bottom pt-3 pb-5 py-md-5">
            <h1 class="fs-4 fw-bold mb-3">Gamer Stats - Latest Esports News</h1>
            <div class="d-flex flex-column flex-md-row flex-md-wrap" style="gap: 12px;">
                {% for i in news %}
                <article
                    class="bg-light hover-element__main overflow-hidden position-relative border rounded news-article flex-wrap d-flex d-md-block">
                    <figure class="m-0 col-auto">
                        <picture>
                            <source media="(min-width: 768px)" srcset="{{ i.avatar.image.url }}-304.webp">
                            <source media="(max-width: 767px)" srcset="{{ i.avatar.image.url }}-128.webp">
                            <img src="{{ i.avatar.image.url }}" alt="{{ i.title }}" title="{{ i.title }}">
                        </picture>
                        <figcaption class="visually-hidden">{{ i.avatar.caption }}</figcaption>
                    </figure>
                    <div class="col rounded p-2 hover-element__border hover-element__border__jam">
                        <span class="text-12px text-muted text-uppercase">
                            <span class="visually-hidden">Last updated</span>
                            <time pubdate datetime="{{ obj.updated_at|date:'c' }}">
                                {{ i.updated_at|article_age }}
                            </time>
                            <address class="author"> by <span rel="author">{{ i.writer.username }}</span></address>
                        </span>
                        <h2 class="mb-0 mt-1 fs-6 fw-semibold">
                            <a class="stretched-link txt-link border-0" href="{% url 'news_single' i.slug %}">
                                {{ i.title }}
                            </a>
                        </h2>
                    </div>
                </article>
                {% endfor %}
            </div>
            <span>
                <a class=" link-btn mt-4" href="{% url 'news' %}">View all news</a>
            </span>
        </div>

        <!-- Pro settings -->
        <section class="section-main row mt-5 pb-5">
            <h2 class="fs-4 fw-bold mb-3">Pro Players Settings</h2>
            <div class="section-inner gap-3">
                {% for i in setup %}
                <article class="section-single rounded position-relative">
                    {% if i.image_url %}
                    <figure class="section-single__image">
                        <picture>
                            <source media="(min-width: 540px)" srcset="{{ i.image_url }}-180.webp">
                            <source media="(max-width: 539px)" srcset="{{ i.image_url }}-140.webp">
                            <img src="{{ i.image_url }}" alt="{{ i.title }} {{ i.game__title }} Settings"
                                title="{{ i.title }}" load="lazy">
                        </picture>
                        <figcaption class="visually-hidden">{{ i.title }} {{ i.game__title }} Settings</figcaption>
                    </figure>
                    {% endif %}
                    <h3 class="fs-6 fw-semibold section-single__title">
                        <a class="stretched-link txt-link" href="{% url 'setup_single' i.slug %}">
                            {{ i.title }} Settings
                        </a>
                    </h3>
                    {% if i.is_pro is true %}
                    <p class="text-12px mb-0">{{ i.game__title }} professional for {{ i.team__title }}</p>
                    {% else %}
                    <p class="text-12px mb-0">Streamer and Content Creator</p>
                    {% endif %}
                    <span class="text-12px text-muted text-uppercase">
                        <span class="visually-hidden">Last updated</span>
                        <time pubdate datetime="{{ obj.updated_at|date:'c' }}">
                            {{ i.updated_at|article_age }}
                        </time>
                        <address class="author"> by <span rel="author">{{ i.writer__name }}</span></address>
                    </span>
                </article>
                {% endfor %}
            </div>
            <footer>
                <a class="mt-3 link-btn" href="{% url 'setup' %}">View All Players</a>
            </footer>
        </section>

        <!-- Esports Wikis -->

        <section class="section-main row mt-5 pb-5">
            <h2 class="fs-4 fw-bold mb-3">Esports Wikis</h2>
            <div class="section-inner gap-3">
                {% for i in wikis %}
                <article class="section-single rounded position-relative">
                    {% if i.avatar.image.url %}
                    <figure class="section-single__image">
                        <picture>
                            <source media="(min-width: 540px)" srcset="{{ i.avatar.image.url }}-180.webp">
                            <source media="(max-width: 539px)" srcset="{{ i.avatar.image.url }}-140.webp">
                            <img src="{{ i.avatar.image.url }}" alt="{{ i.title }} Wiki" title="{{ i.title }}"
                                load="lazy">
                        </picture>
                        <figcaption class="visually-hidden">{{ i.title }} Wiki</figcaption>
                    </figure>
                    {% endif %}
                    <span class="text-12px text-muted">
                        <span class="visually-hidden">Last updated</span>
                        <time pubdate datetime="{{ obj.updated_at|date:'c' }}">
                            {{ i.updated_at|article_age }}
                        </time>
                        <address class="author"> by <span rel="author">{{ i.writer }}</span></address>
                    </span>
                    <h3 class="fs-6 fw-semibold section-single__title mt-1">
                        <a class="stretched-link txt-link" href="{% url 'wiki_single' i.slug %}">
                            <span>{{ i.title }}</span>
                        </a>
                    </h3>
                </article>
                {% endfor %}
            </div>
            <footer>
                <a class="mt-5 link-btn" href="{% url 'wiki' %}">View all wikis</a>
            </footer>
        </section>
    </main>
</div>
{% endblock %}