{% extends 'base.html' %}
{% load static %}{% load age %}

{% block title %}{% block og_title %}{% block tw_title %}{% block tw_img_alt %}{% block og_img_alt %}Esports News, Live
Updates, Pro Settings and Setup{% endblock %}{% endblock %}{% endblock %}{% endblock %}{% endblock %}

{% block description %}{% block og_description %}{% block tw_description %}Gamer Stats covers streamers and pro esports
player's setup, PC specs, and gaming gear as well as esports news, game leaks, and streamers rumors and gossips of all
Twitch streamers and YouTubers...{% endblock %}{% endblock %}{% endblock %}

{% block content %}

<div class=" bg-white">
    <main class="container">
        <div class="row border-bottom pt-3 pb-5 py-md-5">
            <h1 class="fs-4 fw-bold mb-3">Gamer Stats - Latest Esports News</h1>
            <div class="d-flex flex-column flex-md-row flex-md-wrap" style="gap: 12px;">
                {% for i in news %}
                <article
                    class="bg-light hover-element__main overflow-hidden position-relative border rounded news-article flex-wrap d-flex d-md-block">
                    <figure class="m-0 col-auto">
                        <picture>
                            <source media="(min-width: 768px)" srcset="{{ i.avatar.image.url }}-304.webp">
                            <source media="(max-width: 767px)" srcset="{{ i.avatar.image.url }}-128.webp">
                            <img src="{{ i.avatar.image.url }}" alt="{{ i.title }}" title="{{ i.title }}">
                        </picture>
                        <figcaption class="visually-hidden">{{ i.avatar.caption }}</figcaption>
                    </figure>
                    <div class="col rounded p-2 hover-element__border hover-element__border__jam">
                        <span class="text-12px text-muted text-uppercase">
                            <span class="visually-hidden">Last updated</span>
                            <time pubdate datetime="{{ obj.updated_at|date:'c' }}">
                                {{ i.updated_at|article_age }}
                            </time>
                            <address class="author"> by <span rel="author">{{ i.writer.username }}</span></address>
                        </span>
                        <h2 class="mb-0 mt-1 fs-6 fw-semibold">
                            <a class="stretched-link txt-link border-0" href="{% url 'news_single' i.slug %}">
                                {{ i.title }}
                            </a>
                        </h2>
                    </div>
                </article>
                {% endfor %}
            </div>
            <span>
                <a class=" link-btn mt-4" href="{% url 'news' %}">View all news</a>
            </span>
        </div>

        <section class="mt-5 pb-5">
            <div class="d-grid grid-xl-3 column-gap-2">
                <h2 class="fs-5 fw-bold mb-3 grid-row-1">Esports Teams</h2>
                <table class="html-table" style="width: 100%;">
                    <thead>
                        <tr>
                            <th style="width: 33.33%; text-align: left;">Profle</th>
                            <th style="width: 33.33%; text-align: center;">Name</th>
                            <th style="width: 33.33%; text-align: right;">Game</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in teams %}
                        <tr>
                            <td style="text-align: left;">
                                <a href="{% url 'teamprofile' i.esports_game__slug i.slug %}">
                                    <img srcset="{{ i.image_url }}-140.webp" src="{{ i.image_url }}" alt="{{ i.title }}"
                                        title="{{ i.title }} {{ i.esports_game__title }} Roster" load="lazy" width="35"
                                        height="35">
                                </a>
                            </td>
                            <td style="text-align: center;">
                                <a href="{% url 'teamprofile' i.esports_game__slug i.slug %}"
                                    title="{{ i.title }} {{ i.esports_game__title }} Roster">
                                    {{ i.title }}
                                </a>
                            </td>
                            <td style="text-align: right;">
                                <a href="{% url 'gameprofile' i.esports_game__slug %}">
                                    <img srcset="{{ i.game_image_url }}-140.webp" src="{{ i.game_image_url }}"
                                        title="{{ i.esports_game__title }}" alt="{{ i.esports_game__title }}"
                                        load="lazy" width="35" height="35">
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h2 class="fs-5 fw-bold mb-3 grid-row-1">CS:GO Professionals</h2>
                <table class="html-table" style="width: 100%;">
                    <thead>
                        <tr>
                            <th style="width: 33.33%; text-align: left;">Profle</th>
                            <th style="width: 33.33%; text-align: center;">Name</th>
                            <th style="width: 33.33%; text-align: right;">Team</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in cs_players %}
                        <tr>
                            <td style="text-align: left;">
                                <a href="{% url 'setup_single' i.slug %}">
                                    <img srcset="{{ i.image_url }}-140.webp" src="{{ i.image_url }}" alt="{{ i.title }}"
                                        title="{{ i.title }} CS:GO Settings" load="lazy" width="35" height="35">
                                </a>
                            </td>
                            <td style="text-align: center;">
                                <a href="{% url 'setup_single' i.slug %}" title="{{ i.title }} CS:GO Settings">
                                    {{ i.title }}
                                </a>
                            </td>
                            <td style="text-align: right;">
                                <a href="{% url 'teamprofile' i.game__slug i.team__slug %}">
                                    <img srcset="{{ i.team_url }}-140.webp" src="{{ i.team_url }}"
                                        title="{{ i.team__meta_title }}" alt="{{ i.team__title }}" load="lazy"
                                        width="35" height="35">
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h2 class="fs-5 fw-bold mb-3 grid-row-1">VALORANT Professionals</h2>
                <table class="html-table" style="width: 100%;">
                    <thead>
                        <tr>
                            <th style="width: 33.33%; text-align: left;">Profle</th>
                            <th style="width: 33.33%; text-align: center;">Name</th>
                            <th style="width: 33.33%; text-align: right;">Team</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in valo_players %}
                        <tr>
                            <td style="text-align: left;">
                                <a href="{% url 'setup_single' i.slug %}">
                                    <img srcset="{{ i.image_url }}-140.webp" src="{{ i.image_url }}" alt="{{ i.title }}"
                                        title="{{ i.title }} VALORANT Settings" load="lazy" width="35" height="35">
                                </a>
                            </td>
                            <td style="text-align: center;">
                                <a href=" {% url 'setup_single' i.slug %}" title="{{ i.title }} VALORANT Settings">
                                    {{ i.title }}
                                </a>
                            </td>
                            <td style="text-align: right;">
                                <a href="{% url 'teamprofile' i.game__slug i.team__slug %}">
                                    <img srcset="{{ i.team_url }}-140.webp" src="{{ i.team_url }}"
                                        title="{{ i.team__meta_title }}" alt="{{ i.team__title }}" load="lazy"
                                        width="35" height="35">
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </main>
</div>
{% endblock %}