{% extends 'base.html' %}
{% load static %} {% load age %}
<!-- Head Elements -->
{% block title %}Esports
News{% endblock %}

{% block content %}
<!-- Page Header and Breadcrumb -->
<header class="container-fluid border-bottom" style="background-color: #1f2936">
    <nav aria-label="breadcrumb" class="container">
        <ol class="breadcrumb mb-0 py-2 flex-row">
            <li class="breadcrumb-item"><a class="text-12px text-secondary" href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active text-12px align-self-end text-secondary" aria-current="page">
                Esports News</li>
        </ol>
    </nav>
    <h1 class="visually-hidden">Latest Esports News</h1>
</header>
<div class="container">
    <div class="row flex-row-reverse">
        <main class="col-md-10">
            <!-- Main Content -->
            <article class="py-5">
                <div class="row">
                    {% for i in obj %}
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
                        <article
                            class="d-flex flex-row d-lg-block hover-element__main overflow-hidden position-relative shadow-sm border rounded">
                            <figure class="col-4 col-lg-12 m-0">
                                <img class="object-img" src="{% static 'img/s1mp.jpg' %}" alt="{{ i.title }}">
                                <figcaption class="visually-hidden">{{ i.avatar.caption }}</figcaption>
                            </figure>
                            <div class="col-8 col-lg-12 bg-light rounded p-2 hover-element__border">
                                <time class="text-12px text-muted text-uppercase"
                                    datetime="{{ i.created_at|date:'Y-m-d' }}T{{ i.created_at|date:'H:iO' }}">
                                    {{ i.updated_at|article_age }}</time>
                                <span class="text-12px text-muted text-uppercase">by {{ i.writer }}</span>
                                <h2 class="mb-0 mt-1 text-15px">{{ i.title }}</h2>
                            </div>
                            <a class="stretched-link" href="{% url 'news_single' i.slug %}"><span
                                    class="visually-hidden">Read
                                    more about {{ i.title }}</span></a>
                        </article>
                    </div>
                    {% endfor %}
                </div>

                <!-- Pagination -->
                <nav class="d-flex justify-content-center mt-4" aria-label="Pagination">
                    <ol class="pagination">
                        {% if obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ obj.previous_page_number }}">Previous</a>
                        </li>
                        {% endif %}

                        {% for i in obj.paginator %}
                        {% if i.number == obj.number %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?page={{ obj.number }}">{{ obj.number }}</a>
                        </li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i.number }}">{{ i.number }}</a></li>
                        {% endif %}
                        {% endfor %}

                        {% if obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ obj.next_page_number }}">Next</a>
                        </li>
                        {% endif %}
                    </ol>
                </nav>
            </article>
        </main>
        <!-- Sidebar -->
        <aside class="col-md-2 py-5" role="complementary">
            <h2 class="fs-6 fw-bold text-uppercase mb-3">News Categories</h2>
            <nav aria-label="Secondary">
                <ul class="bg-light list-unstyled">
                    {% for i in news_cat %}
                    <li class="">
                        <a class="text-muted text-14px text-decoration-none" href="{% url 'news_filter' i.slug %}">
                            {{ i.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </aside>
    </div>

</div>

{% endblock %}