{% extends "base.html" %} {% load age %} {% load static %}

{% block title %}{{ obj.title }}{% endblock %}

{% block schema %}

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "NewsArticle",
        "headline": "{{ obj.meta_title }}",
        "image": "{{ obj.avatar.image.url }}",
        "datePublished": "{{ obj.created_at|date:'c' }}",
        "dateModified": "{{ obj.updated_at|date:'c' }}",
        "articleSection": "{% for i in obj.tags.all %}{{ i }}{% endfor %}",
        "author": {
          "@type": "Person",
          "name": "{{ obj.writer }}",
          "url": "{{ obj.writer.twitter }}"
        },
        "publisher": {
          "@type": "Organization",
          "name": "Gamer Stats",
          "logo": "{% static 'img/g-dark.png' %}"
        }
      }
</script>

<script type="application/ld+json">
  {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
        "@type": "ListItem",
        "position": 1,
        "name": "Home",
        "item": "https://gamerstats.net{% url 'index' %}"
        },
        {
          "@type": "ListItem",
          "position": 2,
          "name": "News",
          "item": "https://gamerstats.net{% url 'news' %}"
        },
        {
          "@type": "ListItem",
          "position": 3,
          "name": "{{ obj.meta_title }}"
        }
      ]
    }
    
</script>
{% endblock %}

{% block content %}
<!-- Page Header and Breadcrumb -->
<nav aria-label="breadcrumb" class="container-md">
  <div class="row mx-0 border-bottom">
    <ol class="breadcrumb mb-0 py-2 d-flex">
      <li class="breadcrumb-item"><a class="text-12px" href="{% url 'index' %}">Home</a></li>
      <li class="breadcrumb-item"><a class="text-12px" href="{% url 'news' %}">News</a></li>
      <li class="breadcrumb-item active text-12px align-self-end" aria-current="page">
        {{ obj.meta_title }}
      </li>
    </ol>
  </div>
</nav>
<!-- Mains -->
<main class="container">
  <article class="row mx-auto">
    <div class="mt-3 rounded py-3 py-sm-4 bg-white shadow-sm mx-auto">
      <header>
        <h1 class="fs-3 fw-bold">{{ obj.title }}</h1>
        <span class="text-12px text-muted fw-semibold text-uppercase">
          <address class="author"> By <span rel="author">{{ obj.writer }}</span></address> on
          <time pubdate datetime="{{ obj.updated_at|date:'Y-m-d' }}T{{ obj.updated_at|date:'H:iO' }}">
            {{ obj.updated_at|article_age }}
          </time>
        </span>
        <picture>
          <source media="(min-width: 992px)" srcset="{{ obj.avatar.image.url }}-720.webp">
          <source media="(min-width: 576px)" srcset="{{ obj.avatar.image.url }}-512.webp">
          <source media="(max-width: 575px)" srcset="{{ obj.avatar.image.url }}-304.webp">
          <img class="d-block my-3 featured-image rounded" src="{{ obj.avatar.image.url }}"
            alt="{{ obj.avatar.caption }}">
        </picture>

        <div class="pt-2 border-bottom">
          {{ obj.overview|safe }}
        </div>
      </header>
      <div class="article-body py-3">
        {{ obj.body|safe }}
      </div>
      <!-- Article Footer -->
      <footer class="border-top pt-3 mt-3">
        <h3 class="fs-6 fw-bold">TAGS: </h3>
        {% for tag in obj.tags.all %}
        <a class="text-light bg--dark text-16px px-1 rounded m-1" href="{% url 'news_filter' tag.slug %}">
          {{ tag }}
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-box-arrow-in-up-right fw-semibold" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5z" />
            <path fill-rule="evenodd"
              d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0v-5z" />
          </svg>
        </a>
        {% endfor %}
      </footer>
    </div>
  </article>
  <aside class="row mt-4 mx-auto">
    <h2 class="fs-6 fw-bold text-uppercase">Related News:</h2>
    {% for i in news %}
    <article class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <a href="{% url 'news_single' i.slug %}">
        <picture class="image-wrap">
          <source media="(min-width: 768px)" srcset="{{ i.avatar.image.url }}-512.webp">
          <source media="(max-width: 767px)"
            srcset="{{ i.avatar.image.url }}-304.webp, {{ i.avatar.image.url }}-512.webp 1.6x">
          <img src="{{ i.avatar.image.url }}" alt="{{ i.avatar.alt }}" title="{{ i.title }}">
        </picture>
      </a>
      <h3 class="fs-6 fw-semibold mb-0 mt-2"><a href="{% url 'news_single' i.slug %}">{{ i.title }}</a>
      </h3>
      <span class="text-12px text-muted text-uppercase">
        <span class="visually-hidden">Last updated</span>
        <time pubdate datetime="{{ obj.updated_at|date:'c' }}">
          {{ i.updated_at|article_age }}
        </time>
        <address class="author"> by <span rel="author">{{ i.writer.username }}</span></address>
      </span>
    </article>
    {% endfor %}
  </aside>
</main>
<style>
  .featured-image {
    width: 304px;
    height: 171px;
  }

  @media (min-width: 576px) {
    .featured-image {
      width: 512px;
      height: 288px;
    }
  }

  @media (min-width: 992px) {
    .featured-image {
      width: 720px;
      height: 405px;
    }
  }
</style>
<script>
  let table = document.getElementsByTagName("table");
  for (let i = 0; i < table.length; i++) {

    let div = document.createElement("DIV");
    div.classList.add("table-responsive", "text-12px");

    table[i].parentNode.insertBefore(div, table[i]);
    div.appendChild(table[i]);

  }

</script>

{% endblock %}