{% extends "base.html" %}{% block main %}{% load normal %}{% load age %}{% load specs_price %}{% load thumbnail %}
<main class="flex-1 relative focus:outline-none xl:order-last">
    {% include "components/breadcrumb_single.html" %}
    <article class="divide-y divide-gray-200 max-w-5xl mx-auto md:border-gray-200 md:border-r md:border-l">
        <!-- Profile header -->
        <section class="bg-gray-50 pb-6">
            <img class="h-48 w-full object-cover sm:h-72" srcset='
            {% thumbnail obj.meta_images.hd_image "414x192" quality=95 format="WEBP" as im %}
            {{ im.url }} 1w,
            {% endthumbnail %}
            {% thumbnail obj.meta_images.hd_image "1022x288" quality=95 format="WEBP" as im %}
            {{ im.url }} 800w
            {% endthumbnail %}' sizes="(max-width: 600px) 1px, 800px" src="{{ obj.meta_images.hd_image.url }}"
                alt="{{ obj.meta_title }}">
            <div class="-mt-12 sm:-mt-16 sm:px-6 lg:px-8 px-4 sm:flex sm:items-end sm:space-x-5">
                <div class="flex">
                    {% thumbnail obj.avatar.image "128x128" quality=95 format="WEBP" as im %}
                    <img class="bg-gray-600 rounded-full ring-4 ring-white h-32 w-32" srcset="{{ im.url }}"
                        src="{{ obj.avatar.image.url }}" alt="{{ obj.title }}">
                    {% endthumbnail %}
                </div>
                <div class="mt-6 sm:flex-1 sm:min-w-0 sm:flex sm:items-center sm:justify-end sm:space-x-6 sm:pb-1">
                    <div class="mt-6 flex flex-col justify-stretch space-y-2">
                        <span class="text-xs block text-gray-500">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline-block" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                            <span class="sr-only">Last Updated</span>
                            <time datetime="{{ obj.updated_at|date:'Y-m-d' }}T{{ obj.updated_at|date:'H:iO' }}">
                                {{ obj.updated_at|article_age }}
                            </time>
                        </span>
                        {% if wiki is not None %}
                        <a href="{% url 'wiki_single' wiki.slug %}"
                            class="hidden text-sm font-semibold text-indigo-600 hover:text-indigo-500 sm:block">Read
                            {{ obj.title }} Wiki<span aria-hidden="true"> →</span></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="mt-2 sm:px-6 lg:px-8 px-4 sm:mt-6 min-w-0 flex-1">
                <h1 class="text-2xl font-bold text-gray-900">
                    {{ obj.meta_title }}
                </h1>
                <div class="prose prose-indigo text-sm text-gray-500 mt-4">{{ obj.overview|safe }}</div>
            </div>
            {% if wiki is not None %}
            <a href="{% url 'wiki_single' wiki.slug %}"
                class="sm:px-6 lg:px-8 px-4 mt-4 inline-block text-sm font-semibold text-indigo-600 hover:text-indigo-500 sm:hidden">Read
                {{ obj.title }} Wiki<span aria-hidden="true"> →</span></a>
            {% endif %}
        </section>

        <!-- || Tabs -->
        {% include 'components/setup_tabs.html' %}

        {% if obj.settings.data %}
        <!-- || Settings -->
        <section class="py-8 pb-12  sm:px-6 lg:px-8 px-4">
            <h2 id="{{ obj.title }}-{{ obj.game.title }}-Settings" class="text-gray-900 text-xl mb-4">
                <strong>{{ obj.title }} {{ obj.game.title }} Settings</strong>
            </h2>
            {% if obj.settings_body %}
            <div class="prose max-w-full text-sm  prose-indigo text-gray-500 mt-3 pb-5">
                {{ obj.settings_body }}
            </div>
            {% endif %}
            <div class="bg-gray-50 divide-y divide-gray-200 border rounded-lg">
                {% for title, values in obj.settings.data.items %}
                <section class="py-6 px-4 sm:px-6 lg:px-8">
                    <h3 id="{{ obj.title }}-{{ title|removespace }}" class="capitalize mb-4 text-lg text-indigo-500">
                        <strong class="font-semibold">{{ title }}</strong>
                    </h3>
                    {% if title == "Video Settings" or title == "Monitor settings" %}
                    {% for k, v in values.items %}
                    <h4 class="mt-6 uppercase mb-4 text-sm font-medium text-gray-600">
                        {{ k }}</h4>
                    <dl class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 lg:grid-cols-4">
                        {% for kk, vv in v.items %}
                        <div class="sm:col-span-1">
                            <dt class="text-sm font text-gray-500">
                                {{ kk }}
                            </dt>
                            <dd class="mt-1 text-base font-medium text-gray-900">
                                {{ vv }}
                            </dd>
                        </div>
                        {% endfor %}
                    </dl>
                    {% endfor %}
                    {% else %}

                    <dl class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 lg:grid-cols-4">
                        {% for k, v in values.items %}
                        <div class="sm:col-span-1">
                            <dt class="text-sm font text-gray-500">
                                {{ k }}
                            </dt>
                            <dd class="mt-1 text-base font-medium text-gray-900">
                                {{ v }}
                            </dd>
                        </div>
                        {% endfor %}
                    </dl>

                    {% endif %}
                </section>
                {% endfor %}
            </div>
        </section>
        {% endif %}
        <!-- || Setup -->
        <section class="py-8 pb-12  px-4 sm:px-6 lg:px-8">
            <h2 id="{{ obj.title }}-Setup" class="text-gray-900 text-xl mb-4">
                <strong>{{ obj.title }} Setup</strong>
            </h2>
            {% if obj.setup_body %}
            <div class="prose max-w-full prose-indigo text-sm text-gray-500 mt-3 pb-5">
                {{ obj.setup_body|safe }}
            </div>
            {% endif %}
            <div class="bg-gray-50 divide-y border divide-gray-200 rounded-lg">
                <section class="py-6 px-4 sm:px-6 lg:px-8">
                    <header class="flex items-baseline justify-between">
                        <h3 id="{{ obj.title }}-Gaming-Gear" class="capitalize text-lg mb-4 text-indigo-500">
                            <strong class="font-semibold">Gaming Gear</strong>
                        </h3>
                        <p class="text-xs text-gray-500">
                            Click on image to learn more
                        </p>
                    </header>
                    <ul role="list"
                        class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 md:grid-cols-4 lg:grid-cols-5 xl:gap-x-8">
                        {% for spec in obj.specs.all %}
                        {% if spec.section == "GG" %}
                        <li class="relative">
                            <div
                                class="group block w-full aspect-w-1 aspect-h-1 rounded-lg bg-gray-200 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
                                {% thumbnail spec.avatar.image "190x190" quality=90 format="WEBP" as im %}
                                <img srcset="{{ im.url }}" src="{{ spec.avatar.image.url }}" alt="{{ spec }}"
                                    class="object-cover pointer-events-none group-hover:opacity-75 transition">
                                {% endthumbnail %}
                                <a href="{{ spec.amazon_url }}" class="absolute inset-0 focus:outline-none"
                                    target="_blank">
                                    <span class="sr-only">View details for {{ spec }}</span>
                                </a>
                            </div>
                            <h4 class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none">
                                {{ spec.get_specs_type_display }}
                            </h4>
                            <p class="block text-xs font-medium text-gray-500 pointer-events-none">
                                {{ spec }}
                            </p>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </section>
                <section class="py-6 px-4 sm:px-6 lg:px-8">
                    <header class="flex items-baseline justify-between">
                        <h3 id="{{ obj.title }}-PC-Setup" class="capitalize text-lg mb-4 text-indigo-500">
                            <strong class="font-semibold">Gaming PC Setup</strong>
                        </h3>
                        <p class="text-xs text-gray-500">
                            Click on image to learn more
                        </p>
                    </header>
                    <ul role="list"
                        class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 md:grid-cols-4 lg:grid-cols-5 xl:gap-x-8">
                        {% for spec in obj.specs.all %}
                        {% if spec.section == "GPS" %}
                        <li class="relative">
                            <div
                                class="group block w-full aspect-w-1 aspect-h-1 rounded-lg bg-gray-200 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
                                {% thumbnail spec.avatar.image "190x190" quality=90 format="WEBP" as im %}
                                <img srcset="{{ im.url }}" src="{{ spec.avatar.image.url }}" alt="{{ spec }}"
                                    class="object-cover pointer-events-none group-hover:opacity-75 transition">
                                {% endthumbnail %}
                                <a href="{{ spec.amazon_url }}" class="absolute inset-0 focus:outline-none"
                                    target="_blank">
                                    <span class="sr-only">View details for {{ spec }}</span>
                                </a>
                            </div>
                            <h4 class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none">
                                {{ spec.get_specs_type_display }}
                            </h4>
                            <p class="block text-xs font-medium text-gray-500 pointer-events-none">
                                {{ spec }}
                            </p>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </section>
                <section class="py-6 px-4 sm:px-6 lg:px-8">
                    <header class="flex items-baseline justify-between">
                        <h3 id="{{ obj.title }}-Streaming-Setup" class="capitalize text-lg mb-4 text-indigo-500">
                            <strong class="font-semibold">Streaming Setup</strong>
                        </h3>
                        <p class="text-xs text-gray-500">
                            Click on image to learn more
                        </p>
                    </header>
                    <ul role="list"
                        class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 md:grid-cols-4 lg:grid-cols-5 xl:gap-x-8">
                        {% for spec in obj.specs.all %}
                        {% if spec.section == "SPS" %}
                        <li class="relative">
                            <div
                                class="group block w-full aspect-w-1 aspect-h-1 rounded-lg bg-gray-200 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
                                {% thumbnail spec.avatar.image "190x190" quality=90 format="WEBP" as im %}
                                <img srcset="{{ im.url }}" src="{{ spec.avatar.image.url }}" alt="{{ spec }}"
                                    class="object-cover pointer-events-none group-hover:opacity-75 transition">
                                {% endthumbnail %}
                                <a href="{{ spec.amazon_url }}" class="absolute inset-0 focus:outline-none"
                                    target="_blank">
                                    <span class="sr-only">View details for {{ spec }}</span>
                                </a>
                            </div>
                            <h4 class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none">
                                {{ spec.get_specs_type_display }}
                            </h4>
                            <p class="block text-xs font-medium text-gray-500 pointer-events-none">
                                {{ spec }}
                            </p>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </section>
            </div>
        </section>

        <!-- || Setup Cost -->
        <section class="py-8 pb-12  px-4 sm:px-6 lg:px-8">
            <h2 id="{{ obj.title }}-Setup-Cost" class="text-gray-900 text-xl mb-4">
                <strong>{{ obj.title }} Setup Cost</strong>
            </h2>
            <div class="overflow-hidden border rounded-lg">
                <table class="min-w-full">
                    <thead class="bg-gray-900">
                        <tr>
                            <th scope="col"
                                class="px-4 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                Item
                            </th>
                            <th scope="col"
                                class="px-4 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                Brand &amp; Model
                            </th>
                            <th scope="col"
                                class="px-4 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                                Price
                            </th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200 bg-gray-50">
                        {% for spec in obj.specs.all %}
                        <tr>
                            <th scope="row" class="px-4 py-3 text-sm text-left font-medium text-gray-900">
                                {{ spec.get_specs_type_display }}
                            </th>
                            <td class="px-4 py-3 text-sm text-gray-500">
                                {{ spec.title }}
                            </td>
                            <td class="px-4 py-3 text-sm text-gray-500">
                                ${{ spec.price|calcprice }}
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <th scope="row" colspan="2"
                                class="px-4 py-3 text-left text-xs font-semibold text-gray-900 uppercase tracking-wider">
                                Total
                            </th>
                            <td class="px-4 py-3 text-sm text-gray-500">
                                {{ obj.specs.all|get_total }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        {% if teammates %}
        <!-- || Related -->
        <section class="py-8 pb-12  pb-8 px-4 sm:px-6 lg:px-8">
            {% if obj.is_pro %}
            <h2 id="{{ obj.title }}-Teammates" class="text-gray-900 text-xl mb-4">
                <strong>{{ obj.title }} Teammates</strong>
            </h2>
            {% else %}
            <h2 id="{{ obj.title }}-Streamers" class="text-gray-900 text-xl mb-4">
                <strong>{{ obj.title }} Related Streamers</strong>
            </h2>
            {% endif %}

            <ul role="list" class="grid grid-cols-1 gap-3 sm:gap-6 grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
                {% for mate in teammates %}
                <li class="col-span-1 flex flex-col text-center bg-gray-50 rounded-lg border divide-y divide-gray-200">
                    <div class="flex-1 flex flex-col py-4 px-2 sm:p-8">
                        <a href="{% url 'setup_single' mate.slug %}">
                            {% thumbnail mate.avatar.image "128x128" quality=95 format="WEBP" as im %}
                            <img class="bg-gray-800 w-32 h-32 flex-shrink-0 mx-auto rounded-full" srcset="{{ im.url }}"
                                src="{{ mate.avatar.image.url }}" alt="{{ mate.title }}">
                            {% endthumbnail %}
                        </a>
                        <h3 class="mt-4 sm:mt-6 text-gray-900 text-sm font-medium">{{ mate.title }}</h3>
                        <dl class="mt-1 flex-grow flex flex-col justify-between">
                            <!-- <dt class="sr-only">Title</dt>
                            <dd class="text-gray-500 text-sm">Paradigm Representative</dd> -->
                            <dt class="sr-only">Role</dt>
                            <dd class="mt-3">
                                <a class="px-2 py-1 text-indigo-800 text-xs font-medium bg-indigo-100 rounded-full"
                                    href="/setup/game/{{ mate.game.slug }}/">
                                    {% if obj.is_pro %}
                                    {% if mate.game.title == "Counter-Strike: Global Offensive" %}
                                    CS:GO Pro
                                    {% else %}
                                    {{ mate.game.title }} Pro
                                    {% endif %}
                                    {% else %}
                                    {{ mate.game.title }}
                                    {% endif %}
                                </a>
                            </dd>
                        </dl>
                    </div>
                    <div>
                        <div class="-mt-px flex divide-x divide-gray-200">
                            <div class="w-0 flex-1 flex">
                                <a href="{% url 'setup_single' mate.slug %}"
                                    class="relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-2 sm:py-4 text-sm text-gray-700 font-medium border border-transparent rounded-bl-lg hover:text-gray-500"
                                    target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-500" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                    </svg>
                                    <span class="ml-2 text-sm">View
                                        <span class="sr-only">{{ mate.title }} {{ game }}</span>
                                        Settings</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}
    </article>
</main>

{% endblock %}