{% extends 'base.html' %}
{% load static %} {% load age %} {% load specs_price %}
<!-- Head Elements -->
{% block title %}{% block og_title %}{% block tw_title %}{% block tw_img_alt %}{{ obj.meta_title }}{% endblock %}
{% endblock %}{% endblock %}{% endblock %}

{% block description %}{% block og_description %}{% block tw_description %}
{% if obj.meta_description %}{{ obj.meta_description }}{% else %}{{ obj.team.title }} {{ obj.title }}'s
{{ obj.game.title }}{% endif %} settings and setup, including crosshair, sensitivity, viewmodel, CFG, and Gaming PC
Setup. Regular updates for {{ obj.game.title }}.
{% endblock %}{% endblock %}{% endblock %}

{% block can_url %}{{ request.build_absolute_uri }}{% endblock %}

{% block schema %}

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Article",
        "headline": "{{ obj.meta_title }}",
        "image": ["{{ obj.avatar.image.url }}", "{{ obj.meta_images.hd_image.url }}"],
        "datePublished": "{{ obj.created_at|date:'c' }}",
        "dateModified": "{{ obj.updated_at|date:'c' }}",
        "articleSection": "{% if obj.team %}Pro Settings, Players' Setup{% else %}PC Specs, Streamers' Setup{% endif %}",
        "author": {
          "@type": "Person",
          "name": "{{ obj.writer }}",
          "url": "{{ obj.writer.twitter }}"
        },
        "publisher": {
          "@type": "Organization",
          "name": "Gamer Stats",
          "logo": "{% static 'img/g-dark.png' %}"
        }
      }
</script>

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
          {
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://gamerstats.net{% url 'index' %}"
          },
          {
            "@type": "ListItem",
            "position": 2,
            "name": "{{ bread }}",
            "item": "https://gamerstats.net{% url 'setup' %}"
          },
          {
            "@type": "ListItem",
            "position": 3,
            "name": "{{ obj.meta_title }}"
          }
        ]
      }
      
</script>

{% endblock %}


{% block content %}
<!-- Page Header and Breadcrumb -->
<nav aria-label="breadcrumb" class="container-md">
    <div class="row mx-0 border-bottom">
        <ol class="breadcrumb mb-0 py-2 d-flex">
            <li class="breadcrumb-item"><a class="text-12px" href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item"><a class="text-12px" href="{% url 'setup' %}">{{ bread }}</a></li>
            <li class="breadcrumb-item active text-12px align-self-end" aria-current="page">
                {{ obj.meta_title }}
            </li>
        </ol>
    </div>
</nav>
<!-- Main Content -->
<main class="container-md px-0 px-sm-2">
    <article class="px-2 p-sm-0 bg-white shadow-sm mx-auto">
        <div>
            {% if obj.game.slug == "csgo" %}
            <picture>
                <source media="(min-width: 768px)" srcset="{% static 'img/csgo.webp' %}">
                <source media="(max-width: 767px)" srcset="{% static 'img/csgo-phone.webp' %}">
                <img src="{% static 'img/csgo.png' %}" alt="{{ obj.meta_title }}" title="{{ obj.meta_title }}"
                    class="cover-img py-2 p-sm-2">
            </picture>
            {% elif obj.game.slug == "valorant" %}
            <picture>
                <source media="(min-width: 768px)" srcset="{% static 'img/valorant.webp' %}">
                <source media="(max-width: 767px)" srcset="{% static 'img/valorant-phone.webp' %}">
                <img src="{% static 'img/valorant.jpg' %}" alt="{{ obj.meta_title }}" title="{{ obj.meta_title }}"
                    class="cover-img py-2 p-sm-2">
            </picture>
            {% else %}
            <picture>
                <source media="(min-width: 768px)" srcset="{% static 'img/gs-profile.webp' %}">
                <source media="(max-width: 767px)" srcset="{% static 'img/gs-profile-phone.webp' %}">
                <img src="{% static 'img/gs-profile.png' %}" alt="{{ obj.meta_title }}" title="{{ obj.meta_title }}"
                    class="cover-img py-2 p-sm-2">
            </picture>
            {% endif %}
        </div>
        <div class="d-flex flex-column">
            <figure class="mx-auto" style="margin-top: -80px;">
                <picture>
                    <img class="profle-image bg-gradient"
                        srcset="{{ obj.image_url }}-140.webp, {{ obj.image_url }}-180.webp 1.2x"
                        src="{{ obj.image_url }}" alt="{{ obj.meta_title }}" title="{{ obj.title }}" width="150"
                        height="150">
                </picture>
                <figcaption class="visually-hidden">{{ obj.title }}</figcaption>
            </figure>
            <div class="mt-3 col-sm-8 mx-sm-auto text-center">
                <span class="text-12px text-muted text-uppercase d-block">Last Updated:
                    <time datetime="{{ obj.created_at|date:'c' }}">
                        {{ obj.updated_at|article_age }}</time>
                </span>
                <h1 class="fs-3 fw-bold">{{ obj.meta_title }}</h1>
                {{ obj.overview|safe }}
                <a class="text-light bg--dark text-16px px-1 rounded" href="{% url 'wiki_single' obj.slug %}"
                    title="{{ obj.title }} Wiki">
                    {{ obj.title }} Wiki
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-box-arrow-in-up-right fw-semibold" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5z" />
                        <path fill-rule="evenodd"
                            d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0v-5z" />
                    </svg>
                </a>
            </div>
        </div>
        <nav class="navbar-collapse text-14px position-sticky top-0 bread" aria-label="table of contents">
            <ol class="d-flex flex-row justify-content-center navbar-nav gap-4">
                {% if obj.settings %}
                <li class="nav-item"><a class="nav-link" href="#Settings">Settings</a></li>
                {% endif %}
                {% if obj.specs.all %}
                <li class="nav-item"><a class="nav-link" href="#Setup">Setup & Specs</a></li>
                <li class="nav-item"><a class="nav-link" href="#Pc-Cost">PC Cost</a></li>
                {% endif %}
                {% if related %}
                <li class="nav-item"><a class="nav-link" href="#{{ related_title }}">{{ related_title }}</a></li>
                {% endif %}
            </ol>
        </nav>
        {% if obj.settings %}
        <section class="text-14px border-top px-3 py-4 p-md-4">
            <h2 class="fs-5 fw-bold" id="Settings">{{ obj.title }} {{ obj.game.title }} Settings</h2>
            {% for title, values in obj.settings.data.items %}
            <div class="border-top pt-4 pb-2">
                <h3 class="fs-6 fw-bold text-primary mb-3">
                    <strong class="fw-semibold">{{ title }}</strong>
                </h3>
                {% for key,val in values.items %}
                {% if val.items %}
                <h4 class="mt-3 text-13px fw-bold text-secondary text-uppercase">{{ key }}</h4>
                <dl class="d-flex flex-row flex-wrap m-0">
                    {% for k,v in val.items %}
                    <div class="col-lg-3 col-md-4 col-6 mb-3">
                        <dt class="mb-1 text-muted text-12px fw-normal">{{ k }}</dt>
                        <dd class="fw-semibold text-uppercase text-14px">{{ v }}</dd>
                    </div>
                    {% endfor %}
                </dl>
                {% endif %}
                {% endfor %}
                <dl class="d-flex flex-row flex-wrap m-0">
                    {% for key,val in values.items %}
                    {% if not val.items %}
                    <div class="col-lg-3 col-md-4 col-6 mb-3">
                        <dt class="mb-1 text-muted text-12px fw-normal">{{ key }}</dt>
                        <dd class="fw-semibold text-uppercase text-14px">{{ val }}</dd>
                    </div>
                    {% endif %}
                    {% endfor %}
                </dl>
            </div>
            {% endfor %}
        </section>
        {% endif %}
        {% if obj.specs.all %}
        <section class="text-14px border-top px-3 py-4 p-md-4">
            <h2 class="fs-5 fw-bold" id="Setup">{{ obj.title }} Setup</h2>
            <small class="text-muted mb-3 d-inline-block">Click on the image to check price</small>
            <div class="d-flex flex-wrap pc-specs">
                {% for i in obj.specs.all %}
                <div class="overflow-hidden rounded m-2 position-relative hover-element__main">
                    <div class="section-single__image bg-gradient">
                        <picture>
                            <source media="(min-width: 540px)" srcset="{{ i.avatar.image.url }}-180.webp">
                            <source media="(max-width: 539px)" srcset="{{ i.avatar.image.url }}-140.webp">
                            <img src="{{ i.avatar.image.url }}" alt="{{ i.get_specs_type_display }}: {{ i.title }}"
                                title="{{ i.title }}">
                        </picture>
                    </div>
                    <h3
                        class="text-14px text-uppercase mt-2 mb-1 fw-semibold text-primary hover-element__border hover-element__border__jam">
                        {{ i.get_specs_type_display }}
                    </h3>
                    <a class="stretched-link txt-link border-0 text-12px lh-1" href="{{ i.amazon_url }}" target="_blank"
                        rel="nofollow">
                        {{ i.title }}
                    </a>
                </div>
                {% endfor %}
            </div>
        </section>
        <section class="text-14px border-top px-3 pt-4 pb-2 pb-md-0 p-md-4">
            <h2 class="fs-5 fw-bold mb-3" id="Pc-Cost">{{ obj.title }} PC Specs Cost</h2>
            <div class="table-responsive">
                <table class="text-12px">
                    <thead class="bg--dark">
                        <tr>
                            <th class="fw-semibold" title="{{ obj.title }} PC Specs">Specs</th>
                            <th class="fw-semibold" title="Brand">Brand</th>
                            <th class="fw-semibold" title="{{ obj.title }} Specs Cost">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in obj.specs.all %}
                        <tr>
                            <th title="{{ obj.title }}'s {{ i.get_specs_type_display }}" class="fw-semibold"
                                scope="row">{{ i.get_specs_type_display }}</th>
                            <td title="{{ i.title }}">{{ i.title }}</td>
                            <td title="Cost of {{ obj.title }}'s {{ i.title }} {{ i.get_specs_type_display }}">
                                ${{ i.price|calcprice }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th scope="row" colspan="2">Total Cost of {{ obj.title }} Setup</th>
                            <td title="Total Cost of {{ obj.title }} Setup">
                                {{ obj.specs.all|get_total }}
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </section>
        {% endif %}
        <section class="text-14px border-top px-3 py-4 p-md-4 accordion">
            {% if obj.settings %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="settings-head">
                    <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#settings-collapse" aria-expanded="false" aria-controls="settings-collapse"
                        style="color: #444953">
                        {{ obj.title }}'s Settings Details
                    </button>
                </h2>
                <div id="settings-collapse" class="accordion-collapse collapse" aria-labelledby="settings-head">
                    <div class="accordion-body text-12px" style="color: #444953">
                        {{ obj.settings_body|safe }}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if obj.specs.all %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="setup-head">
                    <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#setup-collapse" aria-expanded="false" aria-controls="setup-collapse"
                        style="color: #444953">
                        {{ obj.title }}'s Setup amd PC Specs Details
                    </button>
                </h2>
                <div id="setup-collapse" class="accordion-collapse collapse" aria-labelledby="setup-head">
                    <div class="accordion-body text-12px" style="color: #444953">
                        {{ obj.setup_body|safe }}
                    </div>
                </div>
            </div>
            {% endif %}
        </section>
        {% if related %}
        <section class="text-14px border-top px-3 pt-4 pb-2 p-md-4">
            <h2 class="fs-5 fw-bold mb-3" id="{{ related_title }}">{{ related_title }}</h2>
            <div class="section-inner gap-3">
                {% for i in related %}
                <article class="section-single rounded position-relative">
                    {% if i.image_url %}
                    <figure class="section-single__image">
                        <picture>
                            <source media="(min-width: 540px)" srcset="{{ i.image_url }}-180.webp">
                            <source media="(max-width: 539px)" srcset="{{ i.image_url }}-140.webp">
                            <img src="{{ i.image_url }}" alt="{{ i.title }} {{ i.game__title }} Settings">
                        </picture>
                        <figcaption class="visually-hidden">{{ i.title }} {{ i.game__title }} Settings</figcaption>
                    </figure>
                    {% endif %}
                    <h3 class="fs-6 fw-semibold section-single__title">
                        <a class="stretched-link txt-link" href="{% url 'setup_single' i.slug %}">
                            {{ i.title }} Settings
                        </a>
                    </h3>
                    <span class="visually-hidden">
                        <span>Last updated</span>
                        <time pubdate datetime="{{ obj.updated_at|date:'c' }}">
                            {{ i.updated_at|article_age }}
                        </time>
                        <address class="author"> by <span rel="author">{{ i.writer.name }}</span></address>
                    </span>
                </article>
                {% endfor %}
            </div>
        </section>
        {% endif %}
    </article>
</main>
<style>
    .pc-specs div {
        width: 180px;
    }

    .cover-img {
        height: 410px;
        width: -webkit-fill-available;
        object-fit: cover;
        object-position: center center;
    }

    .bread {
        z-index: 3;
        background-color: var(--bs-gray-200);
        border-bottom: solid 1px;
        margin-top: 3rem;
        font-weight: 500;
    }

    @media (max-width: 500px) {
        .pc-specs {
            justify-content: space-between;
        }

        .pc-specs div {
            width: 150px;
        }

        .cover-img {
            height: 300px;
        }

        .bread {
            margin-right: -.5rem;
            margin-left: -.5rem;
        }

        .bread .nav-link {
            border: 0;
        }
    }
</style>


{% endblock %}