{% extends 'base.html' %}
{% load static %} {% load age %} {% load specs_price %}
<!-- Head Elements -->
{% block title %}Pro Settings and Setup{% endblock %}

{% block content %}
<!-- Page Header and Breadcrumb -->
<header class="container-fluid border-bottom" style="background-color: #1f2936">
    <nav aria-label="breadcrumb" class="container">
        <ol class="breadcrumb mb-0 py-2 flex-row">
            <li class="breadcrumb-item"><a class="text-12px text-secondary" href="{% url 'setup' %}">Pro Settings</a>
            </li>
            <li class="breadcrumb-item active text-12px align-self-end text-secondary" aria-current="page">
                {{ obj.meta_title }}
            </li>
        </ol>
    </nav>
    <h1 class="visually-hidden">Latest Esports News</h1>
</header>
<div class="container">
    <div class="row flex-row">
        <main class="col-12">
            <!-- Main Content -->
            <article class="container py-lg-5 pt-3 px-0 px-lg-2">
                <div class="row flex-column-reverse flex-lg-row-reverse">
                    <div class="col-lg-8 mt-3 mt-lg-0">
                        <div class="">
                            <h1 class="fs-3 fw-bold px-2 px-md-0">{{ obj.meta_title }}</h1>
                            <p class="text-12px text-muted text-uppercase px-2 px-md-0">Last Updated:
                                <time class="text-12px text-muted text-uppercase "
                                    datetime="{{ i.created_at|date:'Y-m-d' }}T{{ i.created_at|date:'H:iO' }}">
                                    {{ obj.updated_at|article_age }}</time>
                            </p>
                            <section class="text-15px">
                                <div class="border rounded overflow-hidden p-3 mb-3 mb-md-4">
                                    <h2 class="fs-5 fw-bold">{{ obj.title }} {{ obj.game.title }} Settings</h2>
                                    {{ obj.settings_body|safe }}
                                </div>
                                {% for title, values in obj.settings.data.items %}
                                <div class="border rounded overflow-hidden p-3 mb-3 mb-md-4">
                                    <h3 class="text-18px text-primary">
                                        <strong class="fw-semibold">{{ title }}</strong>
                                    </h3>
                                    {% for key,val in values.items %}
                                    {% if val.items %}
                                    <h4 class="mt-3 text-15px fw-semibold text-secondary text-uppercase">{{ key }}</h4>
                                    <dl class="m-0">
                                        <div class="d-flex flex-row flex-wrap">
                                            {% for k,v in val.items %}
                                            <div class="col-lg-4 col-6">
                                                <dt class="mb-1 text-muted text-12px fw-normal">{{ k }}</dt>
                                                <dd class="fw-semibold text-uppercase text-14px">{{ v }}</dd>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </dl>
                                    {% endif %}
                                    {% endfor %}
                                    <dl class="m-0">
                                        <div class="d-flex flex-row flex-wrap">
                                            {% for key,val in values.items %}
                                            {% if not val.items %}
                                            <div class="col-lg-3 col-md-4 col-6">
                                                <dt class="mb-1 text-muted text-12px fw-normal">{{ key }}</dt>
                                                <dd class="fw-semibold text-uppercase text-14px">{{ val }}</dd>
                                            </div>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                    </dl>
                                </div>
                                {% endfor %}
                            </section>
                            <section class="text-15px">
                                <div class="border rounded overflow-hidden p-3 mb-4">
                                    <h2 class="fs-5 fw-bold">{{ obj.title }} Setup</h2>
                                    {{ obj.setup_body|safe }}
                                    <small class="text-muted mb-3 d-inline-block">Click on the image to check
                                        price</small>
                                    <div class="d-flex flex-wrap">
                                        {% for i in obj.specs.all %}
                                        <div class="col-6 col-md-3">
                                            <div
                                                class="overflow-hidden rounded m-2 position-relative hover-element__main">
                                                <img class="img-fluid" src="{% static 'img/square.webp' %}"
                                                    alt="{{ i.title }}" title="{{ i.title }}">
                                                <h3
                                                    class="text-14px text-uppercase mt-2 mb-1 fw-semibold text-primary hover-element__border hover-element__border__jam">
                                                    {{ i.get_specs_type_display }}
                                                </h3>
                                                <p class="text-12px">{{ i.title }}</p>
                                                <a class="stretched-link" href="{{ i.amazon_url }}" target="_blank"
                                                    rel="nofollow">
                                                    <span class="visually-hidden">Check Price of {{ i.title
                                                        }}</span>
                                                </a>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </section>
                            <section class="border rounded bg-light p-3 mb-4">
                                <h2 class="fs-5 fw-bold mb-3">{{ obj.title }} Setup Cost</h2>
                                <div class="table-responsive rounded overflow-hidden border border-bottom-0">
                                    <table class="table m-0 table-striped table-hover table-sm text-14px">
                                        <thead class="bg--dark">
                                            <tr>
                                                <th class="fw-normal">Specs</th>
                                                <th class="fw-normal">Brand</th>
                                                <th class="fw-normal">Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i in obj.specs.all %}
                                            <tr>
                                                <th  class="fw-normal" scope="row">{{ i.get_specs_type_display }}</th>
                                                <td>{{ i.title }}</td>
                                                <td>${{ i.price|calcprice }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th scope="row" colspan="2">Total {{ obj.title }} Setup Cost</th>
                                                <td>{{ obj.specs.all|get_total }}</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </section>
                            <section class="border rounded bg-light p-3">
                                <h2 class="fs-5 fw-bold mb-3">Related Player's Setup</h2>
                                <ul class="list-unstyled d-flex flex-row flex-wrap mb-0">
                                    {% for i in teammates %}
                                    <li class="col-6 col-md-3">
                                        <div class="overflow-hidden rounded m-2 position-relative hover-element__main">
                                            <img class="img-fluid" src="{% static 'img/square.webp' %}" alt="">
                                            <h3
                                                class="text-14px text-uppercase mt-2 fw-semibold text-primary hover-element__border hover-element__border__jam">
                                                {{ i.title }}</h3>
                                            <a class="stretched-link" href="{% url 'setup_single' i.slug %}">
                                                <span class="visually-hidden">{{ i.title }} settings and setup</span>
                                            </a>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </section>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="border rounded overflow-hidden">
                            <img class="img-fluid" src="{% static 'img/s1mp.jpg' %}" alt="{{ obj.meta_title }}"
                                title="{{ obj.meta_title }}">
                            <img class="img-profile d-inline ms-2 rounded-circle border border-2 border-primary"
                                src="{% static 'img/square.webp' %}" alt="{{ obj.title }}" title="{{ obj.title }}">
                            <h2 class="d-inline fs-5 fw-bold">FULL NAME</h2>
                            <div class="p-2 text-15px">
                                {{ obj.overview|safe }}
                                <a class="btn btn-sm btn-primary" href="{% url 'wiki_single' obj.slug %}"
                                    title="s1mple Wiki">
                                    s1mple Wiki
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </main>
    </div>
</div>


{% endblock %}