{% extends 'base.html' %}
{% load static %} {% load age %}
<!-- Head Elements -->
{% block title %}{% block og_title %}{% block tw_title %}{% block tw_img_alt %}Pro Settings and Setup
{% endblock %}{% endblock %}{% endblock %}{% endblock %}

{% block description %}{% block og_description %}{% block tw_description %}Looking to get the most out of your LoL,
CS:GO, VALORANT, and Dota 2 experience? Check out pro gamer's settings and setup guide to get the edge on your
opponents!{% endblock %}{% endblock %}{% endblock %}

{% block can_url %}https://gamerstats.net{% url 'setup' %}{% endblock %}

{% block schema %}

<script type="application/ld+json">
  {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "Home",
          "item": "https://gamerstats.net"
        },
        {
          "@type": "ListItem",
          "position": 2,
          "name": "Pro Settings"
        }
      ]
    }
    
</script>

{% endblock %}

{% block content %}

<div class="container-fluid">
  <nav aria-label="breadcrumb" class="row border-bottom bg--dark">
    <ol class="breadcrumb mb-0 p-2 px-4 d-flex">
      <li class="breadcrumb-item"><a class="text-12px text--light" href="{% url 'index' %}">Home</a>
      </li>
      <li class="breadcrumb-item active text-12px align-self-end text--light" aria-current="page">
        Pro Settings & Setup
      </li>
    </ol>
  </nav>
</div>
<main class="container bg-white py-3 pb-md-5 pt-md-4 shadow-sm">
  <article class="row">
    <h1 class="fs-3 fw-bold text-center mb-4">Pro Settings and Setup</h1>
    <div class="section-inner gap-3">
      {% for i in obj %}
      <article class="section-single rounded position-relative">
        {% if i.image_url %}
        <figure class="section-single__image">
          <picture>
            <source media="(min-width: 540px)" srcset="{{ i.image_url }}-180.webp">
            <source media="(max-width: 539px)" srcset="{{ i.image_url }}-140.webp">
            <img src="{{ i.image_url }}" alt="{{ i.title }} {{ i.game__title }} Settings" title="{{ i.title }}">
          </picture>
          <figcaption class="visually-hidden">{{ i.title }} {{ i.game__title }} Settings</figcaption>
        </figure>
        {% endif %}
        <h3 class="fs-6 fw-semibold section-single__title">
          <a class="stretched-link txt-link" href="{% url 'setup_single' i.slug %}">
            {{ i.title }} Settings
          </a>
        </h3>
        {% if i.is_pro is true %}
        <p class="text-12px mb-0">{{ i.game__title }} professional for {{ i.team__title }}</p>
        {% else %}
        <p class="text-12px mb-0">Streamer and Content Creator</p>
        {% endif %}
        <span class="text-12px text-muted text-uppercase">
          <span class="visually-hidden">Last updated</span>
          <time pubdate datetime="{{ obj.updated_at|date:'c' }}">
            {{ i.updated_at|article_age }}
          </time>
          <address class="author"> by <span rel="author">{{ i.writer.name }}</span></address>
        </span>
      </article>
      {% endfor %}
    </div>
    <!-- Pagination -->
    <nav class="d-flex justify-content-center mt-4" aria-label="Pagination">
      <ol class="pagination">
        {% if obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ obj.previous_page_number }}">Previous</a>
        </li>
        {% endif %}

        {% for i in obj.paginator %}
        {% if i.number == obj.number %}
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="?page={{ obj.number }}">{{ obj.number }}</a>
        </li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i.number }}">{{ i.number }}</a></li>
        {% endif %}
        {% endfor %}

        {% if obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ obj.next_page_number }}">Next</a>
        </li>
        {% endif %}
      </ol>
    </nav>
  </article>
</main>
{% endblock %}