{% extends 'base.html' %}
<!-- Titles -->
{% block title %}{{ obj.meta_title }}{% endblock %}
{% block og_title %}{{ obj.meta_title }}{% endblock %}
{% block tw_title %}{{ obj.meta_title }}{% endblock %}
<!-- descriptions -->
{% block description %}{{ obj.meta_description }}{% endblock %}
{% block og_description %}{{ obj.meta_description }}{% endblock %}
{% block tw_description %}{{ obj.meta_description }}{% endblock %}
<!-- meta urls -->
{% block tw_url %}{{ request.build_absolute_uri }}{% endblock %}
{% block og_url %}{{ request.build_absolute_uri }}{% endblock %}
{% block can_url %}{{ request.build_absolute_uri }}{% endblock %}
<!-- loading required assets  -->
{% load static %} {% load age %}
<!-- main page html -->
{% block content %}

<div class="container-fluid">
    <nav aria-label="breadcrumb" class="row border-bottom bg--dark">
        <ol class="breadcrumb mb-1 p-2 d-flex lh-1">
            <li class="breadcrumb-item">
                <a class="text-12px text--light" href="{% url 'game' obj.game_wiki.slug %}"
                    title="{{ obj.game_wiki.meta_title }}">
                    {{ obj.game_wiki.title }}
                </a>
            </li>
            <li class="breadcrumb-item active text-12px align-self-end text--light" aria-current="page">
                {{ obj.meta_title }} {{ obj.game_wiki.title }} Roster &amp; Stats
            </li>
        </ol>
    </nav>
</div>
<main class="container">
    <div class="section-boxes text-14px">
        <header class="d-flex flex-md-row flex-column align-items-center gap-4 ">
            <img class="img-sq__md bg-gradient bg-secondary rounded p-2" style="--bs-bg-opacity: .3;"
                src="{{ obj.avatar.image.url }}" title="{{ obj.title }} {{ obj.game_wiki.title }} Esports Team"
                alt="{{ obj.meta_title }} {{ obj.game_wiki.title }} Roster &amp; Stats">
            <div>
                <h1 class="fs-3 fw-bold">{{ obj.meta_title }} {{ obj.game_wiki.title }} Roster</h1>
                {{ obj.team_wiki.overview|safe }}
                <a class="link-btn" target="_blank" href="{% url 'wiki_single' obj.team_wiki.slug %}">
                    {{ obj.team_wiki.title }} Wiki
                </a>
            </div>
        </header>
        <section class="">
            <h2 class="fs-4 fw-bold mb-3">Active {{ obj.game_wiki.title }} Roster Players</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Profile</th>
                            <th>Player</th>
                            <th>Links</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in obj.active_players.all %}
                        <tr>
                            <td>
                                <img class="img-sq__xs" src="{{ i.avatar.image.url }}" alt="{{ i }}" title="{{ i }}">
                            </td>
                            <td>{{ i }}</td>
                            <td><a href="{% url 'setup_single' i.slug %}">{{ i }} CS:GO Settings</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
        {% if obj.former_members %}
        <section class="">
            <h2 class="fs-4 fw-bold mb-3">Active {{ obj.game_wiki.title }} Roster Players</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Profile</th>
                            <th>Player</th>
                            <th>Links</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in obj.active_players.all %}
                        <tr>
                            <td>
                                <img class="img-sq__xs" src="{{ i.avatar.image.url }}" alt="{{ i }}" title="{{ i }}">
                            </td>
                            <td>{{ i }}</td>
                            <td><a href="{% url 'setup_single' i.slug %}">{{ i }} CS:GO Settings</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
        {% endif %}
    </div>
</main>


{% endblock %}