{% extends 'base.html' %}
<!-- Titles -->
{% block title %}{{ obj.meta_title }}{% endblock %}
{% block og_title %}{{ obj.meta_title }}{% endblock %}
{% block tw_title %}{{ obj.meta_title }}{% endblock %}
<!-- descriptions -->
{% block description %}{{ obj.meta_description }}{% endblock %}
{% block og_description %}{{ obj.meta_description }}{% endblock %}
{% block tw_description %}{{ obj.meta_description }}{% endblock %}
<!-- meta urls -->
{% block can_url %}{{ request.build_absolute_uri }}{% endblock %}
<!-- loading required assets  -->
{% load static %} {% load age %}
<!-- main page html -->
{% block content %}
<!-- Page Header and Breadcrumb -->
<nav aria-label="breadcrumb" class="container-md">
    <div class="row mx-0 border-bottom">
        <ol class="breadcrumb mb-0 py-2 d-flex">
            <li class="breadcrumb-item"><a class="text-12px" href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item">
                <a class="text-12px" href="{% url 'gameprofile' obj.esports_game.slug %}"
                    title="Professional {{ obj.esports_game.title }} Players & Teams">{{ obj.esports_game.title }}</a>
            </li>
            <li class="breadcrumb-item active text-12px align-self-end" aria-current="page">
                {{ obj.title }} Roster
            </li>
        </ol>
    </div>
</nav>

<main class="container-md">
    <header class="row mx-0 align-items-center rounded bg-white py-4 px-md-3 shadow-sm my-4">
        <picture class="col-md-auto d-block text-center">
            <source srcset="{{ obj.avatar.image.url }}-180.webp">
            <img class="rounded" src="{{ obj.avatar.image.url }}" alt="{{ obj.avatar.alt }}" title="{{ obj.title }}">
        </picture>
        <div class="col-md mt-3 mt-md-0">
            <h1 class="fs-3 fw-bold">{{ obj.meta_title }} {{ obj.esports_game.title }} Roster</h1>
            {{ obj.team_wiki.overview|safe }}
            <a class="link-btn text-decoration-none" target="_blank" href="{% url 'wiki_single' obj.team_wiki.slug %}">
                {{ obj.team_wiki.title }} Wiki
            </a>
        </div>
    </header>
    {% if active_members %}
    <section class="row bg-white mx-0 py-4 px-md-3 shadow-sm rounded my-4">
        <h2 class="fs-4 fw-bold mb-3">Active Roster</h2>
        {% for i in active_members %}
        <article class="col-6 col-sm-4 col-lg-3 col-xl-2 mb-3">
            <div class="section-single rounded py-2">
                <a href="{% url 'wiki_single' i.slug %}" title="{{ i.title }} {{ obj.esports_game.title }} Wiki">
                    <picture class="image-wrap">
                        <source srcset="{{ i.avatar.image.url }}-180.webp">
                        <img src="{{ i.avatar.image.url }}" title="{{ i.title }} {{ obj.esports_game.title }} Wiki"
                            alt="{{ i.title }}">
                    </picture>
                </a>
                <h3 class="fs-6 fw-semibold mt-3">
                    <a href="{% url 'wiki_single' i.slug %}"
                        title="{{ i.title }} {{ obj.esports_game.title }} Wiki">{{ i.title }}</a>
                </h3>
            </div>
        </article>
        {% endfor %}
    </section>
    {% endif %}
    {% if inactive_members %}
    <section class="row bg-white mx-0 py-4 px-md-3 shadow-sm rounded my-4">
        <h2 class="fs-4 fw-bold mb-3">Inactive Roster</h2>
        {% for i in inactive_members %}
        <article class="col-6 col-sm-4 col-lg-3 col-xl-2 mb-3">
            <div class="section-single rounded py-2">
                <a href="{% url 'wiki_single' i.slug %}" title="{{ i.title }} {{ obj.esports_game.title }} Wiki">
                    <picture class="image-wrap">
                        <source srcset="{{ i.avatar.image.url }}-180.webp">
                        <img src="{{ i.avatar.image.url }}" title="{{ i.title }} {{ obj.esports_game.title }} Wiki"
                            alt="{{ i.title }}">
                    </picture>
                </a>
                <h3 class="fs-6 fw-semibold mt-3">
                    <a href="{% url 'wiki_single' i.slug %}"
                        title="{{ i.title }} {{ obj.esports_game.title }} Wiki">{{ i.title }}</a>
                </h3>
            </div>
        </article>
        {% endfor %}
    </section>
    {% endif %}
    {% if former_members %}
    <section class="row bg-white mx-0 py-4 px-md-3 shadow-sm rounded my-4">
        <h2 class="fs-4 fw-bold mb-3">Former Roster</h2>
        {% for i in former_members %}
        <article class="col-6 col-sm-4 col-lg-3 col-xl-2 mb-3">
            <div class="section-single rounded py-2">
                <a href="{% url 'wiki_single' i.slug %}" title="{{ i.title }} {{ obj.esports_game.title }} Wiki">
                    <picture class="image-wrap">
                        <source srcset="{{ i.avatar.image.url }}-180.webp">
                        <img src="{{ i.avatar.image.url }}" title="{{ i.title }} {{ obj.esports_game.title }} Wiki"
                            alt="{{ i.title }}">
                    </picture>
                </a>
                <h3 class="fs-6 fw-semibold mt-3">
                    <a href="{% url 'wiki_single' i.slug %}"
                        title="{{ i.title }} {{ obj.esports_game.title }} Wiki">{{ i.title }}</a>
                </h3>
            </div>
        </article>
        {% endfor %}
    </section>
    {% endif %}
</main>

{% endblock %}

{% comment %}
<div class="container-fluid">
    <nav aria-label="breadcrumb" class="row border-bottom bg--dark">
        <ol class="breadcrumb mb-1 p-2 d-flex lh-1">
            <li class="breadcrumb-item">
                <a class="text-12px text--light" href="{% url 'gameprofile' obj.esports_game.slug %}"
                    title="{{ obj.game_wiki.meta_title }}">
                    {{ obj.esports_game.title }}
                </a>
            </li>
            <li class="breadcrumb-item active text-12px align-self-end text--light" aria-current="page">
                {{ obj.title }} {{ obj.esports_game.title }} Roster
            </li>
        </ol>
    </nav>
</div>
<main class="container">
    <div class="section-boxes text-14px">
        <header class="d-flex flex-md-row flex-column align-items-center gap-4">
            <picture
                class="bg-secondary bg-gredient d-block rounded border border-5 border-secondary section-single__image">
                <source media="(min-width: 540px)" srcset="{{ obj.avatar.image.url }}-180.webp">
                <source media="(max-width: 539px)" srcset="{{ obj.avatar.image.url }}-140.webp">
                <img src="{{ obj.avatar.image.url }}" title="{{ obj.title }} {{ obj.esports_game.title }} Roster"
                    alt="{{ obj.title }} {{ obj.esports_game.title }} Roster">
            </picture>
            <div>
                <h1 class="fs-3 fw-bold">{{ obj.meta_title }} {{ obj.esports_game.title }} Roster</h1>
                {{ obj.team_wiki.overview|safe }}
                <a class="link-btn" target="_blank" href="{% url 'wiki_single' obj.team_wiki.slug %}">
                    {{ obj.team_wiki.title }} Wiki
                </a>
            </div>
        </header>
        <section>
            <h2 class="fs-5 fw-bold mb-4">{{ obj.title }} Active {{ obj.esports_game }} Roster</h2>
            <div class="section-inner gap-3">
                {% for i in active_members %}
                <div class="section-single section-single-md rounded position-relative">
                    <picture class="section-single__image bg-secondary bg-gredient d-block">
                        <source media="(min-width: 540px)" srcset="{{ i.avatar.image.url }}-180.webp">
                        <source media="(max-width: 539px)" srcset="{{ i.avatar.image.url }}-140.webp">
                        <img src="{{ i.avatar.image.url }}" title="{{ i }} {{ obj.esports_game.title }}" alt="{{ i }}">
                    </picture>
                    <h3 class="fs-6 fw-semibold section-single__title mt-3">
                        <a class="stretched-link txt-link" href="{% url 'wiki_single' i.slug %}"
                            title="{{ i.title }} {{ obj.esports_game }} Wiki">
                            <span>{{ i.title }}</span>
                            <span class="visually-hidden">{{ obj.esports_game }} Wiki</span>
                        </a>
                    </h3>
                </div>
                {% endfor %}
            </div>
        </section>
        {% if inactive_members %}
        <section>
            <h2 class="fs-5 fw-bold mb-4">Inactive {{ obj.esports_game }} Roster</h2>
            <div class="section-inner gap-3">
                {% for i in inactive_members %}
                <div class="section-single section-single-md rounded position-relative">
                    <picture class="section-single__image bg-secondary bg-gredient d-block">
                        <source media="(min-width: 540px)" srcset="{{ i.avatar.image.url }}-180.webp">
                        <source media="(max-width: 539px)" srcset="{{ i.avatar.image.url }}-140.webp">
                        <img src="{{ i.avatar.image.url }}" title="{{ i }} {{ obj.esports_game.title }}" alt="{{ i }}">
                    </picture>
                    <h3 class="fs-6 fw-semibold section-single__title mt-3">
                        <a class="stretched-link txt-link" href="{% url 'wiki_single' i.slug %}"
                            title="{{ i.title }} {{ obj.esports_game }} Wiki">
                            <span>{{ i.title }}</span>
                            <span class="visually-hidden">{{ obj.esports_game }} Wiki</span>
                        </a>
                    </h3>
                </div>
                {% endfor %}
            </div>
        </section>
        {% endif %}
        {% if former_members %}
        <section>
            <h2 class="fs-5 fw-bold mb-4">Former {{ obj.esports_game }} Roster</h2>
            <div class="section-inner gap-3">
                {% for i in former_members %}
                <div class="section-single section-single-md rounded position-relative">
                    <picture class="section-single__image bg-secondary bg-gredient d-block">
                        <source media="(min-width: 540px)" srcset="{{ i.avatar.image.url }}-180.webp">
                        <source media="(max-width: 539px)" srcset="{{ i.avatar.image.url }}-140.webp">
                        <img src="{{ i.avatar.image.url }}" title="{{ i }} {{ obj.esports_game.title }}" alt="{{ i }}">
                    </picture>
                    <h3 class="fs-6 fw-semibold section-single__title mt-3">
                        <a class="stretched-link txt-link" href="{% url 'wiki_single' i.slug %}"
                            title="{{ i.title }} {{ obj.esports_game }} Wiki">
                            <span>{{ i.title }}</span>
                            <span class="visually-hidden">{{ obj.esports_game }} Wiki</span>
                        </a>
                    </h3>
                </div>
                {% endfor %}
            </div>
        </section>
        {% endif %}
    </div>
</main>
{% endcomment %}