{% extends 'base.html' %} {% block main %}
<main>
    {% include "components/breadcrumb_wiki_cat.html" %}
    <!-- News Section -->
    <section class="max-w-7xl mx-auto pt-8 pb-16 px-4 sm:px-6 lg:px-8">
        <header class="sm:flex sm:items-baseline sm:justify-between">
            <h1 class="pb-2 text-2xl font-extrabold tracking-tight text-gray-900">
                {{ wiki_cat.title }}
            </h1>
        </header>
        {% include 'components/wiki_loop.html' %}
    </section>
    <nav class="px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6" aria-label="Pagination">
        <div class="hidden sm:block">
            <p class="text-sm text-gray-700">
                Showing
                <!-- space -->
                <span class="font-medium">{{ obj.number }}</span>
                <!-- space -->
                of
                <!-- space -->
                <span class="font-medium">{{ obj.paginator.num_pages }}</span>
                <!-- space -->
                Pages
            </p>
        </div>
        <div class="flex-1 flex justify-between sm:justify-end">
            {% if obj.has_previous %}
            <a href="?page={{ obj.previous_page_number }}"
                class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
                Previous
            </a>
            {% endif %} {% if obj.has_next %}
            <a href="?page={{ obj.next_page_number }}"
                class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
                Next
            </a>
            {% endif %}
        </div>
    </nav>
</main>
{% endblock %}