{% extends 'base.html' %}
{% load static %} {% load age %}
<!-- Head Elements -->
{% block title %}Esports Wikis{% endblock %}

{% block content %}
<main>
    <header class="border-bottom" style="background-color: #1f2936">
        <nav class="container ps-3" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 py-2">
                <li class="breadcrumb-item"><a class="text-12px text-secondary" href="{% url 'index' %}">Home</a></li>
                <li class="breadcrumb-item active text-12px align-self-end text-secondary" aria-current="page">Wiki</li>
            </ol>
        </nav>
        <h1 class="visually-hidden">Esports Wikis</h1>
    </header>
    <article class="container py-5">
        <div class="row">
            {% for i in obj %}
            <article class="col-6 col-md-4 col-lg-3 mb-3">
                <div class="border shadow-sm rounded overflow-hidden position-relative hover-element__main">
                    <img class="img-fluid" src="{% static 'img/square.webp' %}" title="{{ i.title }}"
                        alt="{{ i.title }}">
                    <div class="p-2 hover-element__border hover-element__border__green">
                        <span class="text-12px">Last updated: </span>
                        <time class="text-12px"
                            datetime="{{ i.created_at|date:'Y-m-d' }}T{{ i.created_at|date:'H:iO' }}">
                            {{ i.updated_at|article_age }}</time>
                        <h3 class="fs-6 fw-semibold my-1">{{ i.title }}</h3>
                        <div class="text-12px mb-0 d-inline-block">{{ i.meta_description|safe|truncatewords:12 }}</div>
                    </div>
                    <a class="stretched-link" href="{% url 'wiki_single' i.slug %}">
                        <span class="visually-hidden">{{ i.meta_title }}</span>
                    </a>
                </div>
            </article>
            {% endfor %}
        </div>
        <nav class="d-flex justify-content-center mt-4" aria-label="Pagination">
            <ol class="pagination">
                {% if obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ obj.previous_page_number }}">Previous</a>
                </li>
                {% endif %}

                {% for i in obj.paginator %}
                {% if i.number == obj.number %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ obj.number }}">{{ obj.number }}</a>
                </li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i.number }}">{{ i.number }}</a></li>
                {% endif %}
                {% endfor %}

                {% if obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ obj.next_page_number }}">Next</a>
                </li>
                {% endif %}
            </ol>
        </nav>
    </article>
</main>

{% endblock %}