{% extends 'base.html' %}
{% load static %} {% load age %} {% load specs_price %}
<!-- Head Elements -->
{% block title %}Pro Settings and Setup{% endblock %}

{% block content %}
<!-- Page Header and Breadcrumb -->
<div class="container-fluid border-bottom" style="background-color: #1f2936">
  <nav aria-label="breadcrumb" class="container">
    <ol class="breadcrumb mb-0 py-2 flex-row">
      <li class="breadcrumb-item"><a class="text-12px text-secondary" href="{% url 'wiki' %}">Wiki</a>
      </li>
      <li class="breadcrumb-item active text-12px align-self-end text-secondary" aria-current="page">
        {{ obj.meta_title }}
      </li>
    </ol>
  </nav>
</div>
<main class="container-fluid">
  <article class="row mt-5">
    <div class="col-lg-2 col-xl-1 border-end">
      <nav class="text-12px" aria-label="table of contents">
        <h2 class="fw-bold fs-6 text-uppercase">On this page</h2>
        <ol class="ps-3">
          <li><a href="#early_life">Early Life</a></li>
          <li><a href="#career">Career</a></li>
          <li><a href="#team_history">Team History</a></li>
          <li><a href="#achievements">Achievements</a></li>
          <li><a href="#controversies">Controversies</a></li>
        </ol>
      </nav>
    </div>
    <div class="col-lg-10 col-xl-11">
      <div class="d-flex flex-column flex-md-row-reverse">
        <div class="col-12 col-md-4">
          <div class="overview d-block d-md-none">
            <h1 class="fs-3 fw-bold">{{ obj.title }}</h1>
            {{ obj.overview|safe }}
          </div>
          <table class="mx-auto">
            <thead>
              <tr>
                <th colspan="2">
                  <figure class="d-block text-center figure mb-0">
                    <img class="figure-img img-fluid rounded-circle border border-3 border-primary img-profile"
                      src="{% static 'img/square.webp' %}" alt="{{ obj.title }}" title="{{ obj.title }}">
                    <figcaption>{{ obj.avatar.caption }}</figcaption>
                  </figure>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for field, value in obj.info_box.data.items %}
              <tr>
                <th scope="row">{{ field }}</th>
                <td>{{ value }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-12 col-md-8 heading-fix">
          <div class="overview d-none d-md-block">
            <h1 class="fs-3 fw-bold">{{ obj.title }}
              ({% for field, value in obj.info_box.data.items %}
              {% if field == "Full Name" %}{{ value }}{% endif %}{% endfor %})
            </h1>
            {{ obj.overview|safe }}
          </div>
          <section class="text-14px pt-2">
            <h2 class="fs-4 fw-bold border-bottom pb-2" id="early_life">Early Life</h2>
            {{ obj.history|safe }}
          </section>
          <section class="text-14px pt-2">
            <h2 class="fs-4 fw-bold border-bottom pb-2" id="career">Career</h2>
            {{ obj.career|safe }}
          </section>
          <section class="text-14px pt-2">
            <h2 class="fs-4 fw-bold border-bottom pb-2" id="team_history">Team History</h2>
            {{ obj.team_history|safe }}
          </section>
          <section class="text-14px pt-2">
            <h2 class="fs-4 fw-bold border-bottom pb-2" id="achievements">Awares and Achievements</h2>
            {{ obj.achievements|safe }}
          </section>
          <section class="text-14px pt-2">
            <h2 class="fs-4 fw-bold border-bottom pb-2" id="controversies">Controversies</h2>
            {{ obj.controversies|safe }}
          </section>
        </div>
      </div>
    </div>
  </article>
</main>
{% endblock %}