{% extends 'base.html' %}
{% load static %} {% load age %} {% load specs_price %}
<!-- Head Elements -->
{% block title %}{% block og_title %}{% block tw_title %}{% block tw_img_alt %}{{ obj.meta_title }}
{% endblock %}{% endblock %}{% endblock %}{% endblock %}

{% block description %}{% block og_description %}{% block tw_description %}{{ obj.meta_description }}
{% endblock %}{% endblock %}{% endblock %}

{% block tw_url %}{% block og_url %}{% block can_url %}{{ request.build_absolute_uri }}{% endblock %}
{% endblock %}{% endblock %}

{% block content %}
<!-- Page Header and Breadcrumb -->
<nav aria-label="breadcrumb" class="container-fluid border-bottom bg--dark">
  <ol class="breadcrumb mb-0 p-2 d-flex">
    <li class="breadcrumb-item"><a class="text-12px text--light" href="{% url 'wiki' %}">Wiki</a>
    </li>
    <li class="breadcrumb-item active text-12px align-self-end text--light" aria-current="page">
      {{ obj.meta_title }}
    </li>
  </ol>
</nav>
<main class="container-fluid bg-white">
  <article class="row pt-4 pt-md-5">
    <div class="col-lg d-none d-lg-block border-end-lg" style="max-width: 180px;">
      <nav class="text-12px border position-sticky top-0" aria-label="table of contents">
        <h2 class="bg--dark fw-semibold p-2 fs-6 text-uppercase">On this page</h2>
        <ol class="lh-lg">
          <li><a href="#early_life">Early Life</a></li>
          <li><a href="#career">Career</a></li>
          <li><a href="#team_history">Team History</a></li>
          <li><a href="#achievements">Achievements</a></li>
          <li><a href="#controversies">Controversies</a></li>
        </ol>
      </nav>
    </div>
    <div class="col-lg">
      <div class="d-flex flex-column flex-md-row-reverse">
        <div class="col-12 col-md-4">
          <div class="overview d-block d-md-none">
            <h1 class="fs-3 fw-bold">{{ obj.title }} - <i>{{ obj.full_name }}</i></h1>
            {{ obj.overview|safe }}
          </div>
          <table class="mx-auto">
            <thead>
              <tr>
                <th colspan="2">
                  <figure class="d-block text-center figure mb-0">
                    <img class="figure-img img-fluid rounded-circle border border-3 border-primary img-profile"
                      src="{% static 'img/square.webp' %}" alt="{{ obj.title }}" title="{{ obj.title }}">
                    <figcaption>{{ obj.avatar.caption }}</figcaption>
                  </figure>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for field, value in obj.info_box.data.items %}
              <tr>
                <th scope="row">{{ field }}</th>
                <td>{{ value }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="col-12 col-md-8 heading-fix">
          <div class="overview d-none d-md-block">
            <h1 class="fs-3 fw-bold">{{ obj.title }} - <i>{{ obj.full_name }}</i></h1>
            {{ obj.overview|safe }}
          </div>
          <nav class="text-12px border d-inline-block d-lg-none mb-2" style="min-width: 180px;"
            aria-label="table of contents">
            <h2 class="bg--dark fw-semibold p-2 fs-6 text-uppercase">On this page</h2>
            <ol class="lh-lg">
              <li><a href="#early_life">Early Life</a></li>
              <li><a href="#career">Career</a></li>
              <li><a href="#team_history">Team History</a></li>
              <li><a href="#achievements">Achievements</a></li>
              <li><a href="#controversies">Controversies</a></li>
            </ol>
          </nav>
          <section class="text-14px pt-2">
            <h2 class="fs-4 fw-bold border-bottom pb-2" id="early_life">Early Life</h2>
            {{ obj.history|safe }}
          </section>
          <section class="text-14px pt-2">
            <h2 class="fs-4 fw-bold border-bottom pb-2" id="career">Career</h2>
            {{ obj.career|safe }}
          </section>
          <section class="text-14px pt-2">
            <h2 class="fs-4 fw-bold border-bottom pb-2" id="team_history">Team History</h2>
            {{ obj.team_history|safe }}
          </section>
          <section class="text-14px pt-2">
            <h2 class="fs-4 fw-bold border-bottom pb-2" id="achievements">Awards and Achievements</h2>
            {{ obj.achievements|safe }}
          </section>
          <section class="text-14px pt-2">
            <h2 class="fs-4 fw-bold border-bottom pb-2" id="controversies">Controversies</h2>
            {{ obj.controversies|safe }}
          </section>
        </div>
      </div>
    </div>
  </article>
</main>
{% endblock %}