@font-face {
  font-family: "sofia-pro";
  src: url("https://cdn.gamerstats.net/static/css/fonts/sofia-pro-700.woff2") format("woff2"), url("https://cdn.gamerstats.net/static/css/fonts/sofia-pro-700.woff") format("woff"),
    url("https://cdn.gamerstats.net/static/css/fonts/sofia-pro-700.otf") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "sofia-pro";
  src: url("https://cdn.gamerstats.net/static/css/fonts/sofia-pro-500.woff2") format("woff2"), url("https://cdn.gamerstats.net/static/css/fonts/sofia-pro-500.woff") format("woff"),
    url("https://cdn.gamerstats.net/static/css/fonts/sofia-pro-500.otf") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: "sofia-pro";
  src: url("https://cdn.gamerstats.net/static/css/fonts/sofia-pro-400.woff2") format("woff2"), url("https://cdn.gamerstats.net/static/css/fonts/sofia-pro-400.woff") format("woff"),
    url("https://cdn.gamerstats.net/static/css/fonts/sofia-pro-400.otf") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "sofia-pro";
  src: url("https://cdn.gamerstats.net/static/css/fonts/sofia-pro-400-I.woff2") format("woff2"), url("https://cdn.gamerstats.net/static/css/fonts/sofia-pro-400-I.woff") format("woff"),
    url("https://cdn.gamerstats.net/static/css/fonts/sofia-pro-400-I.otf") format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "sofia-pro";
  src: url("https://cdn.gamerstats.net/static/css/fonts/sofia-pro-600.woff2") format("woff2"), url("https://cdn.gamerstats.net/static/css/fonts/sofia-pro-600.woff") format("woff"),
    url("https://cdn.gamerstats.net/static/css/fonts/sofia-pro-600.otf") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}
