* {
  font-family: sofia-pro, sans-serif;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

.a {
  fill: #bac4ff;
  stroke: #3850d9;
  stroke-width: 14px;
}
.b {
  fill: #fff;
}

:root {
  --primary: #12162a;
  --secondary: rgb(10 14 34 / 51%);
  --border-primary: #1f253e;
  --indigo: rgb(79 70 229);
}

.bg-primary {
  background-color: var(--primary);
  --tw-bg-opacity: 1;
}

.bg-secondary {
  background-color: var(--secondary);
  --tw-bg-opacity: 1;
}

.bg-border {
  background-color: var(--border-primary);
}

.border-primary {
  border-color: var(--border-primary);
}

.from-primary {
  --tw-gradient-from: var(--primary);
  --tw-gradient-to: rgb(18 22 42 / 0.1);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.external-link:after {
  content: "";
  background-image: url(/static/img/external-white.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-left: 0.3em;
  vertical-align: middle;
}

.link-over:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.prose h3 {
  font-size: 1.5em;
  line-height: 1.7em;
  margin-top: 0.4em;
  margin-bottom: 0.2em;
  font-weight: 500;
}

.prose h3,
.prose h3 b,
.prose h3 strong .prose h4,
.prose h4 b,
.prose h4 strong {
  font-weight: 500;
}

.prose table {
  text-align: left;
  width: 100%;
}

.prose table tr {
  display: flex;
}

.prose table td,
.prose table th {
  width: 100%;
}

.prose p {
  margin-bottom: 0.6em;
}

.prose p:last-child {
  margin-bottom: 0;
}

.prose a {
  color: #9993ff;
}

.prose a:hover {
  text-decoration: underline;
}

.table-wrap {
  border-color: #303030;
}

.table-wrap table caption {
  font-size: 1.2em;
  font-weight: 600;
  padding: 0.8em 0;
  border-bottom: solid 1px #303030;
}

.table-wrap table thead,
.table-wrap table caption {
  background-color: var(--border-primary);
}

.table-wrap table tr {
  border-bottom: solid 1px var(--border-primary);
}

.table-wrap table td,
.table-wrap table th {
  padding: 0.5em 0.4em;
}

.table-wrap table thead th {
  color: rgb(132 204 22 / var(--tw-text-opacity));
  font-weight: 400;
}
